{% extends "layout.html" %}

{% block pageTitle %}
  Review employee answers - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar2.html" %}{% endblock %}

{% block content %}

<style>
.js-enabled .sticky-element--stuck-to-window {
bottom: 0;
position:;
}
.gem-c-print-link__button {
color: rgb(29, 112, 184);
cursor: pointer;
border-width: 1px;
border-style: solid;
border-color: rgb(177, 180, 182);
border-image: initial;
margin: 0px;
}
.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
color: rgb(11, 12, 12);
font-family: "GDS Transport", arial, sans-serif;
-webkit-font-smoothing: antialiased;
font-weight: 400;
list-style-type: none;
margin: 0px;
padding: 0px;
}
.gem-c-print-link__link, .gem-c-print-link__button {
background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
padding: 10px 10px 10px 36px;
text-decoration: none;
}


</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Review employee answers</h1>
          <form class="form" action="review-lm-answers" method="get">

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">
            Mr
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            Joseph
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Middle name
          </dt>
          <dd class="govuk-summary-list__value">
            John
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            Bloggs
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred name
          </dt>
          <dd class="govuk-summary-list__value">
            Joe
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary email address
          </dt>
          <dd class="govuk-summary-list__value">
            joe.bloggs@work.com
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary email address
          </dt>
          <dd class="govuk-summary-list__value">
            joe.bloggs@personal.com
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>


      </dl>

      <!--<h2 class="govuk-heading-m">Civil Service details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Civil Service <br> start date
          </dt>
          <dd class="govuk-summary-list__value">
            30 Mar 2020
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Civil Service start date</span>
            </a>
          </dd>
        </div>
      </dl>-->

      <h2 class="govuk-heading-m">Current job details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current Department
          </dt>
          <dd class="govuk-summary-list__value">
            Home Office
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            CAB1234567
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current grade
          </dt>
          <dd class="govuk-summary-list__value">
            Senior Civil Servant - Permanent Secretary
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Salary
          </dt>
          <dd class="govuk-summary-list__value">
            £45,000
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>-->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Temporary promotion
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            On loan
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home Department
          </dt>
          <dd class="govuk-summary-list__value">
            Companies House
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recent payslips
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">

            &nbsp;

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Line manager name
          </dt>
          <dd class="govuk-summary-list__value">
            Joe Bloggs
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Line manager email address
          </dt>
          <dd class="govuk-summary-list__value">
            johnsmith@homeoffice.gov.uk
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current level of security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            Baseline
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">New job details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New department
          </dt>
          <dd class="govuk-summary-list__value">
            Department for Education
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New level of security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            Full
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> New level of security clearance</span>
            </a>
          </dd>
        </div>-->

        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Town or city
          </dt>
          <dd class="govuk-summary-list__value">
            London
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Town or city</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Country</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Change of circumstance
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Change of circumstance</span>
            </a>
          </dd>
        </div>-->

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start date
                </dt>
                <dd class="govuk-summary-list__value">
                  28 July 2022
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>

              <!--<div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Salary
                </dt>
                <dd class="govuk-summary-list__value">
                  £55,000
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Salary</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Working pattern
                </dt>
                <dd class="govuk-summary-list__value">
                  Full time
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Working pattern</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  New grade
                </dt>
                <dd class="govuk-summary-list__value">
                  Grade 6 Equivalent
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">New grade</span>
                  </a>
                </dd>
              </div>-->

      </dl>

      <!--<h2 class="govuk-heading-m">Workplace adjustment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Formal workplace adjustment
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Workplace adjustment</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Workplace adjustment passport
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Workplace adjustment passport</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupational health report
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Occupational health report</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional comments
          </dt>
          <dd class="govuk-summary-list__value">
            I don't have an occupational health report. Is there an alternative I can submit?
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">Comments on workplace adjustment</span>
            </a>
          </dd>
        </div>

      </dl>-->

            <h2 class="govuk-heading-m">Transfer details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Fixed term
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nature of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Promotion
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Redeployment move
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>

            </dl>

            <!--<h2 class="govuk-heading-m">New job details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start date
                </dt>
                <dd class="govuk-summary-list__value">
                  12 March 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Start date</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Salary
                </dt>
                <dd class="govuk-summary-list__value">
                  £55,000
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Salary</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Working pattern
                </dt>
                <dd class="govuk-summary-list__value">
                  Full time
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Working pattern</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Grade
                </dt>
                <dd class="govuk-summary-list__value">
                  Grade 6 Equivalent
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Grade</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Department
                </dt>
                <dd class="govuk-summary-list__value">
                  Department for Education
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Department</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Bank details for payroll
                </dt>
                <dd class="govuk-summary-list__value">
                  Lloyds Bank<br>Joe Bloggs<br>12345678<br>10-12-14
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">

                    <span class="govuk-visually-hidden">Bank details for payroll</span>
                  </a>
                </dd>
              </div>

            </dl>-->

            <h2 class="govuk-heading-m">Student loan details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Student loan
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Student loan plan
                </dt>
                <dd class="govuk-summary-list__value">
                  Plan 2
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>

      </dl>

      <h2 class="govuk-heading-m">Tax details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job status since 6 April
        </dt>
        <dd class="govuk-summary-list__value">
          Statement A
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      </dl>

      <!--<h2 class="govuk-heading-m">Declaration</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Declaration
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">

            <span class="govuk-visually-hidden">Declaration</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Details updated on Civil Service Pension Portal
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">

            <span class="govuk-visually-hidden">Details updated on Civil Service Pension Portal</span>
          </a>
        </dd>
      </div>-->

      </dl>

<button class="govuk-link govuk-body-s gem-c-print-link__button" data-track-category="printButton" data-track-action="clicked" data-track-label="Print this page" data-module="print-link print-link" data-print-link-module-started="true">Print this page</button>
{% endblock %}
