{% extends "layout.html" %} 
{% block pageTitle %}
  Notification email - GOV.UK
{% endblock %}
{% set serviceName %}
{% endset%}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Complete the Civil Service staff transfer form</h1>
        <p class="govuk-body">Congratulations on your new role. You now need to complete the staff transfer form. The form covers your HR, payroll and security clearance transfer.</p>
        <p class="govuk-body">There are four sections to the form. You complete Sections 1 and 2. Your line manager and HR/shared services complete Sections 3 and 4.</p>
        <p class="govuk-body">To complete Section 1 you'll need your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>National Insurance number</li>
          <li>current department employee number</li>
          <li>Baseline Personnel Security Standard (BPSS) status</li>
          <li>level of security clearance</li>
          <li>last 2 months of payslips</li>
          <li>new department and job details</li>
        </ul>
       <p class="govuk-body"><a class="govuk-link" href="https://prototype-training.herokuapp.com/guidance/employee-guidance">Guidance on the staff transfer process</a> is on GOV.UK including:</p>
                <ul class="govuk-list govuk-list--bullet">
          <li>what to expect</li>
          <li>how to complete the form</li>
          <li>a step by step guide to the process</li>
      <p class="govuk-body">To progress your transfer you should now complete Section 1 of the <a class="govuk-link" href="https://transfer-an-employee-v4.herokuapp.com/start">staff transfer form</a>. You can complete this section all at once or return later.</p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
