{% extends "layout.html" %}

{% block pageTitle %}
Completion of staff transfer form (Section 4) needed
{% endblock %}

{% set serviceName %}
{% endset%}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Completion of staff transfer form (Section 4) needed</h1>
        <p class="govuk-body">
          Sarah Phillips has accepted a provisional job offer in another Government department. They have completed the first 2 sections of the Civil Service staff transfer form. Their line manager has completed Section 3.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body"> You now need to complete
          <a class="govuk-link" href="https://transfer-an-employee-v7.herokuapp.com/section-4/start-section4">Section 4 of the staff transfer form</a>
        </p>

        <h3 class="govuk-heading-s">In this section</h3>
    <p class="govuk-body">You need to review:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the employee’s answers to Sections 1 and 2</li>
  <li>their current manager’s answers to Section 3</li>
</ul>
  <p class="govuk-body">To complete Section 4, you will also need some information about the employee. You will need the employee’s:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>start date in the Civil Service</li>
    <li>loan end date (for employees already on loan to another department)</li>
    <li>contract type</li>
    <li>parental leave details (if any)</li>
<li>absence history</li>
<li>pay zone allowances and advances of salary and deductions, pay award (if any)</li>
<li>pension details</li>
  </ul>

      <p class="govuk-body">You can complete this section all at once or rerturn later</p>

<h3 class="govuk-heading-s">Timescale</h3>

<p class="govuk-body">Once you have completed Section 4, send the whole form to the Shared Services / HR team in the employee's new department. You should do this within 5 days.</p>


<p class="govuk-body"><a class="govuk-link" href="https://prototype-training.herokuapp.com/guidance/employee-guidance">Guidance on the staff transfer process</a>, including how to complete the form is on GOV.UK
</p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
