{% extends "layout.html" %} 
{% block pageTitle %}
  Notification email - GOV.UK
{% endblock %}
{% set serviceName %}
{% endset%}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Staff transfer: Section 1 completed</h1>
        <p class="govuk-body">You have now completed the Section 1 of the staff transfer form.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">Your transfer form has been sent to the vacancy holder in your new department.</p>
        <p class="govuk-body">Your new department will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>progress your pre-employment check</li>
          <li>contact you to agree a start date and salary</li>
        </ul>
        <p class="govuk-body">Your start date should be the first day of the month where possible.</p>
        <p class="govuk-body">When your start date and salary are confirmed by email, you will need to complete Section 2 of the staff transfer form. You will receive an email telling you when you need to do this.</p>
       <p class="govuk-body"><a class="govuk-link" href="https://prototype-training.herokuapp.com/guidance/employee-guidance">Guidance on the staff transfer process</a> is on GOV.UK including:</p>
                <ul class="govuk-list govuk-list--bullet">
          <li>what to expect</li>
          <li>how to complete the form</li>
          <li>a step by step guide to the process</li>
          </ul>
          
      <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>

      </div>
    </div>
  </main>
</div>
{% endblock %}
