<div class="user-bar">
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">sarah.phillips@gmail.com

    </li>
    <li>
      <a href="/account/login" id="user-signout">Sign out</a>
    </li>
  </ul>

</div>
<section class="dwp-key-details-bar" aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Transferee :</dt>
    <dd class="dwp-key-details-bar__primary">Transferee's name:</dd>
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__secondary"><span class="bolded">Joseph Bloggs</span></dd>

</dl>

</div>
</section>
