{% extends "layout.html" %}

{% block pageTitle %}
  Review employee answers - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Review employee answers</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">
            Mrs
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Middle name
          </dt>
          <dd class="govuk-summary-list__value">
            Jane
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            Phillips
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred name
          </dt>
          <dd class="govuk-summary-list__value">
            Sal
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary email address
          </dt>
          <dd class="govuk-summary-list__value">
            sarah.phillips@work.com
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary email address
          </dt>
          <dd class="govuk-summary-list__value">
            sarah.phillips@personal.com
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
        </div>


      </dl>

      <!--<h2 class="govuk-heading-m">Civil Service details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Civil Service <br> start date
          </dt>
          <dd class="govuk-summary-list__value">
            30 March 2020
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">Civil Service start date</span>
            </a>
          </dd>
        </div>
      </dl>-->

      <h2 class="govuk-heading-m">Current job details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current Department
          </dt>
          <dd class="govuk-summary-list__value">
            Department for Education
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            1234567
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current grade
          </dt>
          <dd class="govuk-summary-list__value">
            Grade 6
          </dd>
        </div>

        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Salary
          </dt>
          <dd class="govuk-summary-list__value">
            £45,000
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>-->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Temporary promotion
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            On loan
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recent payslips
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Line manager name
          </dt>
          <dd class="govuk-summary-list__value">
            Joe Bloggs
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Line manager email address
          </dt>
          <dd class="govuk-summary-list__value">
            joebloggs@moj.gov.uk
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current level of security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            SC
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">New job details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New department
          </dt>
          <dd class="govuk-summary-list__value">
            Cabinet Office
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New level of security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Town or city
          </dt>
          <dd class="govuk-summary-list__value">
            London
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Change of circumstance
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>

      </dl>

    </div>
  </div>
{% endblock %}
