{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How to move roles across the Civil Service: guidance for employees</h1>
        <h1 class="govuk-heading-l">Steps in the staff transfer process</h1>
<p class="govuk-body-l">This page explains what you need to do to follow the staff transfer process.</p>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 1: You accept a provisional job offer in a new department
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>You should follow the instructions in the emailed job offer.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 2: Complete Part A-1 of the staff transfer form
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body">Your new department will need the information from Part A-1 to help:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identify a need for baseline personnel security standard (BPSS)</li>
  <li>identify national security vetting (NSV) status</li>
  <li>start BPSS if needed</li>
  <li>start the transfer of your security clearance</li>
</ul>
        <p class="govuk-body">Your security clearance will be transferable unless there is:</p>
       <ul class="govuk-list govuk-list--bullet">
         <li>a risk flag</li> 
         <li>an issue with the transfer</li>
 </ul>     
        <p class="govuk-body">Some departments do not need all of the completed sections. Check with your new department to find out what information they need from you.</p>
        <div class="govuk-inset-text">
          <h3 class="govuk-heading-s">Example 1: I do not have a valid NSV. My role does not need NSV.</h3>
If you do not hold National Security Clearance you should complete Part A-1, sections 1-3.
</div>
         <div class="govuk-inset-text">
           <h3 class="govuk-heading-s">Example 2: My role needs valid NSV but I do not have it.</h3>
You should complete sections 1-4 of the staff transfer form. 
</div>
         <div class="govuk-inset-text">
           <h3 class="govuk-heading-s">Example 3: I have valid NSV for at least 3 months.</h3>
           You should complete sections 1-4 of the staff transfer form. Follow the instructions contained in your job offer. To avoid delays, you should contact the vacancy holder if you have any questions.
</div>
          <div class="govuk-inset-text">
           <h3 class="govuk-heading-s">Example 4: I do not know if I have a valid NSV.</h3>
           You should complete Part A-1 of the staff transfer form.
</div>
        <p class="govuk-body">Follow the instructions contained in your job offer. To avoid delays, you should contact the vacancy holder if you have any questions.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 3: Share your salary information with your new department and submit Part A-1
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>You should send Part A-1 to your vacancy holder unless your new department has instructed otherwise. You will also be asked to send your 2 most recent payslips to agree your new salary.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 4: Your new department does baseline personnel security standard (BPSS) checks
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">Your new department will contact you to progress your BPSS checks, including your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identity</li>
  <li>right to work in the UK</li>
  <li>right to work in the Civil Service</li>
  <li>criminal record (unspent convictions only)</li>
</ul>
     <p class="govuk-body">Some departments do this at interview, but they will not repeat the checks at this stage.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 5: Your start date is agreed
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body">Make sure both your current and new managers agree on a start date. It is strongly advised to agree a start date on the first of the month. Otherwise, this will have an effect on your pay. The most common examples are:</p>        
        <ul class="govuk-list govuk-list--bullet">
  <li>emergency tax applied</li>
  <li>under or overpayment of salary</li>
</ul>
     <p class="govuk-body">Remember to make arrangements for any outstanding:</p>
         <ul class="govuk-list govuk-list--bullet">
    <li>annual leave</li>
    <li>flexible working hours credit/debit</li>
 </ul>
     <p class="govuk-body">You should give your current department at least 1 calendar month notice.</p>
     <p class="govuk-body">You should always move before your new department’s payroll cut-off, even if your start date cannot be the first of the month. There is a payroll cut-off dates tab in the staff transfer form to help you find them.</p>
          <h3 class="govuk-heading-s">If you move after your new department’s payroll cut-off date</h3>
     <p class="govuk-body">Your new department will aim to add you to payroll as soon as possible.</p>        
     <p class="govuk-body">If you are not on payroll in time for your next payday you can:</p> 
                <ul class="govuk-list govuk-list--bullet">
  <li>arrange an emergency payment with your new Shared Services/HR team.</li>
  <li>wait until your next payday when your pay is backdated</li>
</ul>
     <p class="govuk-body">If you are overpaid, any overpayments will be recovered from you, not your new department. For example, if both your current and new department pay you for the same period.</p> 
     <p class="govuk-body">If you notice any issues with your pay, raise this immediately with your new line manager.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 6: You get confirmation of salary and start date
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>Following completion of pre-employment checks, you will receive confirmation of your salary and start date. You will then be asked to complete part A-2 of the staff transfer form.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 7: Complete Part A-2 of the staff transfer form
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">Complete Part A-2 and send it to your current manager along with Part A-1.</p>
        <p class="govuk-body">To help your manager and HR team complete steps 8 and 9</p>
        <p class="govuk-body">So the right information goes to your new department, check your details are up to date on your current HR system. For example, your contact details and that any sickness absences are right. Do this <strong>before</strong> you transfer and <strong>again</strong> in your new department and role.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 8: Your manager completes Part B
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>When complete they send it to your current Shared Services/HR team. Chase your manager if they have not done this within 2 days and copied you in.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 9: You will be set up with a new employee number and HR record to make sure you are paid. Your current department’s Shared Services/HR team complete Part C
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>They then send the complete form to your new department’s Shared Services/HR team. Chase them if they have not done this within 5 days and copied you in. Processing times can vary between departments.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 10: Your new line manager submits the appropriate new joiner form
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>For example the New Entrant Notification Form, or your new department’s equivalent.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 11: Your HR/payroll record is set up
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>You will be set up with a new employee number and HR record to make sure you are paid. If your pay is wrong when you start your new role raise the issue straight away. Tell your new manager and Shared Services/HR team. If you need to, escalate it to your HR Business Partner.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 12: You start your new role in the Civil Service
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">Congratulations on your new role. Your new line manager will make sure you have the equipment you need for your role.</p>
    <p class="govuk-body">When leaving your current department, make sure you follow their asset and information policy. Make arrangements to return your work laptop, mobile phone and security pass if you have not already.</p>
    </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Related guidance</h2>
        <p class="govuk-body"><a href="#" class="https://prototype-training.herokuapp.com/guidance/exporting-LM-guidance-intro.html">Guidance for exporting managers</a></p>
        <p class="govuk-body"><a href="#" class="https://prototype-training.herokuapp.com/guidance/importing-LM-guidance-intro.html">Guidance for importing managers</a></p>
      </div>
    </div>

  </main>
</div>
      </div>
    </div>
{% endblock %}
