{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}

<style>

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position:;
}
.gem-c-print-link__button {
    color: rgb(29, 112, 184);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    margin: 0px;
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: rgb(11, 12, 12);
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

</style>

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
	<div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
	<nav class="gem-c-contents-list" aria-label="Contents" role="navigation" data-module="gem-track-click">
	<h2 class="govuk-heading-m">
	Contents
	</h2>
  <ul class="govuk-list">
	  	<li><strong><a class="scroll-to" href="#intro">Introduction</a></strong></li>
		<li><a class="scroll-to" href="#who">Who does the staff transfer process apply to?</a></li>
		<li><a class="scroll-to" href="#how">How do I transfer?</a></li>
		<li><a class="scroll-to" href="#except">Exceptions</a></li>
		<li><a class="scroll-to" href="#what">What is included in the transfer process?</a></li>
		<li><a class="scroll-to" href="#support">If you need support with your transfer</a></li>
	  	<br>
	 	<li><strong><a class="scroll-to" href="#steps">Steps in the staff transfer process</a></strong></li>
		<br>
	  	<li><strong><a class="scroll-to" href="#principles">General principles and further information</a></strong></li>
		<li><a class="scroll-to" href="#eligibility">Eligibility</a></li>
		<li><a class="scroll-to" href="#probation">Probationary periods</a></li>
		<li><a class="scroll-to" href="#yours">Your transfer</a></li>
		<li><a class="scroll-to" href="#WPA">Workplace adjustments</a></li>
	  	<li><a class="scroll-to" href="#systems">Systems and processes</a></li>
	  	<li><a class="scroll-to" href="#pre-employment">Advice on pre-employment checks and security clearance</a></li>
		<li><a class="scroll-to" href="#student">Student loans</a></li>
		<li><a class="scroll-to" href="#pay">Pay and allowances</a></li>
	        <br>
	  	<li><strong><a class="scroll-to" href="#related_content">Related content</a></strong></li>
	</ul>
	</nav>

	<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
	<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
	</div>
	</div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How to move roles across the Civil Service: guidance for employees</h1>
        <p class="govuk-body-l">This guidance for employees explains the staff transfer process and what you need to do to change departments in the Civil Service.</p>
        <h2 class="govuk-heading-l" id="intro">Introduction</h2>
<h3 class="govuk-heading-m" id="who">Who does the staff transfer process apply to?</h3>
<p class="govuk-body">It applies to civil servants who are transferring permanently or on a loan of more than 6 months, between:</p>
<ul class="govuk-list govuk-list--bullet">
<li>departments</li>
<li>arm’s length bodies</li>
<li>non-departmental public bodies employing civil servants</li>
    </ul>
<p cass="govuk-body"><a href="https://www.gov.uk/government/organisations" class="https://www.gov.uk/government/organisations">Departments, agencies and public bodies</a> lists Government departments, non-departmental public bodies and other bodies.</p>
<p class="govuk-body">The staff transfer process also applies to civil servants transferring from the Northern Ireland Civil Service (NICS) and the Scottish and Welsh governments.</p>
<p class="govuk-body">To be eligible, your original appointment must be on merit and by <a href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">fair and open competition</a>.</p> 
<h2 class="govuk-heading-m" id="how">How do I transfer?</h2>
<p class="govuk-body">You will get an email confirming your provisional job offer from the relevant recruitment team. You should then follow the <a class="scroll-to" href="#steps">steps in the staff transfer process</a>.</p>
<p class="govuk-body">You will need to complete Parts A-1 and A-2 of the <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">staff transfer form</a>. Your current manager and HR/Shared Services will also complete parts B and C of the form. It is otherwise known as the Civil Service Employee Transfer (CSET) form. The form covers HR, payroll and security clearance transfer.</p>
<h2 class="govuk-heading-m" id="except">Exceptions</h2>
<p class="govuk-body">The staff transfer form is mandatory except:</p>
<ul class="govuk-list govuk-list--bullet">
	<li>for <a href="https://www.gov.uk/government/publications/machinery-of-government-changes-information" class="https://www.gov.uk/government/publications/machinery-of-government-changes-information">machinery of government changes</a>. For example, these involve whole business areas transferring between departments.</li>
  <li><a href="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector" class="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector">Cabinet Office statement of practice (COSOP)</a> moves</li>
  <li>if you are are a public sector worker. For example a teacher, police officer or you are staff employed by a local authority</li>
  <li>if you are transferring to a non-departmental public body who does not employ civil servants</li>
  <li>if you are a civil servant on a loan of less than 6 months</li>
</ul>
<h2 class="govuk-heading-m" id="what">What is included in the transfer process?</h2>
<p class="govuk-body">When you transfer to a new department, the process normally includes transferring your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>HR record</li>
  <li>pension details</li>
  <li>any current and valid security clearance you hold, including existing National Security Vetting (NSV) clearance</li>
  <li>any reasonable adjustments</li>
</ul>
<h2 class="govuk-heading-m" id="support">If you need support with your transfer</h2>        
<p class="govuk-body">You should follow this guidance. If you need further support with the staff transfer process you could:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ask your current line manager</li>
  <li>ask the vacancy holder</li>
  <li>check the job advert</li>
  <li>contact your vetting authority/cluster security unit</li>
  <li>check your department’s intranet for more information</li>
</ul>        
<br>
<br>	      
<h2 class="govuk-heading-l" id="steps">Steps in the staff transfer process</h2>
<h3 class="govuk-heading-m">Step 1: You accept a provisional job offer in a new department</h3>
<p class='govuk-body'>You should follow the instructions in the emailed job offer.</p>
<h3 class="govuk-heading-m">Step 2: Complete Part A-1 of the staff transfer form</h3>
      <p class="govuk-body">Your new department will need the information from Part A-1 to help:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identify a need for <a class="scroll-to" href="#BPSS">baseline personnel security standard (BPSS)</a></li>
  <li>identify <a class="scroll-to" href="#NSV">National Security Vetting (NSV)</a> status</li>
  <li>start BPSS if needed</li>
  <li>start the transfer of your security clearance</li>
</ul>
<p class="govuk-body">Your security clearance will be transferable unless there is a risk flag or an issue with the transfer.</p>
<p class="govuk-body">Not all departments need you to complete every section. Your new department will tell you if there are any sections they do not need. Check with them if you have any questions.</p>
<p class="govuk-body">If you hold a National Security Vetting (NSV) clearance level or you need one for your new role, this is part of your transfer.</p>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 1: I do not have a valid NSV. My role does not need NSV.</h4>
If you do not hold NSV Clearance level you should complete Part A-1, sections 1-3 of the staff transfer form.
</div>
         <div class="govuk-inset-text">
           <h4 class="govuk-heading-s">Example 2: My role needs valid NSV but I do not have it, or the level needed for the role.</h4>
You should complete Part A-1, sections 1-4 of the staff transfer form.
</div>
         <div class="govuk-inset-text">
           <h4 class="govuk-heading-s">Example 3: I have a valid NSV clearance level for at least 3 months.</h4>
           You should complete Part A-1, sections 1-4 of the staff transfer form. Follow the instructions contained in your job offer. To avoid delays, you should contact the vacancy holder if you have any questions.
</div>
          <div class="govuk-inset-text">
           <h4 class="govuk-heading-s">Example 4:  I do not know if I have a valid NSV clearance level.</h4>
           If you need a valid NSV clearance level for your new role, you will need to find out if you have it. Check your departmental intranet to find details of your security cluster/team. Once you have found out about your NSV clearance level, you should complete Part A-1 of the staff transfer form.
</div>
        <p class="govuk-body">Follow the instructions contained in your job offer. To avoid delays, you should contact the vacancy holder if you have any questions.</p>
<h3 class="govuk-heading-m">Step 3: Share your salary information with your new department and submit Part A-1</h3>
<p class='govuk-body'>You should send Part A-1 to your vacancy holder unless your new department has instructed otherwise. You will also be asked to send your 2 most recent payslips so your new salary can be calculated and confirmed.</p>
<h3 class="govuk-heading-m">Step 4: Your new department does baseline personnel security standard (BPSS) checks</h3>
<p class="govuk-body">Your new department will contact you to progress your BPSS checks, including your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identity</li>
  <li>right to work in the UK</li>
  <li>right to work in the Civil Service</li>
  <li>criminal record (unspent convictions only)</li>
</ul>
     <p class="govuk-body">Some departments do this at interview, but they will not repeat the checks at this stage.</p>
<h3 class="govuk-heading-m">Step 5: Your start date is agreed</h3>
<p class="govuk-body">Once your checks are complete, agree a start date with your current and new managers.</p>
<p class="govuk-body">It is strongly advised to agree a start date on the first of the month. Otherwise, this will have an effect on your pay. The most common examples are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>emergency tax applied</li>
  <li>under or overpayment of salary</li>
</ul>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Remember to make arrangements for any outstanding annual leave or flexible working hours credit/debit
  </strong>
</div>
<p class="govuk-body">You should give your current department at least 1 calendar month notice.</p>
<p class="govuk-body">You should always move before your new department’s payroll cut-off, even if your start date cannot be the first of the month. There is a payroll cut-off dates tab in the staff transfer form to help you find them.</p>
<h4 class="govuk-heading-s">If you move after your new department’s payroll cut-off date</h4>
<p class="govuk-body">Your new department will aim to add you to payroll as soon as possible.</p>
<p class="govuk-body">If you are not on payroll in time for your next payday you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>arrange an emergency payment with your new Shared Services/HR team.</li>
  <li>wait until your next payday when your pay is backdated</li>
</ul>
  <p class="govuk-body">If you are overpaid, any overpayments will be recovered from you, not your new department. For example, if both your current and new department pay you for the same period.</p>
  <p class="govuk-body">If you notice any issues with your pay, raise this immediately with your new line manager.</p>
<h4 class="govuk-heading-s">Workplace adjustments</h4>
  <p class="govuk-body">Your current and new line managers should discuss and agree the transfer of existing <a class="scroll-to" href="#WPA">workplace adjustments</a>. If your new department needs to order items to meet your needs, this may take time. This should be considered when agreeing your start date.</p>
  <h3 class="govuk-heading-m">Step 6: You get confirmation of salary and start date</h3>
 <p class='govuk-body'>Following completion of pre-employment checks, you will receive confirmation of your salary and start date. You will then be asked to complete Part A-2 of the staff transfer form.</p>
      <h3 class="govuk-heading-m">Step 7: Complete Part A-2 of the staff transfer form</h3>
 <p class="govuk-body">Complete Part A-2 and send it to your current manager along with Part A-1.</p>
 <p class="govuk-body">This is to help your manager and HR team complete steps 8 and 9</p>
 <p class="govuk-body">So the right information goes to your new department, check your details are up to date on your current HR system. For example, your contact details and that any sickness absences are right. Do this <strong>before</strong> you transfer and <strong>again</strong> in your new department and role.</p>
 <h3 class="govuk-heading-m">Step 8: Your manager completes Part B</h3>
 <p class='govuk-body'>When complete they send it to your current Shared Services/HR team. Chase your manager if they have not done this within 2 working days and copied you in.</p>
<h3 class="govuk-heading-m">Step 9: Your current department’s Shared Services/HR team complete Part C</h3>
 <p class='govuk-body'>They then send the complete form to your new department’s Shared Services/HR team. Chase them if they have not done this within 5 working days and copied you in. Processing times can vary between departments.</p>
<h3 class="govuk-heading-m">Step 10: Your new line manager submits the appropriate new joiner form</h3>
<p class='govuk-body'>For example the New Entrant Notification Form, or your new department’s equivalent.</p>
<h3 class="govuk-heading-m">Step 11: Your HR/payroll record is set up</h3>
<p class='govuk-body'>You will be set up with a new employee number and HR record to make sure you are paid. If your pay is wrong when you start your new role raise the issue straight away. Tell your new manager and Shared Services/HR team. If you need to, escalate it to your HR Business Partner. If your pay is wrong due to an incorrect tax code, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees" class="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees">contact HMRC</a>.</p>
<h3 class="govuk-heading-m">Step 12: You start your new role in the Civil Service</h3>
<p class="govuk-body">Congratulations on your new role. Your new line manager will make sure you have the equipment you need for your role.</p>
<p class="govuk-body">When joining your new department, make sure your agreed workplace adjustments are transferred and set up. You should also check that your information is right on your new department’s HR system once you have transferred into your new department and role.</p>
<br>
<br>	      
<h2 class="govuk-heading-l" id="principles">General principles and further information</h2>
<p class="govuk-body">This section explains the detail behind the staff transfer process.</p>
<h3 class="govuk-heading-m" id="eligibility">Eligibility</h3>
<p class="govuk-body">All civil servants recruited through <a href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">fair and open competition</a> can apply for, or be considered for a staff transfer on:</p>
<ul class="govuk-list govuk-list--bullet">
<li>a level grade</li>
<li>a lower grade</li>
<li>promotion</li>
    </ul>
<p class="govuk-body">Also eligible to apply:</p>
<ul class="govuk-list govuk-list--bullet">
<li>employees in crown non-departmental public bodies</li>
<li>employees in accredited non-crown, non-departmental public bodies (accredited by the Civil Service Commission)</li>
<li>employees transferring from the Northern Ireland Civil Service (NICS) and the Scottish and Welsh governments</li>
</ul>
<p class="govuk-body">Employees transferring to the NICS should contact the vacancy holder to check if they will honour your continuous service.</p>
<h3 class="govuk-heading-s" id="probation">Probationary periods</h3>
<p class="govuk-body">If you are on a probationary period, the job advert should clarify eligibility to transfer. If you are not sure if you are eligible, contact your HR Business Partner.</p>
<h2 class="govuk-heading-m" id="yours">Your transfer</h2>
<p class="govuk-body">Make sure you understand the terms of your transfer in full, including any effect on your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>allowances</li>
  <li>annual leave allowance</li>
  <li>entitlement to occupational maternity/paternity pay</li>
  <li>payments into any childcare voucher scheme</li>
  <li>pension contributions</li>
  <li>performance award/bonus</li>
  <li>salary</li>
  <li>terms and conditions of employment</li>
</ul>
<p class="govuk-body">This list is not exhaustive.</p>
<p class="govuk-body">Refer to your job advert or check with your vacancy holder for more details about terms and conditions. Remember, your current department will pay you until your last working day with them.</p>
<p class="govuk-body">Check how your performance award/bonus will be paid if this applies. Speak to your current manager, then your new manager to find out.</p>
<p class="govuk-body">You will get an employment contract on or before your start date. If you do not, contact your line manager or HR team. You keep employment rights related to length of service. For example, annual leave and pension.</p>
<h2 class="govuk-heading-m" id="WPA">Workplace adjustments</h2>
<p class="govuk-body">Workplace adjustments are changes to remove or reduce disadvantages in the workplace. They can be physical or non-physical changes to help employees.  They are sometimes known as reasonable adjustments. Any agreed adjustments should be recorded in a Workplace Adjustment Passport. This should be up-to-date and agreed.</p> 
<p class="govuk-body">Your workplace adjustments might be known as ‘hard’ adjustments. For example, a chair, desk, or specialist computer software. ‘Soft’ adjustments may include: 
<ul class="govuk-list govuk-list--bullet">
  <li>changes to your start and finish times</li>
  <li>how you are allowed travel when on duty</li>
  <li>large print, braille or other formatting changes</li>
</ul>
<p class="govuk-body">Share and discuss your current Workplace Adjustment Passport with your new line manager. This should help make sure the adjustments you need are in place for your start date. If your new department needs to order items to meet your needs, this may take time. This should be considered when agreeing your start date.</p>
<h3 class="govuk-heading-s">If you have hard adjustments</h3>
<p class="govuk-body">Your current line manager decides which hard adjustments can transfer. Specialist chairs, footrests or other equipment should transfer instead of ordering new ones. For all adjustments, they will consider:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>cost effectiveness of transferring where buying new may be cheaper</li>
  <li>compatibility of software or IT equipment</li>  
</ul>
<p class="govuk-body">If you have any hard adjustments which cannot transfer, your current manager should tell your new department. The new department should buy any equipment to meet your needs in time for your start date.</p>
<h3 class="govuk-heading-s">If you have soft adjustments</h3>
<p class="govuk-body">Your new line manager should discuss any current soft adjustments with you. They should consider if these are necessary in your new role. Some soft adjustments may be specific to the role. For example, a later start time was agreed in your current role. In your new role this could be later as standard.</p> 
<h2 class="govuk-heading-m" id="systems">Systems and processes</h2>
<h3 class="govuk-heading-s">Your current department’s responsibilities</h3>
<p class="govuk-body"current_dept">Your current department is responsible for:</p>
<ul class="govuk-list govuk-list--bullet">
<li>following the process and providing accurate information to your new department with one calendar month notice. This allows for your transfer with minimal disruption to you and the department.</li>
<li>releasing you to your new role within 4-8 weeks. Excluding time taken to complete any vetting needed.</li>
<li>paying you until the day before you transfer.</li>
</ul>
<p class="govuk-body">If your transfer date is the first of the month, you should avoid any overpayments. These include non-recoverable aspects, for example increased:</p>
<ul class="govuk-list govuk-list--bullet">
<li>student loan payments</li>
<li>pension payments</li>
<li>national insurance payments</li>
</ul>
<h3 class="govuk-heading-s">Your new department’s responsibilities</h3>
<p class="govuk-body">Your new department is responsible for:</p>
<ul class="govuk-list govuk-list--bullet">
<li>completing your pre-employment checks</li>
<li>transfer of any valid security clearance</li>
<li>completing a new security clearance request if applicable</li>
<li>making sure you have a staff number and start date</li>
<li>setting up your HR record and paying you from your start date</li>
</ul>
<h2 class="govuk-heading-m" id="pre-employment">Advice on pre-employment checks and security clearance</h2>
<h3 class="govuk-heading-s">Pre-employment checks</h3>
<p cass="govuk-body">All staff transferring from other departments undergo some pre-employment checks. These are known as <a href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels#baseline-personnel-security-standard-bpss" class="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels#baseline-personnel-security-standard-bpss">Baseline Personnel Security Standard (BPSS)</a> checks. Some departments also refer to them as ‘basic’ or ‘baseline’ checks.</p>
<p cass="govuk-body">They help departments follow legislation to provide evidence of right to work, including:<p>
<ul class="govuk-list govuk-list--bullet">
<li>your right to work in the UK</li>
<li>your right to work in the Civil Service</li>
<li>your nationality and immigration status</li>
<li>an identity check</li>
</ul>
<p cass="govuk-body">Basic, standard or enhanced criminal record checks may be needed. Depending on your new role, you may need additional checks, for example:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>relationships with current prisoners</li>
  <li>safeguarding checks to work with children or vulnerable adults</li>
</ul>
<p cass="govuk-body"This list is not exhaustive.</p>
<p cass="govuk-body">The job advert should confirm the level of checking needed for the role. If you are not sure, check with your vacancy holder.</p>
<h3 class="govuk-heading-s">National Security Vetting</h3>
<p cass="govuk-body">In addition to BPSS checks, some roles need National Security Vetting (NSV), sometimes called security clearance:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Counter Terrorist Check (CTC)</li>
  <li>Security Check (SC)</li>
  <li>enhanced Security Check (eSC)</li>
  <li>Developed Vetting (DV)</li>
  <li>enhanced Developed Vetting (eDV)</li>
</ul>
<p cass="govuk-body">These are mandatory for certain job roles and locations. If you hold a National Security Vetting (NSV) clearance level or you need one for your new role, this is part of your transfer.  <a href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels" class="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels">National security vetting: clearance levels</a> explains the different levels in detail.</p>
<p cass="govuk-body">NSV sits with you, not your role.</p>
<p cass="govuk-body">If you have a valid NSV, it will be transferable if the expiry date is longer than 3 months. This is unless there is a risk flag or issue with the transfer.</p>
<p cass="govuk-body">You will be told if the transfer of your NSV will take more than 7 days. For example, active after care is present or NSV is not found.</p>
<p cass="govuk-body">You should <strong>always</strong> complete part A-1 of the staff transfer form. Only complete the NSV section if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your new role needs NSV - regardless of your current clearance</li>
  <li>you have valid NSV clearance - regardless of level, even if your new role does not need NSV clearance</li>
</ul> 
  <h4 class="govuk-heading-s" id="same_or_higher">If you transfer to a role with the same level of NSV or higher</h4>
<p cass="govuk-body">If you have clearance at the same level or higher it will normally transfer to your new department. Your new department is responsible for the transfer of NSV. They will ask you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>about the transfer of your clearance (if it applies)</li>
  <li>to complete part A-1 of the staff transfer form</li>
</ul>   
<p cass="govuk-body">If you do not have the same or higher level of NSV, you will need a new NSV check. You cannot agree your start date until after this is done.</p>
<p cass="govuk-body">Your new department will tell you which checks you need. To find out more you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ask the vacancy holder</li>
  <li>check the job advert</li>
  <li>contact your vetting authority/cluster security unit</li>
  <li>check your department’s intranet for more information</li>
</ul> 
<h3 class="govuk-heading-m" id="student">Student loans</h3>
<p cass="govuk-body">If you are repaying a student loan, you may do this through a deduction from your salary.</p>
<p cass="govuk-body">If you are transferring to a new department and you have a student loan, the <a href="https://www.gov.uk/repaying-your-student-loan/which-repayment-plan-you-are-on" class="https://www.gov.uk/repaying-your-student-loan/which-repayment-plan-you-are-on">repaying your student loan</a> page on GOV.UK explains the different repayment plans.</p>
<h2 class="govuk-heading-m" id="pay">Pay and allowances</h2>
<p cass="govuk-body">Your current department will pay you until your last working day with them. If this is at the end of the week it will be a Sunday. Your new department will pay you from your first working day with them.</p>
<p cass="govuk-body">If you are:</p>
<ul class="govuk-list govuk-list--bullet">
<li>transferring permanently</li>
<li>on a loan of more than 6 months</li>
</ul>
<p cass="govuk-body">your new department’s pay and reward policies will apply.</p>
<p cass="govuk-body">Your new department will confirm your basic pay. Individual departments are responsible for pay decisions.</p>
<h3 class="govuk-heading-m">Level transfers</h3>
<p cass="govuk-body">If you are transferring at the same grade, your basic pay will normally stay the same. Excluding:</p>
<ul class="govuk-list govuk-list--bullet">
<li>specialist pay or allowances</li>
<li>location allowances</li>
<li>unsocial hours payments</li>
</ul>
<p cass="govuk-body">This list is not exhaustive.</p>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 1</h4>
  <p cass="govuk-body">Your current basic pay is below the minimum of the new department’s pay range. Your new department will put you on the minimum basic pay for their grade.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2</h4>
  <p cass="govuk-body">Your basic pay is above the maximum of the new department’s pay range after level transfer. Your new department will put you on their maximum basic pay for your grade.</p>
  <p cass="govuk-body">The new department's mark time pay policy will decide if the amount above the maximum pay range will be:</p>
  <ul class="govuk-list govuk-list--bullet">
<li>lost</li>
<li>paid on a mark time basis</li>
</ul>
</div>
<h3 class="govuk-heading-m">Promotion</h3>
<p cass="govuk-body">If you are transferring on promotion, your basic pay will not normally include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>specialist pay or allowances</li>
<li>location allowances</li>
<li>unsocial hours payments</li>
</ul>
<p cass="govuk-body">This list is not exhaustive.</p>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 1</h4>
  <p cass="govuk-body">You are transferring on promotion. Your current pay is below the maximum basic pay for the grade. You may:</p>
  <ul class="govuk-list govuk-list--bullet">
<li>move to the bottom of the new grade pay scale</li>
<li>receive a per cent increase in basic pay (usually 10%)</li>
</ul>
   <p cass="govuk-body">whichever would be more.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2</h4>
  <p cass="govuk-body">You are transferring on promotion. Your basic pay is above the maximum of the new department’s pay range. The new department will place you on their maximum basic pay for the grade.</p>
  <p cass="govuk-body">The new department’s mark time policy will determine if the amount above the maximum pay range will be:</p>
   <ul class="govuk-list govuk-list--bullet">
<li>lost</li>
<li>paid on a mark time basis</li>
</ul>
</div>
<h3 class="govuk-heading-m">Allowances</h3>
<p cass="govuk-body">If you transfer or move on loan to a new department, allowances are not automatically kept. They are not consolidated into base pay. Your new department will decide on allowances payable to you following your transfer. Payment of an allowance may include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>location</li>
<li>specialist professions or skills</li>
<li>unsocial hours</li>
<li>recruitment and retention</li>
</ul>
<p cass="govuk-body">Your new department will make sure job adverts state relevant allowances for the role. If your new role does not have a specialist pay range or allowance, you will lose any existing specialist pay or allowances.</p>
<p cass="govuk-body">If allowances are kept or agreed as part of your job offer, these will be reviewed by your new department. The department’s pay, allowance and mark time policies could have an effect on these. If you are not sure, speak to your new line manager.</p>
<p cass="govuk-body">Departments have different location pay areas. You may not receive the same location pay or allowance, even if your location stays the same.</p>
<h3 class="govuk-heading-m">Performance awards</h3>
<h4 class="govuk-heading-s">End of year performance award</h4>
<p cass="govuk-body">If you transfer after your pay award is agreed, your old department will honour the payment. Departments keep payroll open for 6 months after transfers. so they can process any outstanding payments.</p>
<p cass="govuk-body">You should not receive two performance awards for the same period.</p>
<h4 class="govuk-heading-s">In-year performance award</h4>
<p cass="govuk-body">Outstanding in-year awards, either a voucher or cash award, should be paid before you transfer. If this is not possible, your old department should pay in-year awards to you within 3 months of the award date.</p>
<h3 class="govuk-heading-m">Loans</h3>
<p cass="govuk-body">The staff transfer process applies to employees on a loan of more than 6 months. It does not apply to short term loans of less than 6 months where there is no movement of payroll.</p>
<p cass="govuk-body">The <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies/loans-policy-combined-hr-and-finance-policy-and-process" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies/loans-policy-combined-hr-and-finance-policy-and-process">loans policy guidance</a> explains HR and financial implications to make decisions on loans easier for everyone. It includes details for loans of more than 6 months, and short term loans. If you have further queries about loans, contact your HR team or HR business partner.</p>
<h3 class="govuk-heading-m" id="under_and_overpayment">The effect of under or overpayment</h3>
<p cass="govuk-body">To avoid any payroll or tax issues, it is strongly advised to agree a start date of the first of the month.</p>
<p cass="govuk-body">If your old department is not told to remove you from payroll in time, you may be overpaid. You should consider payroll cut off dates and your start date when you move departments. Speak to your HR team to understand payroll cutoff dates.</p>
<p cass="govuk-body">If you are overpaid, do not spend this money. You will need to pay it back in a lump sum after tax. You should not feel any effect on your take home pay.</p>
<p cass="govuk-body">Your old department will contact you to recover any overpayment. This will be the salary for the time you did not work for them.</p>
<p cass="govuk-body">If returning the overpayment creates a particular hardship, contact your old department immediately. In extreme circumstances they may be able to support a gradual repayment.</p>
<p cass="govuk-body">If you notice any issues with your pay, raise this immediately.</p>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Overpayment example</h4>
  <p cass="govuk-body">The transfer of your HR record was completed after you started in your new department.</p>
  <p cass="govuk-body">You transferred to your new department in January 2022. Your old shared services/HR team were only told in March 2022 so your old department overpaid you by 2 months.</p>
  <p cass="govuk-body">When the overpayment ends, your old department contacts you to request you repay this. You should immediately repay the net figure to your old department.</p>
</div>
<h2 class="govuk-heading-l" id="related_content">Related content</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">Staff transfers: guidance for exporting managers</a></li>
    <li><a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">Staff transfers: guidance for importing managers</a></li>
    <li><a href="ttps://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">Recruitment principles from Civil Service commission</a> details fair and open competition.</li>
    <li><a href="https://www.gov.uk/government/organisations" class="https://www.gov.uk/government/organisations">Departments, agencies and public bodies</a> lists Government departments, NDPBs and other bodies.</li>
    <li><a href="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector" class="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector">Cabinet Office statement of practice (COSOP) moves</a></li>
    <li><a href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels" class="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels">National security vetting: clearance levels</a> explains the different levels in detail.</li>
    <li><a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service" class="https://www.gov.uk/government/organisations/disclosure-and-barring-service">Disclosure & Barring Service</a></li>
    <li><a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies/loans-policy-combined-hr-and-finance-policy-and-process" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies/loans-policy-combined-hr-and-finance-policy-and-process">Loans policy - combined HR and finance policy and process</a></li>
    <li><a href="https://www.gov.uk/repaying-your-student-loan" class="https://www.gov.uk/repaying-your-student-loan">Repaying your student loan</a></li>
</ul>
      </div>
    </div>

    <div data-sticky-element="" class="sticky-element sticky-element--enabled sticky-element--stuck-to-window">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
    </a>

        <div class="sticky-element__print-link">

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
        </div>
      </div>
{% endblock %}
