{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}

{% block beforeContent %}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How to move roles across the Civil Service: a guide for employees</h1>
         <p class="govuk-body-l">This guidance for employees explains the staff transfer process and what you need to do to change departments in the Civil Service.</p>
                <h2 class="govuk-heading-2">Contents</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Introduction</li>
  <li>Who does the staff transfer process apply to?</li>
  <li>Exceptions</li>
  <li>How do I transfer?</li>
    <li>National Security Vetting</li>
    <li>Steps in the staff transfer process</li>
    <li>Genral principles and futher information</li>
</ul>
      <h2 class="govuk-heading-2">Introduction</h2>
        <h2 class="govuk-heading-3">Who does the staff transfer process apply to?</h3>
        <p class="govuk-body">It applies to civil servants who are:</p>
        <ul class="govuk-list govuk-list--bullet">
  <li>moving between:</li>
      <li>
        <p>departments</p>
      </li>
      <li>
        <p>arm’s length bodies (ALBs)</p>
      </li>
      <li>
        <p>non-departmental public bodies (NDPBs) employing civil servants</p>
      </li>
    </ul>
  </li>
  <li>
    <p>transferring from the Northern Ireland Civil Service (NICS)</li>
  <li>
    <p>whose original appointment was on merit and by fair and open competition.</p>
  </li>
</ul>
         <h2 class="govuk-heading-2">Exceptions</h2>     
<p class="govuk-body">The staff transfer form is mandatory except for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>machinery of government changes</li>
  <li>Cabinet Office statement of practice (COSOP) moves</li>
  <li>if a NDPB employs public servants or you are a public servant</li>
  <li>loans of less than 6 months</li>
</ul>
         <h2 class="govuk-heading-2">How do I transfer?</h2>
<p class="govuk-body">You will get an email confirming your provisional job offer.</p>
<p class="govuk-body">You should then complete the staff transfer form. This is otherwise known as the Civil Service Employee Transfer (CSET) form. It covers HR, payroll and security clearance transfer. Your line manager and HR/shared services also have sections of the form to complete.</p>
      </div>
    </div>
{% endblock %}
