{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">How employees move roles across the Civil Service: General principles and further information</h1>
<p class="govuk-body-l">This page explains detail behind the staff transfer process.</p>
<h2 class="govuk-heading-m">Eligibility</h2>
<p class="govuk-body">All civil servants <a href="#" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">recruited through open and fair competition</a> can apply for, or be considered for a staff transfer on:</p>
<ul class="govuk-list govuk-list--bullet">
<li>a level grade</li>
<li>a lower grade</li>
<li>promotion</li>
    </ul>
<p class="govuk-body">Also eligible to apply:</p>
<ul class="govuk-list govuk-list--bullet">
<li>employees in crown non-departmental public bodies (NDPBs)</li>
<li>employees in accredited non-crown NDPBs (accredited by the Civil Service Commission)</li>
<li>employees transferring from the Northern Ireland Civil Service (NICS)</li>
</ul>
<p class="govuk-body">If employees are on a probationary period, the job advert should clarify their eligibility to transfer.</p>
<p class="govuk-body">If employees are not sure they are eligible to transfer, they should contact their HR Business Partner.</p>
<p class="govuk-body">Employees transferring to the NICS should contact the vacancy holder to check if they will honour their continuous service.</p>
<h2 class="govuk-heading-m">The employee’s transfer</h2>
<p class="govuk-body">Employees should understand the terms of their transfer in full, including any effect on their:</p>
<ul class="govuk-list govuk-list--bullet">
<li>allowances</li>
<li>annual leave allowance</li>
<li>entitlement to occupational maternity/paternity pay</li>
<li>payments into any childcare voucher scheme</li>
<li>pension contributions</li>
<li>performance award/bonus</li>
<li>salary</li>
<li>terms and conditions of employment</li>
</ul>
<p class="govuk-body">This list is not exhaustive. As the exporting line manager you should support the employee with their understanding of their transfer.</p>
<p class="govuk-body">Employees should refer to the job advert or check with their vacancy holder for more details about terms and conditions. The employee’s current department will pay the employee until their last working day with them.</p>
<p class="govuk-body">Employees should also check how their performance award/bonus will be paid if this applies. They should speak to you, then their new manager to find out.</p>
<p class="govuk-body">Employees will get an employment contract on or before their start date. If they do not, they should contact their new line manager. Employees keep employment rights related to length of service. For example, annual leave and pension.</p>
<h2 class="govuk-heading-m">Systems and processes</h2> 
<h3 class="govuk-heading-m">The current department’s responsibilities</h3>
<p class="govuk-body">The exporting department is responsible for:</p>
<ul class="govuk-list govuk-list--bullet">
<li>following the process and providing accurate information to the employee’s new department with one calendar month notice. This allows for their transfer with minimal disruption to the employee and department.</li>
<li>releasing the employee to their new role within 4-8 weeks. Excluding time taken to complete any vetting needed.</li>
<li>paying the employee until the day before they transfer.</li>
</ul>
<p class="govuk-body">If their transfer date is the first of the month, this should avoid any overpayments. These include non-recoverable aspects, for example increased:</p>
<ul class="govuk-list govuk-list--bullet">
<li>student loan payments</li>
<li>pension payments</li>
<li>National Insurance payments</li>
</ul>
<h3 class="govuk-heading-m">The new department’s responsibilities</h3>
<p class="govuk-body">The new department is responsible for:</p>
<ul class="govuk-list govuk-list--bullet">
<li>completing the employee's pre-employment checks</li>
<li>transfer of any valid security clearance</li>
<li>completing a new security clearance request if applicable</li>
<li>making sure the employee has a staff number and start date</li>
<li>setting up the employee's HR record and paying them from their start date</li>
</li>keeping in contact with the employee</li>
</ul>
<h2 class="govuk-heading-m">Pay and allowances</h2>
<p cass="govuk-body">The new department makes sure:</p>
<ul class="govuk-list govuk-list--bullet">
<li>pay</li>
<li>allowances (if they apply)</li>
<li>information on the terms of the post</li>
</ul>
<p cass="govuk-body">are clear in job adverts, agreed and recorded on time so the HR record can be set up.</p>
<p cass="govuk-body">If the employee is:</p>
<ul class="govuk-list govuk-list--bullet">
<li>transferring permanently</li>
<li>on a loan of more than 6 months</li>
</ul>
<p cass="govuk-body">their new department’s pay and reward policies will apply.</p>
<p cass="govuk-body">The current department will pay an employee’s salary until the date of transfer. If the employee’s first day in the new department is a Monday then their last day of service will be a Sunday. The new department will pay the employee from their first working day in their new role.</p>
<p cass="govuk-body">Individual departments are responsible for pay decisions. The employee should check their department’s intranet for further guidance.</p>
<h3 class="govuk-heading-m">Level transfers</h3>
<p cass="govuk-body">Basic pay in level transfers usually stays the same. It excludes, for example:</p>
<ul class="govuk-list govuk-list--bullet">
<li>specialist pay or allowances</li>
<li>location allowances</li>
<li>unsocial hours payments</li>
</ul>
<p cass="govuk-body">This list is not exhaustive.</p>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 1</h4>
  <p cass="govuk-body">The employee’s current basic pay is below the minimum of the new department’s pay range. Their new department will put them on the minimum basic pay for their grade.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2</h4>
  <p cass="govuk-body">The employee’s basic pay is above the maximum of the new department’s pay range after level transfer. Their new department will put them on their maximum basic pay for their grade.</p>
  <p cass="govuk-body">The new department's mark time pay policy will decide if the amount above the maximum pay range will be:</p>
  <ul class="govuk-list govuk-list--bullet">
<li>lost</li>
<li>paid on a mark time basis</li>
</ul>
</div>
<h3 class="govuk-heading-m">Promotion</h3>
<p cass="govuk-body">If an employee transfers on promotion, the new department will work out the basic pay for their new grade.</p>
<p cass="govuk-body">Existing civil servants who gain promotion may:</p>
<ul class="govuk-list govuk-list--bullet">
<li>move to the bottom of the new grade pay scale</li>
<li>receive a per cent increase in basic pay whichever would be greater</li>
</ul>
<p cass="govuk-body">The new department will confirm the basic pay per cent increase.</p>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example</h4>
  <p cass="govuk-body">You are transferring on promotion. Your current pay is below the maximum basic pay for the grade. You may:</p>
  <ul class="govuk-list govuk-list--bullet">
<li>move to the bottom of the new grade pay scale</li>
<li>receive a per cent increase in basic pay (usually 10%)</li>
</ul>
   <p cass="govuk-body">whichever would be more.</p> 
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2</h4>
  <p cass="govuk-body">An employee transfers to a new department on promotion. Their basic pay is above the top of the new department’s pay range. The new department will place the employee at the top of the basic pay for their grade. The new department's mark time policy will decide if the amount above the top of the pay range will be:</p>
   <ul class="govuk-list govuk-list--bullet">
<li>lost</li>
<li>paid on a mark time basis</li>
</ul>
</div>
<h3 class="govuk-heading-m">Allowances</h3>
<p cass="govuk-body">Allowances are not automatically kept when employees transfer or move on loan to a new department. They are not consolidated into base pay. The new department decides on payable allowances following transfer. Payment of an allowance may include:</p>
<ul class="govuk-list govuk-list--bullet"></p>
<li>location</li>
<li>specialist professions or skills</li>
<li>unsocial hours</li>
<li>recruitment and retention</li>
</ul>
<p cass="govuk-body">The new department will make sure job adverts state relevant allowances for the role.</p>
<h4 class="govuk-heading-s">If the role does not have a specialist pay range or allowance</h4>
<p cass="govuk-body">The employee will lose any existing specialist pay or allowances. The department’s pay, allowance and mark time policies could have an effect on these. If employees are not sure, they should speak to their new line manager.</p>
<h3 class="govuk-heading-m">Location</h3>
<p cass="govuk-body">Departments have different location pay areas. Employees may not receive the same location pay or allowance, even if their location stays the same.</p>
<h3 class="govuk-heading-m">Performance awards</h3>
<h4 class="govuk-heading-s">End of year performance award</h4>
<p cass="govuk-body">Entitlement depends on the transfer date to the employee’s new department.</p> 
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 1: An employee transfers after the old department’s settlement date</h4>
  <p cass="govuk-body">The old department will honour the payment. Departments keep payroll open for 6 months after transfers. This is so they can process any outstanding payments. Employees should not receive two performance awards for the same performance period.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2: An employee transfers before both department’s settlement dates. This is after the end of the performance year</h4>
  <p cass="govuk-body">Their new department will pay their award on their settlement date if appropriate.</p>
  <p cass="govuk-body">If it is not possible or practical for the old department to pay an employee’s performance award:</p>
  <ul class="govuk-list govuk-list--bullet"></p>
<li>the expectation is that the new department will honour the payment</li>
</ul>
</div>
<p cass="govuk-body">In-year awards should be paid before employees transfer from their old department. Either as a voucher or cash award.</p>
<h4 class="govuk-heading-s">If this is not possible</h4>
<p cass="govuk-body">The old department should pay in-year awards to employees within 3 months of the award date. There should be no reason to transfer the liability to the new department.</p>
<h3 class="govuk-heading-m">Loans of more than 6 months</h3>
<p cass="govuk-body">These examples These examples are for people on a long-term cross government loan of 6 months or more. They need a payroll transfer between departments. This guidance does not apply to short term loans because there is no movement of payroll. </p>
<p cass="govuk-body">In these examples, the definitions are:</p>
  <ul class="govuk-list govuk-list--bullet"></p>
<li>host means the department you are on loan to</li>
<li>home means the department you are on loan from</li>
<li>new department means any external department/government organisation. It does not mean the host or home department</li>
</ul>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 1: Completion of loan over 6 months. Return to home department</h4>
  <p cass="govuk-body">The employee should complete the staff transfer form. They should state that this is a return from loan.</p> 
  <p cass="govuk-body">The host department line manager completes part B of the staff transfer form.</p>
  <p cass="govuk-body">The host department shared services/HR team completes part C. They should complete this process to avoid an overpayment.</p>
  <p cass="govuk-body">If security clearance is transferred for the loan, it needs to return to the host department. Use part A-1 of the staff transfer form to do this.</p>
  <p cass="govuk-body">The home department should confirm the employee’s salary upon return.</p>
  <p cass="govuk-body">The host department will remove the employee from payroll. This will be 1 calendar day before the employee's start date back at their home department.</p> 
  <p cass="govuk-body">At least 4 weeks notice should be given before the start date. The transfer date should take into account payroll cut-off dates of both departments.</p>
  <p cass="govuk-body">The home department will add the employee to payroll from their start date. Or, reinstate them if the payroll is frozen. They will take into account any changes in salary.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2: Employee stays at host department - permanent level transfer</h4>
  <p cass="govuk-body">The staff transfer process is not needed. There is no payroll transfer.</p> 
  <p cass="govuk-body">The host department converts the employee to permanent status following their internal guidance. This may happen as a managed move or through a recruitment process.</p>
  <p cass="govuk-body">The host department tells the home department of the permanent transfer. This for the home department to remove any potential end date of loan from their HR/ payroll system. The employee’s record terminates (if applicable).</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 3: Employee stays at host department - permanent level transfer</h4>
  <p cass="govuk-body">The staff transfer process is not needed as there is no payroll transfer. Follow recruitment practices for the promotion. The host department converts the employee to permanent status following internal guidance.</p> 
  <p cass="govuk-body">Host department tells the employee's home department of the promotion. The home department removes any potential end date of loan from their HR/ payroll system. The employee’s record terminates (if applicable).</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 4: Employee moves to new department during a loan</h4>
  <p cass="govuk-body">The employee’s move is not to a host or their home department. They are not returning to a host department.</p> 
  <p cass="govuk-body">The employee follows the staff transfer process.</p>
  <p cass="govuk-body">The host department completes parts B and C as the active payroll provider. They notify the home department of the permanent transfer to another government organisation.</p> 
  <p cass="govuk-body">The home department will remove any end of loan date from their HR/ payroll system. They will end the employee’s record if applicable.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 5: Leaving the Civil Service during a loan</h4>
  <p cass="govuk-body">The employee follows the normal termination process with their host department. They are the active payroll provider.</p> 
  <p cass="govuk-body">The host department tells the home department the employee has resigned. The home department terminates the employee’s record if required.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 6: Short term loans</h4>
  <p cass="govuk-body">For all short term loans of less than 6 months that convert into either:</p> 
    <ul class="govuk-list govuk-list--bullet"></p>
  <li>a long term loan</li>
  <li>a permanent transfer (level transfer or promotion)</li> 
  <p cass="govuk-body">follow the staff transfer form and process. There is no payroll transfer.</p> 
  <p cass="govuk-body">The home department is the active payroll provider. They must complete parts B and C of the staff transfer form.</p>
</div>
      </div>
    </div>
{% endblock %}
