{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How to move roles across the Civil Service: guidance for vacancy holders and exporting managers</h1>
         <p class="govuk-body">This guidance for employees explains the staff transfer process for</p>
        <ul class="govuk-list govuk-list--bullet">
<li>exporting line managers</li>
<li>vacancy holders</li>
    </ul>
    <p class="govuk-body">It explains what you need to do to support staff transfers in the Civil Service.</p>
<h2 class="govuk-heading-m">Contents</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="scroll-to" href="#intro">Introduction</a></li>
  <li><a class="scroll-to" href="#who">Who does the staff transfer process apply to?</a></li>
  <li><a class="scroll-to" href="#how">How do I transfer?</a></li>
  <li><a class="scroll-to" href="#except">Exceptions</a></li>
  <li>National Security Vetting (NSV)</a></li>
  <li>Steps in the staff transfer process</a></li>
  <li>General principles and further information</a></li>
</ul>
        <h2 class="govuk-heading-m" id="intro">Introduction</h2>
<h3 class="govuk-heading-s" id="who">Who does the staff transfer process apply to?</h3>
<p class="govuk-body">It applies to civil servants who are moving between:</p>
<ul class="govuk-list govuk-list--bullet">
<li>departments</li>
<li>arm’s length bodies (ALBs)</li>
<li>non-departmental public bodies (NDPBs) employing civil servants</li>
    </ul>
<p class="govuk-body">and civil servants:</p>
<ul class="govuk-list govuk-list--bullet">
<li>transferring from the Northern Ireland Civil Service (NICS)</li>
  <li>whose original appointment was on merit and by fair and open competition.</li>
</ul>
<h2 class="govuk-heading-m" id="how">How do employees transfer?</h2>
<p class="govuk-body">They will get an email confirming a provisional job offer.</p>
<p class="govuk-body">They should then complete the <a href="#" class="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/997207/Civil_Service_Employee_Transfer_Form__9.xlsx">staff transfer form</a>. This is otherwise known as the Civil Service Employee Transfer (CSET) form. It covers HR, payroll and security clearance transfer. Their current line manager and HR/shared services also have sections of the form to complete.</p>
<p class="govuk-body">The staff transfer process puts the employee at the centre of the process. They are responsible for starting the transfer. The employee provides most of the information needed to progress their transfer, including:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>personal details</li>
  <li>current role information</li>
  <li>new role information</li>
</ul>
<p class="govuk-body">As their exporting line manager, you should complete Part 2 of the staff transfer form within 2 days of receipt, to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>approve the details the employee has provided</li>
  <li>start their removal from your department’s payroll</li>
</ul>
<p class="govuk-body">The importing manager will complete the New Entrant Notification (NEN). Some departments know this as the Joiner Notification.</p>
<p>You should follow this guidance along with leavers information on your departmental intranet.</p>
<h2 class="govuk-heading-m" id="except">Exceptions</h2>     
<p class="govuk-body">The staff transfer form is mandatory except for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>machinery of government changes</li>
  <li>Cabinet Office statement of practice (COSOP) moves</li>
  <li>if a NDPB employs public servants or you are a public servant</li>
  <li>loans of less than 6 months</li>
</ul>
      </div>
    </div>
{% endblock %}
