{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">How employees move roles across the Civil Service: General principles and further information</h1>
<p class="govuk-body-l">This page explains detail behind the staff transfer process.</p>
<h2 class="govuk-heading-m">Eligibility</h2>
<p class="govuk-body">All civil servants <a href="#" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">recruited through open and fair competition</a> can apply for, or be considered for a staff transfer on:</p>
<ul class="govuk-list govuk-list--bullet">
<li>a level grade</li>
<li>a lower grade</li>
<li>promotion</li>
    </ul>
<p class="govuk-body">Also eligible to apply:</p>
<ul class="govuk-list govuk-list--bullet">
<li>employees in crown non-departmental public bodies (NDPBs)</li>
<li>employees in accredited non-crown NDPBs (accredited by the Civil Service Commission)</li>
<li>employees transferring from the Northern Ireland Civil Service (NICS)</li>
</ul>
<p class="govuk-body">If employees are on a probationary period, the job advert should clarify their eligibility to transfer.</p>
<p class="govuk-body">If employees are not sure they are eligible to transfer, they should contact their HR Business Partner.</p>
<p class="govuk-body">Employees transferring to the NICS should contact the vacancy holder to check if they will honour their continuous service.</p>
<h2 class="govuk-heading-m">The employee’s transfer</h2>
<p class="govuk-body">Employees should understand the terms of their transfer in full, including any effect on their:</p>
<ul class="govuk-list govuk-list--bullet">
<li>allowances</li>
<li>annual leave allowance</li>
<li>entitlement to occupational maternity/paternity pay</li>
<li>payments into any childcare voucher scheme</li>
<li>pension contributions</li>
<li>performance award/bonus</li>
<li>salary</li>
<li>terms and conditions of employment</li>
</ul>
<p class="govuk-body">This list is not exhaustive. As the exporting line manager you should support the employee with their understanding of their transfer.</p>
<p class="govuk-body">Employees should refer to the job advert or check with their vacancy holder for more details about terms and conditions. The employee’s current department will pay the employee until their last working day with them.</p>
<p class="govuk-body">Employees should also check how their performance award/bonus will be paid if this applies. They should speak to you, then their new manager to find out.</p>
<p class="govuk-body">Employees will get an employment contract on or before their start date. If they do not, they should contact their new line manager. Employees keep employment rights related to length of service. For example, annual leave and pension.</p>
<h2 class="govuk-heading-m">Systems and processes</h2>
<h3 class="govuk-heading-s">The current department’s responsibilities</h3>
<p class="govuk-body">The exporting department is responsible for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>following the process and providing accurate information to the employee’s new department with one calendar month notice. This allows for their transfer with minimal disruption to the employee and department.
releasing the employee to their new role within 4-8 weeks. Excluding time taken to complete any vetting needed</li>
  <li>paying the employee until the day before they transfer</li>
</ul>
<p class="govuk-body">If their transfer date is the first of the month, this should avoid any overpayments. These include non-recoverable aspects, for example increased:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>student loan payments</li>
  <li>pension payments</li>
  <li>National Insurance payments</li>
</ul>
  <h3 class="govuk-heading-s">The new department’s responsibilities</h3>
  <p class="govuk-body">The new department is responsible for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>completing the employee's pre-employment checks</li>
  <li>transfer any valid security clearance</li>
  <li>completing a new security clearance request if needed</li>
  <li>making sure the employee has a staff number and start date</li>
  <li>setting up the employee's HR record and paying them from their start date</li>
  <li>keeping in contact with the employee during the transfer process</li>
  </ul>
  <p class="govuk-body">This list is not exhaustive.</li>
  <h2 class="govuk-heading-m">Pay and allowances</h2>
  <p class="govuk-body">The new department makes sure pay and allowances are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>clear in job adverts</li>
  <li>agreed</li>
  <li>recorded on time so the HR record can be set up</li>
</ul>
<p class="govuk-body">If the employee is transferring permanently, or on a loan of more than 6 months, their new department’s pay and reward policies will apply. Individual departments are responsible for pay decisions.</p>
<p class="govuk-body">The current department will pay an employee’s salary until the date of transfer. If the employee’s first day in the new department is a Monday then their last day of service will be a Sunday. The new department will pay the employee from their first working day in their new role.</p>
<h3 class="govuk-heading-s">Level transfers</h3>
<p class="govuk-body">Basic pay in level transfers usually stays the same. It excludes:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>specialist pay or allowances</li>
  <li>location allowances</li>
  <li>unsocial hours payments</li>
<p class="govuk-body">This list is not exhaustive.</p>
<p class="govuk-body">To help you support transferring employees, there are level transfer examples included in the guidance for employees.</p>
<h3 class="govuk-heading-s">Promotion</h3>
<p class="govuk-body">If an employee transfers on promotion, the new department will work out the basic pay for their new grade.</p>
<p class="govuk-body">Existing civil servants who gain promotion may:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>move to the bottom of the new grade pay scale</li>
  <li>receive a per cent increase in basic pay whichever would be greater</li>
</ul>
<p class="govuk-body">The new department will confirm the basic pay per cent increase.</p>
</p>To help you support transferring employees, there are promotion examples included in the guidance for employees.</p>
      </div>
    </div>
{% endblock %}
