{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How to move roles across the Civil Service: guidance for employees</h1>
         <p class="govuk-body-l">This page explains detail behind the staff transfer process.</p>
<h2 class="govuk-heading-m">Eligibility</h2>
        <p class="govuk-body">All civil servants recruited through open and fair competition can apply for, or be considered for a staff transfer on:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>a level move</li>
        <li>a lower grade</li>
        <li>promotion</li>
</ul>
        <p class="govuk-body">Also eligible to apply:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>employees in crown non-departmental public bodies (NDPBs)</li>
        <li>employees in accredited non-crown NDPBs (accredited by the Civil Service Commission)</li>
        <li>employees transferring from the Northern Ireland Civil Service (NICS)</li>
</ul>
        <p class="govuk-body">If you are on a probationary period, the job advert should clarify eligibility to transfer.</p>
                <p class="govuk-body">If you are not sure if you are eligible, contact your HR Business Partner.</p>
            <p class="govuk-body">Employees transferring to the NICS should contact the vacancy holder to check if they will honour your continuous service.</p>
        <h2 class="govuk-heading-m">Your transfer</h2>
        <p class="govuk-body">Make sure you understand the terms of your transfer in full, including any effect on your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>allowances</li>
          <li>annual leave allowance</li>
          <li>payments into any childcare voucher scheme</li>
          <li>pension contributions</li>
          <li>performance award/bonus</li>
          <li>salary</li>
          <li>terms and conditions of employment</li>
 </ul>
        <p class="govuk-body">Refer to your job advert or check with your vacancy holder for more details about terms and conditions. Remember, your current department will pay you until your last working day with them.</p>
        <p class="govuk-body">Allowances are not automatically kept on transfer or loan. They are not merged into basic salary. Your new department decides on allowances payable. Read pay and allowances for more information.</p>
        <p class="govuk-body">Check how your performance award/bonus will be paid if this applies. Speak to your current manager, then your new manager to find out.</p>
        <h2 class="govuk-heading-m">Systems and processes</h2>
        <h3 class="govuk-heading-m">Your current department’s responsibilities</h3>
        <p class="govuk-body">Your current department is responsible for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>following the process and providing accurate information to your new department with one calendar month notice. This allows for your transfer with minimal disruption to you and the department.</li>
          <li>releasing you to your new role within 4-8 weeks. Excluding time taken to complete any vetting needed.</li>
          <li>paying you until the day before you transfer.</li>
  </ul> 
        <p class="govuk-body">If your transfer date is the first of the month, you should avoid any overpayments. These include non-recoverable aspects, for example increased:</p>
           <ul class="govuk-list govuk-list--bullet">
          <li>student loan payments</li>
          <li>pension payments</li>
          <li>National Insurance payments</li>
  </ul> 
        <h3 class="govuk-heading-m">Your new department’s responsibilities</h3>
        <p class="govuk-body">Your new department is responsible for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>completing your pre-employment checks</li>
          <li>transfer of any valid security clearance</li>
          <li>completing a new security clearance request if applicable</li>
          <li>making sure you have a staff number and start date</li>
          <li>setting up your HR record and paying you from your start date</li>
   </ul>
       <h2 class="govuk-heading-m">Advice on pre-employment checks and security clearance</h2>
       <h3 class="govuk-heading-m">Pre-employment checks</h3>
       <p class="govuk-body">All staff transferring from other departments undergo some pre-employment checks. These are known as Baseline Personnel Security Standard checks.</p>
        <p class="govuk-body">They help departments follow legislation to provide evidence of right to work, including:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your right to work in the UK</li>
          <li>your right to work in the Civil Service</li>
          <li>your nationality and immigration status</li>
          <li>an identity check</li>
    </ul>
      <p class="govuk-body">Basic, standard or enhanced criminal record checks may be needed. The job advert should confirm the level of checking needed for the role. If you are not sure, check with your vacancy holder.</p>
       <h3 class="govuk-heading-m">National Security Vetting (NSV)</h3>
        <p class="govuk-body">You may need NSV for the role you are transferring to. "<a href="#" class="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels">National security vetting: clearance levels</a> on GOV.UK explains the different levels in detail.<p>
       <h4 class="govuk-heading-m">If you transfer to a role with the same level of NSV or higher</h4>
        <p class="govuk-body">If you have clearance at the same level or higher it will normally transfer to your new department. Your new department is responsible for the transfer of NSV. They will ask you:<p>
        <ul class="govuk-list govuk-list--bullet">
          <li>about the transfer of your clearance (if it applies)</li>
          <li>to complete part A-1 of the staff transfer form</li>
      </ul>
        <p class="govuk-body">If you do not have the same or higher level of NSV, you will need a new NSV check. You cannot agree your start date until after this is done.<p>
        <p class="govuk-body">Your new department will tell you which checks you need.<p>
        <p class="govuk-body">To find out more you can:<p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ask the vacancy holder</li>
          <li>check the job advert</li>
          <li>contact your vetting authority/cluster security unit</li>
          <li>check your department’s intranet for more information</li>
      </ul> 
        <h2 class="govuk-heading-m">Student loans explained</h2>
        <h2 class="govuk-heading-m">Plan 1</h2>
        <p class="govuk-body">You will have a plan 1 student loan if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you lived in Scotland or Northern Ireland when you started your course (undergraduate or postgraduate)</li>
          <li>you lived in England or Wales and started your undergraduate course before 1 September 2012</li>
       </ul>
        <h2 class="govuk-heading-m">Plan 2</h2>
        <p class="govuk-body">You will have a plan 2 student loan if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you lived in Englayour loan is a postgraduate healthcare loannd or Wales and started your undergraduate course on or after 1 September 2012
          <li>your loan is a part-time maintenance loan</li>
          <li>your loan is an advanced learner loan</li>
          <li>your loan is a postgraduate healthcare loan</li>
        </ul>  
         <h2 class="govuk-heading-m">Postgraduate loan</h2>
        <p class="govuk-body">You will have a Postgraduate loan if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you lived in England and started your postgraduate master’s course on or after 1 August 2016</li>
          <li>you lived in Wales and started your postgraduate master’s course on or after 1 August 2017</li>
          <li>you lived in England or Wales and started your postgraduate doctoral course on or after 1 August 2018</li>
        </ul> 
        <h2 class="govuk-heading-m">Pay and allowances</h2>
      </div>
    </div>
{% endblock %}
        
