{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How to move roles across the Civil Service: guidance for employees</h1>
         <p class="govuk-body-l">This page explains detail behind the staff transfer process.</p>
<h2 class="govuk-heading-m">Eligibility</h2>
        <p class="govuk-body">All civil servants recruited through open and fair competition can apply for, or be considered for a staff transfer on:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>a level move</li>
        <li>a lower grade</li>
        <li>promotion</li>
</ul>
        <p class="govuk-body">Also eligible to apply:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>employees in crown non-departmental public bodies (NDPBs)</li>
        <li>employees in accredited non-crown NDPBs (accredited by the Civil Service Commission)</li>
        <li>employees transferring from the Northern Ireland Civil Service (NICS)</li>
</ul>
        <p class="govuk-body">If you are on a probationary period, the job advert should clarify eligibility to transfer.</p>
                <p class="govuk-body">If you are not sure if you are eligible, contact your HR Business Partner.</p>
            <p class="govuk-body">Employees transferring to the NICS should contact the vacancy holder to check if they will honour your continuous service.</p>
        <h2 class="govuk-heading-m">Your transfer</h2>
        <p class="govuk-body">Make sure you understand the terms of your transfer in full, including any effect on your:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>ADD CONTENT
        <p class="govuk-body"></p>
          This is an example <a href="#" class="govuk-link">of a link</a> and some more text.
        </p>
      </div>
    </div>
{% endblock %}
