{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}

<style>

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position:;
}
.gem-c-print-link__button {
    color: rgb(29, 112, 184);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    margin: 0px;
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: rgb(11, 12, 12);
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

</style>

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
	<div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
	<nav class="gem-c-contents-list" aria-label="Contents" role="navigation" data-module="gem-track-click">
	<h2 class="govuk-heading-m">
	Contents
	</h2>
  <ul class="govuk-list">
	        <li><strong><a class="scroll-to" href="#intro">Introduction</a></strong></li>
		<li><a class="scroll-to" href="#who">Who does the staff transfer process apply to?</a></li>
		<li><a class="scroll-to" href="#how">How do employees transfer?</a></li>
		<li><a class="scroll-to" href="#except">Exceptions</a></li>
	  	<li><a class="scroll-to" href="#help">If you need help with the staff transfer process</a></li>
	        <br>
		<li><strong><a class="scroll-to" href="#steps">Steps in the staff transfer process</a></strong></li>
	        <br>
		<li><strong><a class="scroll-to" href="#salary_implications">Salary implications</a></strong></li>
	        <br>
		<li><strong><a class="scroll-to" href="#success">Summary of key points for a successful transfer</a></strong></li>
	        <br>
		<li><strong><a class="scroll-to" href="#principles">General principles and further information</a></strong></li>
		<li><a class="scroll-to" href="#eligibility">Eligibility</a></li>
		<li><a class="scroll-to" href="#probation">Probationary period</a></li>
		<li><a class="scroll-to" href="#systems_and_processes">Systems and processes</a></li>

		<li><a class="scroll-to" href="#pre-employment">Pre-employment checks</a></li>
		<li><a class="scroll-to" href="#workplace_adjustments">Workplace adjustments</a></li>
	  	<li><a class="scroll-to" href="#pay">Pay and allowances</a></li>
	  	<li><a class="scroll-to" href="#performance_awards">Performance awards</a></li>
		<li><a class="scroll-to" href="#loans">Loans</a></li>
	  	<br>
		<li><strong><a class="scroll-to" href="#salary_template">Salary template</a></strong></li>
	</ul>
	</nav>

	<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
	<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
	</div>
	</div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How to move roles across the Civil Service: guidance for importing managers</h1>
        <p class="govuk-body-l">This guidance for importing line managers explains the process for transferring employees across the Civil Service.</p>
        <p class="govuk-body">Guidance for <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">employees transferring across the Civil Service</a> and <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">exporting managers</a> provide an overview of the whole process.</p> 
        <h2 class="govuk-heading-l" id="intro">Introduction</h2>
<h3 class="govuk-heading-m" id="who">Who does the staff transfer process apply to?</h3>
<p class="govuk-body">It applies to civil servants who are transferring permanently or on a loan of more than 6 months, between:</p>
<ul class="govuk-list govuk-list--bullet">
<li>departments</li>
<li>arm’s length bodies</li>
<li>non-departmental public bodies employing civil servants</li>
    </ul>
<p class="govuk-body">It also applies to civil servants transferring from the Northern Ireland Civil Service (NICS) and the Scottish and Welsh governments.</p>
<p class="govuk-body">To be eligible, the employee’s original appointment must be on merit and by <a href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">fair and open competition</a>.</p>
<h2 class="govuk-heading-m" id="how">How do employees transfer?</h2>
<p class="govuk-body">They will get an email confirming their provisional job offer from the relevant recruitment team.</p>
<p class="govuk-body">They will need to complete Parts A-1 and A-2 of the <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">staff transfer form</a>. This is otherwise known as the Civil Service Employee Transfer (CSET) form. It covers HR, payroll and security clearance transfer. Their current line manager and HR/shared services also have sections of the form to complete.</p>
<p class="govuk-body">The staff transfer process puts the employee at the centre of the process. They are responsible for starting the transfer. The employee provides most of the information needed to progress their transfer. This includes personal details and information about both their current and new role.</p>
<p class="govuk-body">There are <a class="scroll-to" href="#steps">actions</a> for importing line managers/vacancy holders transferring an employee into their department. You should make sure the employee joins your department’s payroll by providing:</p>
<ul class="govuk-list govuk-list--bullet">
<li>salary</li>
<li>start date</li>
<li>security confirmation</li>
</ul>
<p class="govuk-body">You need to complete the New Entrant Notification (NEN) form or your department’s equivalent as quickly as possible.</p>
<h2 class="govuk-heading-m" id="except">Exceptions</h2>     
<p class="govuk-body">The staff transfer form is mandatory except for:</p>
<ul class="govuk-list govuk-list--bullet">
 <li><a href="https://www.gov.uk/government/publications/machinery-of-government-changes-information" class="https://www.gov.uk/government/publications/machinery-of-government-changes-information">machinery of government changes</a>. For example, these involve whole business areas transferring between departments</li>
  <li><a href="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector" class="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector">Cabinet Office statement of practice (COSOP)</a> moves</li>
  <li>public sector workers. For example teachers, the police and staff employed by local authorities</li>
  <li>employees transferring to a non-departmental public body who does not employ civil servants</li>
  <li>loans of less than 6 months</li>
</ul>
<h3 class="govuk-heading-m" id="help">If you need help with the staff transfer process</h3>                                   
<p class="govuk-body">If you need help, contact your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>line manager</li>
  <li>recruitment provider (if applicable)</li>
  <li>vacancy holder (if different from yourself)</li>
  <li>HR team/Shared Services</li>
  <li>HR Business Partner</li>
</ul>	      
<br>
<br>
<h2 class="govuk-heading-l" id="steps">Steps in the staff transfer process</h2>
<p class='govuk-body'>This section explains the steps to complete a staff transfer. Some steps in the transfer process are specific to the importing department. Follow these steps alongside your department's internal guidance to check for any differences.</p>
<h3 class="govuk-heading-m">Step 1: The employee accepts a provisional job offer in your department</h3>
<p class='govuk-body'>The employee should follow the instructions in the emailed job offer.</p>
<h3 class="govuk-heading-m">Step 2: The employee fills in security clearance information in Part A-1 of the staff transfer form</h3>
      <p class="govuk-body">You need the information from Part A-1 to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identify current and valid <a class="scroll-to" href="#pre-employment">baseline personnel security standards (BPSS)</a>
  <li>identify current and valid <a class="scroll-to" href="#nsv">national security vetting (NSV)</a></li>
  <li>transfer any existing security clearance</li>
  <li>start any new BPSS and security clearance needed</li>
</ul>
<p class="govuk-body">The employee's security clearance will be transferable unless there is a risk flag or an issue with the transfer.</p>
<p class="govuk-body">Your department may not need all sections of the transfer form completed. You should tell the employee if there are any sections they do not need to complete.</p>
<p class="govuk-body">The employee should follow the instructions contained in their job offer. To avoid delays, they may contact you if they have any questions.</p>
<h3 class="govuk-heading-m">Step 3: The employee shares their salary information and submits Part A-1</h3>
<p class='govuk-body'>The employee sends Part A-1 to you unless your department has instructed otherwise. They will also send their 2 most recent payslips for you to calculate their new salary. Contact the employee if you have not received their payslips within 4 working days.</p>
<h3 class="govuk-heading-m">Step 4: Your department carries out BPSS checks</h3>
<p class='govuk-body'>It is your department’s responsibility to carry out BPSS checks. These checks may be carried out by recruitment teams on behalf of your department. They include essential checks on the employee’s:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identity</li>
  <li>right to work in the UK</li>
  <li>right to work in the Civil Service</li>
  <li>criminal records check (if applicable)</li>	
</ul>
<p class="govuk-body"> Some departments do this at interview, but they will not repeat the checks at this stage.</p>
<p class="govuk-body">You should use the information contained in the employee’s Part A-1 to start any required checks.</p>
<p class="govuk-body">If the employee has current valid NSV:</p>
<ul class="govuk-list govuk-list--bullet">
<li>you will need to start a transfer of this security clearance with your Vetting Authority/Security Cluster</li>
</ul>
<p class="govuk-body">If the employee needs a higher level of NSV than they currently hold:</p>
<ul class="govuk-list govuk-list--bullet">
<li>you will need to start a new security clearance check</li>
</ul>
<p class="govuk-body">You need to respond to any additional requests from your vetting authority. This prevents delays to the transfer of security clearance.</p>      
<p class="govuk-body">If the employee has not had a criminal records check in the last 5 years you should arrange a new one.</p>      
<h4 class="govuk-heading-s">Following successful transfer or completion of security clearance</h4> 
<p class="govuk-body">Your security team will alert you to any risk flags. Consider your own due diligence about these risk flags. These can include medical conditions, both physical and mental. You should reflect upon the employee’s suitability for the role.</p>	      
<h3 class="govuk-heading-m" id="step_5">Step 5: You agree a start date</h3>
<p class="govuk-body">You agree a start date with the employee and their current manager. Do not do this until:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>BPSS checks are complete</li>
  <li>any NSV clearance the employee needs is complete or transferred</li>
</ul>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
	  It is strongly advised to agree a start date on the first of the month, otherwise this will have an effect on the employee's pay.
  </strong>	
</div>	      
<p class="govuk-body">The employee should move to your department <strong>before your payroll cut-off</strong>. Even if their start date cannot be the first of the month.</p>	      
<h4 class="govuk-heading-s">If you arrange a start date after your payroll cut-off</h4>	  
<p class="govuk-body">You should support the employee with an emergency payment. They will no longer be on their old department’s payroll.</p> 
<p class="govuk-body">The employee <strong>should not resign</strong> when transferring from their old department. This will affect their pension.</p>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
	  You must read the section of this guidance about <a class="scroll-to" href="#salary_implications">salary implications</a> to minimise any effects on the employee’s pay.
  </strong>
</div>	      
<h4 class="govuk-heading-s">If the employee has any workplace adjustments</h4>	
<p class="govuk-body">The employee’s current manager should discuss and agree the transfer of existing <a class="scroll-to" href="#workplace_adjustments">workplace adjustments</a> with you. If you have to order items to meet the employee’s needs, this may take time. This should be considered when agreeing their start date.</p>	      
<h3 class="govuk-heading-m">Step 6: You confirm the employee’s salary and start date</h3>
<p class='govuk-body'>Following completion of BPSS and relevant security clearance, you should send the employee confirmation of their new salary and start date.</p>
<h3 class="govuk-heading-m">Step 7: You start the onboarding process for your new employee</h3>
<p class="govuk-body">This process may vary by department. For example, completing the New Entrant Notification (NEN) form or other departmental equivalent. This allows the employee to join your department and be added to your payroll.</p>
<p class="govuk-body">It is your responsibility to follow your departmental process so HR receive the appropriate form. If you do not complete this step the employee will not be added to payroll or receive their IT equipment.</p>
<h3 class="govuk-heading-m" id="step8">Step 8: The employee completes Part A-2 of the staff transfer form</h3>
<p class='govuk-body'>You should tell the employee to complete Part A-2 of the staff transfer form. They send Parts A-1 and A-2 to their current manager to progress their transfer.</p>
<h3 class="govuk-heading-m">Step 9: The exporting manager completes Part B of the staff transfer form</h3>
<p class='govuk-body'>They will review the employee’s answers to Parts A1 and A2.</p>
<p class='govuk-body'>The exporting manager completes Part B and sends the updated form to their HR/Shared Services within 2 working days to start the offboarding process. The employee should receive a copy.</p>
<h4 class="govuk-heading-s">Timing</h4>
<p class='govuk-body'>The form should be sent to exporting HR/Shared Services at least 1 month before the employee’s transfer date. If the form is submitted with less than 1 month’s notice, this can have an effect on the employee’s pay. A start date on the first of the month should still be agreed where possible.</p>	
<h3 class="govuk-heading-m">Step 10: The exporting HR/Shared Services team complete Part C</h3>
<p class='govuk-body'>They then send the completed form to your department’s HR/Shared Services team.</p>
<p class='govuk-body'>The employee should chase their current HR/Shared Services if they have not done this within 5 days. Processing times can vary between departments.</p>
<h3 class="govuk-heading-m">Step 11: The employee’s HR/payroll record is set up on your payroll</h3>
<p class='govuk-body'>Your HR/Shared Services receive staff transfer form and the NEN or departmental equivalent. The employee will be set up with a new employee number and HR record to make sure they are paid.</p>
<p class='govuk-body'>If the employee’s pay is wrong when they start their new role, they should raise the issue with you or your Shared Services/HR team. If they need to, they should escalate it to their HR Business Partner. If their pay is wrong due to an incorrect tax code, the employee should <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees" class="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees">contact HMRC</a>.</p>
<h3 class="govuk-heading-m">Step 12: The employee leaves your department to start their new role in the Civil Service</h3>
<p class="govuk-body">Make sure the employee gets:</p>
<ul class="govuk-list govuk-list--bullet">
<li>their employee number</li>
<li>any training and equipment they need for their new role</li>
</ul>
<p class="govuk-body">You will need to consider if the employee needs:</p>
<ul class="govuk-list govuk-list--bullet">
<li>a loan agreement in place (if this applies)</li>
<li>an induction pack</li>
<li>any reasonable workplace adjustments</li>
<li>any assistive technology, for example screen reading software</li>
<li>to complete any mandatory training</li>
</ul>
<br>
<br>	
<h2 class="govuk-heading-l" id="salary_implications">Salary implications</h2>
<p class="govuk-body">Agree on a date for the employee to start in your department <strong>on the first of the month</strong>. If you do not, the employee will have problems with their pay.</p> 
<p class="govuk-body">If this is not possible then best practice is to move before payroll cut-off. Some departments change payroll cut-off dates regularly, so check your departmental intranet.</p>
<h3 class="govuk-heading-m">Salary implications of mid-month moves</h3>
<p class="govuk-body">Where a first of the month transfer is not possible, employees will have pay issues. HMRC will assume the employee has two employers, so the employee will be taxed twice.</p>
<p class="govuk-body">Depending on when the transfer form is completed, the employee may be under or overpaid.</p>
<h3 class="govuk-heading-m">Overpayments</h3>	
<p class="govuk-body">Overpayments should be avoided, they could result in increased:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>pension payments</li>
  <li>student loan payments</li>
</ul>
<p class="govuk-body">which the employee cannot recover.</p>	
<p class="govuk-body">Overpayments are claimed back from the employee, because departments cannot invoice each other. This is regardless of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>how long the overpayment has been made</li>
  <li>the amount of salary overpaid</li>
</ul>
<p class="govuk-body">As the employee’s new manager you should encourage them to check their pay once they have transferred. They should highlight any overpayments they notice in their pay. If the employee is overpaid, they must not spend this money. They will need to pay it back in a lump sum after tax.</p>
<h4 class="govuk-heading-s">Overpayment examples</h4>
	        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 1: The employee is overpaid by their old department</h4>
<p class="govuk-body">If the employee is paid by their old department after their transfer date, they should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>not spend money overpaid for the time that the employee did not work for them</li>
  <li>contact <strong>their old department’s HR team</strong></li>
</ul>
<p class="govuk-body">The employee will need to repay the additional salary to their old department.</p>
</div>
	        <div class="govuk-inset-text">
	<h4 class="govuk-heading-s">Example 2: The employee is overpaid by your department</h4>
<p class="govuk-body">If the employee’s pay is more than expected you should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>investigate what has caused the overpayment</li>
	<li>correct the employee’s pay through contacting <strong>your HR or payroll team</strong></li>
</ul>		
</div>
<h3 class="govuk-heading-m">Underpayments</h3>
<p class="govuk-body">Transferring on the first of the month is best practice. If the employee is not added to payroll on time, this may cause the employee’s pay to be incorrect. This can happen if the NEN form (or equivalent) is not completed on time for payroll.</p>
<p class="govuk-body">If the employee notices their pay is less than expected, they should raise this with you immediately.</p>
<h4 class="govuk-heading-m">Underpayment examples</h4>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 1: If an employee moves after your department’s payroll cut-off</h4>
This will cause an underpayment. The employee may need an emergency payment.
</div>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 2: If an employee moves before your department’s payroll cut-off</h4>
If importing managers do not complete tasks on time, this may cause an underpayment. The implications for an employee can be considerable. Emergency payments are unlikely to cover the whole of the employee’s salary.  
</div>
<h4 class="govuk-heading-m">If the staff transfer form and NEN (or equivalent) are not completed on time</h4>
<p class="govuk-body">Moving at the start of the month will not make sure the employee's pay is right. Missing payroll cut-off will result in the need for emergency payments. This is not likely to give the employee their full month's pay.</p>	
<br>
<br> 
<h2 class="govuk-heading-l" id="success">Summary of key points for a successful transfer</h2>
<p class="govuk-body">You should follow the <a class="scroll-to" href="#steps">steps in the staff transfer process</a>. For a successful transfer, consider the following points to minimise delays and/or errors.</p>
<h3 class="govuk-heading-m">Before the employee transfers to your department</h3>
<p class="govuk-body">Follow and track security clearance procedures. Security clearance is key to the employee starting work in your department.</p>
<p class="govuk-body">Keep the employee updated throughout the transfer process. Give them a named contact. Their transfer will be smoother if everyone involved is in contact.</p>
<p class="govuk-body">Your department’s terms and conditions may be different from the employee's old one. Make sure they understand any differences.</p>
<p class="govuk-body">Agree a start date with the employee and their current manager. The start date should be the first of the month. This minimises any possible effects on their pay. Payment errors lead to overpayments by exporting departments and incorrect:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>pay</li>
  <li>tax</li>	
  <li>pension payments</li>
</ul>
<p class="govuk-body">Make sure you consider payroll cut-off dates when agreeing a start date. Only agree a start date after:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>completing relevant BPSS checks</li>
  <li>agreeing security clearance transfer</li>
</ul>
<p class="govuk-body">Confirm the employee's new salary with them.</p>
<p class="govuk-body">Do you have a loan agreement in place (if applicable)?</p>	      
<p class="govuk-body">Complete the New Entrant Notification (NEN) form, or equivalent form. This makes sure the employee has a payroll record and is on your payroll from day one. Some departments may call this a NET (New Entrant Template) or Joiner Information.</p>	
<p class="govuk-body">Does the employee need any <a class="scroll-to" href="#workplace_adjustments">workplace adjustments</a>? Remember, if you need to order new equipment this may take time. </p>
<h3 class="govuk-heading-m" id=">Once the employee starts work in your department</h3>
<p class="govuk-body">For their start in their new role, make sure the employee is provided with:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>their staff number</li>
  <li>an induction pack (if applicable)</li>
  <li>equipment and training they need for their new role</li>	      
  <li>any assistive technology they may need</li>
</ul>
<p class="govuk-body">Make sure the employee is provided with information to help them on their first day in their new role. For example:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>their work location</li>
  <li>who they will report to</li>
  <li>where they will sit</li>
</ul>
<br>					 
<br>
<h2 class="govuk-heading-l" id="principles">General principles and further information</h2>
<p class="govuk-body">This section explains the details behind the staff transfer process.</p>
<h3 class="govuk-heading-m" id="eligibility">Eligibility</h3>
<p class="govuk-body">All civil servants recruited through <a href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">fair and open competition</a> can apply for, or be considered for a staff transfer on:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a level grade</li>
  <li>a lower grade</li>
  <li>promotion</li>
</ul>
<p class="govuk-body">Also eligible to apply:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>employees in crown non-departmental public bodies</li>
  <li>employees in accredited non-crown, non-departmental public bodies (accredited by the Civil Service Commission)</li>
  <li>employees transferring from the Northern Ireland Civil Service (NICS) and the Scottish and Welsh governments.</li>
</ul>
<p class="govuk-body">If employees are not sure they are eligible to transfer, they should contact their HR Business Partner.</p>
<p class="govuk-body">Employees transferring to the NICS should contact the vacancy holder to check if they will honour their continuous service.</p>
<h3 class="govuk-heading-m" id="probation">Employees on probationary periods</h3>
<p class="govuk-body">If employees are on a probationary period, the job advert should clarify their eligibility to transfer.</p>
<h3 class="govuk-heading-m" id="systems_and_processes">Systems and processes</h3>
<h4 class="govuk-heading-s">Exporting department’s responsibilities</h4>
<p class="govuk-body">Making sure information about employees is accurate and shared within the 4 week notice period for payroll. This allows for transfer with minimal disruption to employees and their department.</p>
<p class="govuk-body">Releasing employees to their new role within 4 to 8 weeks. This excludes time taken to complete any vetting needed.</p>
<p class="govuk-body">Paying employees until the day they transfer. This should avoid any overpayments. For example, increased student loan, pension or national insurance payments.</p>
<p class="govuk-body">Transferring employees should not start in their new role and department until:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>payroll transfer is confirmed</li>
  <li>their new department can pay them</li>
</ul>
<h4 class="govuk-heading-s">Your department’s responsibilities</h4>
<p class="govuk-body">Your responsibility is to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>complete pre-employment checks</li>
  <li>arrange transfer of any valid security clearance</li>
  <li>keep in touch with the employee</li>
  <li>make sure they have a staff number and start date</li>
  <li>pay the employee from their start date</li>
</ul>
<h2 class="govuk-heading-m" id="pre-employment">Pre-employment checks</h2>
<p class="govuk-body">All staff transferring from other departments undergo some pre-employment checks. These are known as <a href="https://www.gov.uk/government/publications/government-baseline-personnel-security-standard" class="https://www.gov.uk/government/publications/government-baseline-personnel-security-standard">Baseline Personnel Security Standard (BPSS)</a> checks. Some departments also refer to them as ‘basic’ or ‘baseline’ checks.</p>
<p class="govuk-body">They help departments follow legislation to provide evidence of right to work, including:</p>
<ul class="govuk-list govuk-list--bullet">
<li>right to work in the UK</li>
<li>right to work in the Civil Service</li>
<li>the employee’s nationality and immigration status</li>
<li>an identity check</li>
</ul>
<p class="govuk-body">Basic, standard or enhanced criminal record checks may be needed.</p>
<p class="govuk-body">The job advert should confirm the level of checking needed for the role.</p>
<h2 class="govuk-heading-m" id="nsv">National Security Vetting (NSV)</h2>
<p class="govuk-body">In addition to BPSS checks, some roles need National Security Vetting (NSV), sometimes called security clearance:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Counter Terrorist Check (CTC)</li>
  <li>Security Check (SC)</li>
  <li>enhanced Security Check (eSC)</li>
  <li>Developed Vetting (DV)</li>
  <li>enhanced Developed Vetting (eDV)</li>
</ul>
<p class="govuk-body">These are mandatory for certain job roles and locations. If the employee holds a National Security Vetting (NSV) clearance level or needs one for their new role, this is part of their transfer. <a href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels" class="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels">National security vetting: clearance levels</a> explains the different levels in detail.</p>
<p class="govuk-body">NSV sits with the employee, not their role.</p>
<p class="govuk-body">If employees have the same or higher level of NSV than is needed for their new role, this will normally transfer to your department. The employee will complete Part A-1 of the staff transfer form and submit this if:</p>		     
<ul class="govuk-list govuk-list--bullet">
  <li>they have valid NSV clearance to transfer</li>
  <li>the role requires NSV clearance</li>
</ul>		     
<p class="govuk-body">The new department is responsible for the transfer of NSV. You should support the employee with this.</p>
<p class="govuk-body">If employees do not have the same or higher level of NSV for their new role, they will need a new NSV check. You cannot agree their start date until after this is done.</p>
<p class="govuk-body">Depending on the employee’s new role, they may need additional checks, for example:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>relationships with current prisoners</li>
  <li>safeguarding checks to work with children or vulnerable adults</li>
  <li>other checks the role may need. For example, those not covered by NSV or Baseline personnel security standard (BPSS) checks</li>
</ul>
<p class="govuk-body">The employee should contact you to find out if they need any extra checks.</p>
<h4 class="govuk-heading-s">What checks need to be undertaken?</h4>	     	     
<p class="govuk-body">Core checks needed when moving between departments include:</p>		     
<ul class="govuk-list govuk-list--bullet">
  <li>right to work, every time an employee moves between departments. This is to make sure they have the right to work in the UK and in the Civil Service</li> 
  <li>identity check</li>
  <li>criminal records check (if applicable)</li>
</ul>	
<p class="govuk-body">When an employee moves departments, other parts of BPSS are not needed as standard.</p>
<h4 class="govuk-heading-s">When criminal record checks are needed</h4>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 1:</h4>
Employee has had BPSS in the last 5 years. Do not repeat criminal record check.
</div>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 2:</h4>
Employee has a valid NSV. Do not repeat criminal record check.
</div>				
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 3:</h4>
Employee has not had BPSS in the last 5 years. Employee does not have a valid NSV. Do a criminal records check.
</div>				
<h3 class="govuk-heading-m">NSV and transfers advice for line managers and vacancy holders</h3>				
<p class="govuk-body">To start transferring national security vetting for your incoming employee:</p>
<p class="govuk-body">The incoming employee completes Part A-1 of the staff transfer form and sends this to you. You must submit this to your vetting authority.  For example, your Cluster Security Unit (CSU), departmental vetting authority or team. You should find their details on your departmental intranet.</p>
<p class="govuk-body">Your Vetting Authority/CSU should respond within 48 to 72 hours. They will confirm the employee’s security clearance level and expiry date. This is the initial security clearance confirmation and will tell you if a new clearance is needed. Your Vetting Authority/CSU may ask for more information.</p>
<p class="govuk-body">If valid NSV is confirmed, and you have completed all other parts of <a class="scroll-to" href="#step_5">Step 5</a>, you can agree on a start date. You can tell the employee they can continue the staff transfer process.</p>
<p class="govuk-body">If you need to carry out a new NSV, pause the transfer until this is done.</p>
<p class="govuk-body">The Vetting Authority or CSU does the formal transfer of security clearance following your department's current practice. This is done before the employee transfers payroll to the new department.</p>
<p class="govuk-body">Your Vetting Authority or CSU will contact you if they need your input. This is if there is:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>an adverse flag</li>
  <li>a restriction on the employee's security clearance file</li>
</ul>
<p class="govuk-body">They will also contact you if there are any potential delays in the transfer of NSV clearance.</a>
<p class="govuk-body">If clearance is needed for the employee to start in their new role, this could have an effect on the start date.</a>
<h2 class="govuk-heading-m" id="workplace_adjustments">Workplace adjustments<h2>
<p class="govuk-body">Workplace adjustments are changes to remove or reduce disadvantages in the workplace. They can be physical or non-physical changes to help employees. They are sometimes known as reasonable adjustments. Any agreed adjustments should be recorded in a Workplace Adjustment Passport. This should be up-to-date and agreed.</p>
<p class="govuk-body">An employee’s workplace adjustments might be known as ‘hard’ adjustments. For example, a chair, desk, or specialist computer software. ‘Soft’ adjustments may include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>changes to the employee’s start and finish times</li>
  <li>how they are allowed travel to, from and for work</li>
  <li>large print, braille or other formatting changes</li>
</ul>
<p>The employee should share and discuss their current Workplace Adjustment Passport with you. This should help make sure the adjustments the employee needs are in place for your start date. If you have to order items to meet the employee’s needs, this may take time. You should consider this when agreeing your start date.</p>
<h4 class="govuk-heading-s">If the employee has hard adjustments</h4>
<p class="govuk-body">The employee’s current line manager decides which hard adjustments can transfer. Specialist chairs, footrests or other equipment should transfer instead of ordering new ones. For all adjustments, they will consider:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>cost effectiveness of transferring where buying new may be cheaper</li>
  <li>compatibility of software or IT equipment</li>
  <li>if the employee has any hard adjustments which cannot transfer</li>
</ul>	
<p class="govuk-body">The employee’s current manager should discuss this with you. This is so you can buy any equipment to meet the employee’s needs in time for their start date.</p>	
	
<h4 class="govuk-heading-s">If the employee has soft adjustments</h4>
<p class="govuk-body">You should discuss any current soft adjustments with the employee. They should consider if these are necessary in your new role. Some soft adjustments may be specific to the role. For example, a later start time was agreed in the employee’s current role. In their new role this could be later as standard.</p>
<p class="govuk-body">Some soft adjustments may no longer be needed. For example, a later start time was agreed in the employee’s current role. In their new role this could be later as standard.</p>
<h3 class="govuk-heading-m">Carer's Passport<h3>
<p class="govuk-body">The need to re-negotiate flexibilities contained in an employee's <a href="https://www.gov.uk/government/publications/carers-passport" class="https://www.gov.uk/government/publications/carers-passport">Carer’s Passport</a> should be minimised when they transfer between departments.</p>	
<h3 class="govuk-heading-m" id="pay">Basic pay and allowances</h3>
<p class="govuk-body">The new department makes sure pay, allowances (if applicable) and other information on the terms of the post are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>clearly signposted on adverts</li>
  <li>agreed and recorded on time so the HR record can be set up</li>
</ul>
<p class="govuk-body">The employee will receive an employment contract on or before their start date. If they do not, they should contact you. Employees keep employment rights related to length of service. For example, annual leave and pension.</p>
<p class="govuk-body">The new department’s pay arrangements will normally apply for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>permanent transfers</li>
  <li>loans of more than 6 months</li>
</ul>
<p class="govuk-body">The current department will pay an employee’s salary until the date of transfer. If the employee’s first day in their new department is a Monday then their last day of service in their old department will be a Sunday. Your department will take up payment on the employee’s first working day with you.</p>
<p class="govuk-body">Individual departments are responsible for pay decisions below Senior Civil Service grades. This includes when an existing Civil Servant transfers into a new department.</p>
<p class="govuk-body">Check your departmental intranet for further guidance.</p>
<h3 class="govuk-heading-m">Level transfers</h3>
<p class="govuk-body">Basic pay normally stays the same for level transfers. Excluding:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>specialist pay or allowances</li>
  <li>location allowances</li>
  <li>unsocial hours payments</li>
</ul>
<p class="govuk-body">If the employee’s basic pay is below the minimum of your pay range, your department will place the employee on the minimum basic pay for their grade.</p>
<p class="govuk-body">If on level transfer, the employee's basic pay is above the maximum of the your department’s pay range, they will be put on the maximum basic pay for their grade.</p> 
<p class="govuk-body">Your department's mark time pay policy will decide if the amount above the maximum pay range will be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>lost</li>
  <li>paid on a mark time basis</li>
</ul>
<h3 class="govuk-heading-m">Promotion</h3>
<p class="govuk-body">If an employee transfers to your department on promotion</p> 
<p class="govuk-body">Your department will work out the basic pay for the employee’s new grade.</p>
<p class="govuk-body">Existing civil servants who gain promotion may:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>move to the bottom of their new grade's pay scale</li>
  <li>receive a per cent increase in basic pay</li>
</ul>
<p class="govuk-body">whichever would be greater. Your department will confirm the basic pay per cent increase.</p> 
<p class="govuk-body">An employee transfers on promotion with basic pay over the maximum of their new department’s pay range</p>
<p class="govuk-body">Your department will put the employee on their maximum basic pay for the grade. Your mark time policy will decide if the amount above the maximum pay range will be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>lost</li>
  <li>paid on a mark time basis</li>
</ul>
<h3 class="govuk-heading-m">Allowances</h3>
<p class="govuk-body">When employees transfer or move on loan to a new department, allowances are not automatically kept. They are not consolidated into base pay. The employee’s new department decides on payable allowances following transfer. Payment of an allowance may include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>location</li>
  <li>specialist, skills</li>
  <li>unsocial hours</li>
  <li>recruitment and retention</li>
</ul>		     
<p class="govuk-body">This list is not exhaustive.</p>
<p class="govuk-body">Your department will make sure job adverts state relevant allowances for the role. If the role does not have a specialist pay range or allowance, the employee will lose any existing specialist pay or allowances.</p>
<p class="govuk-body">Your mark time pay policy will decide if these are kept on a mark time basis.</p>
<h3 class="govuk-heading-m">Location</h3>
<p class="govuk-body">Pay departments have different location pay areas. The employee may continue to work in the same place. But, they should not assume that they will continue to be entitled to the same location pay or allowance.</p> 
<p class="govuk-body">Your department makes sure that the job advert sets out the location pay area. It should also state the:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>relevant location</li> 
  <li>pay range</li>
  <li>and/or location allowance</li>
</ul>		     
<h3 class="govuk-heading-m" id="performance_awards">Performance awards</h3>
<h4 class="govuk-heading-s">End of year performance award</h4>
<p class="govuk-body">Entitlement depends on the transfer date to the employee’s new department. Employees should not receive two performance awards for the same performance period.</p>     
<div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 1: An employee transfers after their old department’s settlement date</h4>
The old department will honour the payment. Departments keep payroll open for 6 months after transfers. This is so they can process any outstanding payments. 
</div>
<div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 2: An employee transfers before both their old and new department’s settlement dates. This is after the end of the performance year</h4>
Their new department will pay their performance award on their settlement date if appropriate. 
If it is not possible or practical for the old department to pay an employee’s performance award, the expectation is that the new department will honour the payment. 
</div>				     
<h4 class="govuk-heading-s">In-year performance award</h4>
<p class="govuk-body">In-year awards, either a voucher or cash award, should be paid before employees transfer from their old department.</p>
<h4 class="govuk-heading-s">If this is not possible</h4>
<p class="govuk-body">The old department should pay in-year awards to employees within 3 months of the award date. There should be no reason to transfer the liability to the new department.</p>
<h3 class="govuk-heading-m" id="loans">Loans of more than 6 months</h3>
<h4 class="govuk-heading-s">Loan examples</h4>
<p class="govuk-body">The <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies/loans-policy-combined-hr-and-finance-policy-and-process" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies/loans-policy-combined-hr-and-finance-policy-and-process">loans policy guidance</a> explains both the HR and financial implications to make decisions on loans easier for everyone. It includes details for loans of more than 6 months, and short term loans where there is no movement of payroll. If you or your employee have further queries about loans, contact your HR team or HR business partner.</p>		     
<p class="govuk-body">In this section, the definitions are:</p>			     
<ul class="govuk-list govuk-list--bullet">
  <li>Host: the department who the employee is on loan to</li>
  <li>Home: means the department the employee on loan from</li>
  <li>New department: any external department/government organisation. It does not mean the host or home department</li>
</ul>		     
<p class="govuk-body">These examples are for employees who are on long term loan - for more than 6 months. These moves need a payroll transfer between home and host departments. This section does not apply to short term loans because there is no movement of payroll.</p>		     
<div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 1: Completion of loan over 6 months. Return to home department</h4>
<p class="govuk-body">The employee should complete the staff transfer form, stating that this is a return from loan.</p>
<p class="govuk-body">The host department completes Parts B and C of the staff transfer form. They should do this to avoid an overpayment.</p>
<p class="govuk-body">If security clearance is transferred for the loan, it needs to return to the host department. Use Part A-1 of the staff transfer form to do this.</p>
<p class="govuk-body">The home department should confirm the employee’s salary upon return.</p>
<p class="govuk-body">The host department removes the employee from their payroll. This will be 1 calendar day before the employee's start date back at their home department.</p>
<p class="govuk-body">At least 4 weeks notice should be given before the start date. The transfer date should take into account payroll cut-off dates of both departments.</p>
<p class="govuk-body">The home department will:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>add the employee to payroll from their start date</li>
  <li>reinstate the employee if the payroll is frozen</li>
  <li>take into account any changes in salary</li>
</ul>					
</div>  	     
<div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 2: Employee stays at host department - permanent level transfer or promotion after more than 6 months on loan</h4>
<p class="govuk-body">The staff transfer process is not needed - there is no payroll transfer. The host department follows their internal guidance and changes the employee to permanent status. This may happen as a managed move or through a recruitment process.</p>
<p class="govuk-body">The host department notifies the home department of the permanent transfer. This is for the home department to remove any potential end date of loan from their HR/ payroll system. The employee’s record terminates (if applicable).</p>					
</div> 		     
<div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 2: Employee stays at host department - permanent level transfer or promotion after more than 6 months on loan</h4>
<p class="govuk-body">The staff transfer process is not needed - there is no payroll transfer. The host department follows their internal guidance and changes the employee to permanent status. This may happen as a managed move or through a recruitment process.</p>
<p class="govuk-body">The host department notifies the home department of the permanent transfer. This is for the home department to remove any potential end date of loan from their HR/ payroll system. The employee’s record terminates (if applicable).</p>					
</div>		     
<div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 3: Employee moves to new department during a loan of more than 6 months</h4>
<p class="govuk-body">The employee’s move is not to a host or their home department. The employee follows the staff transfer process. The host department completes Parts B and C of the staff transfer form. They notify the home department of the employee’s permanent transfer to another government organisation. The home department removes any end of loan date from their HR/ payroll system. They will end the employee’s record if applicable.</p>
</div>			     
<div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 4: Leaving the Civil Service during a loan of more than 6 months</h4>
<p class="govuk-body">The employee follows their host department’s normal termination process. The employee should refer to their host department’s intranet for guidance.</p>
<p class="govuk-body">The host department tells the home department the employee has resigned.</p>
<p class="govuk-body">The home department terminates the employee’s record if required.</p>
</div>
<h3 class="govuk-heading-m">Short term loans</h3>
<p class="govuk-body">Follow the staff transfer process for all short term loans. These are loans less than 6 months do not involve a payroll transfer and convert into either:</p>		     
<ul class="govuk-list govuk-list--bullet">
  <li>a long term loan</li>
  <li>a permanent transfer (level transfer or promotion)</li>
</ul>
<p class="govuk-body">There has been no payroll transfer. The home department must complete Parts B and C of the staff transfer form.</p>
<br>
<br>
<h2 class="govuk-heading-l" id="intro">Salary template</h2>
<p class="govuk-body">Insert Dept Header and date</p>
<p class="govuk-body">Dear [insert Employee Name]</p>
<p class="govuk-body">We can now confirm:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>validation of your existing National Security Vetting [delete as appropriate]</li>
  <li>receipt of a new National Security Vetting. [delete as appropriate]</li>
</ul>					 
<p class="govuk-body">Your start date at [insert dept name] is [insert date] as agreed by your line managers.</p>
<p class="govuk-body">We will start to transfer your security clearance between departments. Your move is dependent on there not being any restrictions or adverse flags on record. These may exclude you from your new role. [delete if not applicable].</p>
<p class="govuk-body">Based on the information provided in payslips, your new salary will be [insert figure]. [insert details of any pensionable allowances also payable/ any marked time elements]. London weighting [or equivalent] has been consolidated into base pay. It is not paid as a separate allowance [delete if not applicable].</p>
<p class="govuk-body">The [insert dept name] reserves the right to check the information you provided against your exporting department's records. Any discrepancy will revise the figure referenced above.</p>
<p class="govuk-body">We look forward to you starting in your new role.</p>
<p class="govuk-body">You can now complete Part A-2 of the staff transfer form on GOV.UK. You must complete this form as soon as possible. This enables an effective payroll transfer.</p>
<p class="govuk-body">Supporting guidance to help you with the form is also available on GOV.UK.</p>
<p class="govuk-body">Regards</p>
<p class="govuk-body">[Insert] Vacancy Holder Name</p>
<p class="govuk-body">[Insert] Vacancy Holder Title</p>				      
</div>
      </div>
    </div>

    <div data-sticky-element="" class="sticky-element sticky-element--enabled sticky-element--stuck-to-window">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
    </a>

        <div class="sticky-element__print-link">

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
        </div>
      </div>
{% endblock %}
