{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Steps in the staff transfer process</h1>
<p class="govuk-body-l">This page explains the steps in the staff transfer process, including actions for exporting line managers.</p>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 1: The employee accepts a provisional job offer in a new department
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>They should follow the instructions in the emailed job offer.</p>
    </div>
  </div>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          -Step 2: The employee completes part A-1 of the staff transfer form
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body">The employee's new department needs the information from Part A-1 to help:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identify a need for baseline personnel security standard (BPSS)</li>
  <li>identify national security vetting (NSV) status</li>
  <li>start BPSS if needed</li>
  <li>start the transfer of their security clearance</li>
</ul>
        <p class="govuk-body">The employee's security clearance will be transferable unless there is:</p>
       <ul class="govuk-list govuk-list--bullet">
         <li>a risk flag</li> 
         <li>an issue with the transfer</li>
 </ul>     
        <p class="govuk-body">Some departments do not need all of the completed sections. Employees should check with their new department to find out what information they need.</p>
        <p class="govuk-body">The employee should follow the instructions contained in their job offer. To avoid delays, they should contact the vacancy holder if they have any questions.</p>
    </div>
  </div>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 3: The employee shares salary information with their new department and submits Part A-1
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>The employee sends part A-1 to the vacancy holder unless their new department has instructed otherwise. They will also be asked to send their 2 most recent payslips to agree their new salary.</p>
    </div>
  </div>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 4: The employee’s new department does baseline personnel security standard (BPSS) checks
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">The employee’s new department will contact them to progress their BPSS checks, including:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identity</li>
  <li>right to work in the UK</li>
  <li>right to work in the Civil Service</li>
  <li>criminal record (unspent convictions only)</li>
</ul>
     <p class="govuk-body">Some departments do this at interview, but they will not repeat the checks at this stage.</p>
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 5: Agree a start date
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body">The current line manager agrees a start date with the employee’s new manager.</p>
      <p class="govuk-body">It is strongly advised to agree a start date on the first of the month. Otherwise, this will have an effect on the employee's pay.</p>        
      <p class="govuk-body">If the employee’s last working day with your department is a Friday, treat their last day as the Sunday.</p>
      <p class="govuk-body">Employees should always move before their new department’s payroll cut-off. Even if their start date cannot be the first of the month. Discuss payroll cut-off dates with the employee’s new department before agreeing a start date.</p>
      <p class="govuk-body">Do not agree a start date until:</p>
      <ul class="govuk-list govuk-list--bullet">
    <li>BPSS checks are complete</li>
    <li>any NSV clearance the employee needs is complete or transferred</li>
 </ul>
     <p class="govuk-body">The employee should not resign. They do not need to resign for staff transfers. This may affect their pension. </p>      
     <p class="govuk-body">When agreeing a start date, consider your business needs. Also consider the time it may take to fill critical roles. For example, does the employee need to:</p> 
      <ul class="govuk-list govuk-list--bullet">
  <li>upskill colleagues or hand over work</li>
  <li>return equipment, such as a laptop or mobile phone</li>
  <litake any annual leave</li>
  <li>balance any flexible hours</li>
</ul>
     <p class="govuk-body">You should also consider the employee’s performance report. Including who will be responsible for end of year marking and any performance pay award.</p> 
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 6: The employee gets confirmation of their salary and start date
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>Following completion of pre-employment checks, the employee receives confirmation of their salary and start date. They will then be asked to complete part A-2 of the staff transfer form.</p>
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 7: The employee completes part A-2 of the staff transfer form
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">The employee completes part A-2. They send it to you, as their current manager, along with part A-1.</p>
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 8: Their current line manager completes part B
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>As their current manager, you complete part B of the staff transfer form.</p>
      <p class='govuk-body'>Submit this to your HR/Shared Services within working 2 days and copy in the employee. </p>
      <p class='govuk-body'>The form should be sent to your HR/Shared Services at least a month before the employee’s transfer date.</p>
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 9: The employee will be set up with a new employee number and HR record so they can be paid. Their current HR/Shared Services team complete part C
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>They then send the complete form to your new department’s HR/Shared Services team. The employee should chase their current HR/Shared Services if they have not done this within 5 days. Processing times can vary between departments.</p>
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 10: The employee’s new line manager submits the appropriate new joiner form
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>For example the New Entrant Notification Form, or their new department’s equivalent.</p>
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 11: The employee’s new HR/payroll record is set up
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>The employee will be set up with a new employee number and HR record to make sure they are paid. If the employee’s pay is wrong when they start their new role, they should raise the issue straight away. They should tell their new manager and Shared Services/HR team. If they need to, escalate it to their HR Business Partner.</p>
    </div>
  </div>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Step 12: The employee starts their new role in the Civil Service
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">Congratulations on your new role. Your new line manager will make sure you have the equipment you need for your role.</p>
    <p class="govuk-body">When leaving their current department, the employee should follow the department’s asset and information policy. They should arrange to return their work laptop, mobile phone and security pass.</p>
    </div>
  </div>
      </div>
    </div>
{% endblock %}
