{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}

<style>

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position:;
}
.gem-c-print-link__button {
    color: rgb(29, 112, 184);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    margin: 0px;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

</style>

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="">
	<div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
	<nav class="gem-c-contents-list" aria-label="" role="navigation" data-module="gem-track-click">
	<h2 class="govuk-heading-m">
	</h2>
	</nav>

	<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
	<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
	</div>
	</div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Step by step for a successful transfer: guidance for employees</h1>
	<p class="govuk-body-l">This page gives an overview of the steps you need to take to transfer between departments.</p>
<h2 class="govuk-heading-m">Step 1: You accept a provisional job offer in a new department</h2>
<p class='govuk-body'>You should follow the instructions in the emailed job offer.</p>
<h2 class="govuk-heading-m">Step 2: Complete Part A-1 of the staff transfer form</h2>
      <p class="govuk-body">Your new department will need the information from Part A-1 of the <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">staff transfer form</a> to help:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identify a need for <a class="scroll-to" href="#pre-employment">baseline personnel security standard (BPSS)</a></li>
  <li>identify <a class="scroll-to" href="#NSV">National Security Vetting (NSV)</a> status</li>
  <li>start BPSS if needed</li>
  <li>start the transfer of your security clearance</li>
</ul>
<p class="govuk-body">Your security clearance will be transferable unless there is a risk flag or an issue with the transfer.</p>
<p class="govuk-body">Not all departments need you to complete every section. Your new department will tell you if there are any sections they do not need. Check with them if you have any questions.</p>
<p class="govuk-body">If you hold a National Security Vetting (NSV) clearance level or you need one for your new role, this is part of your transfer.</p>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Example 1: I do not have a valid NSV. My role does not need NSV.</h4>
If you do not hold NSV Clearance level you should complete Part A-1, sections 1-3 of the staff transfer form.
</div>
         <div class="govuk-inset-text">
           <h4 class="govuk-heading-s">Example 2: My role needs valid NSV but I do not have it, or the level needed for the role.</h4>
You should complete Part A-1, sections 1-4 of the staff transfer form.
</div>
         <div class="govuk-inset-text">
           <h4 class="govuk-heading-s">Example 3: I have a valid NSV clearance level for at least 3 months.</h4>
           You should complete Part A-1, sections 1-4 of the staff transfer form. Follow the instructions contained in your job offer.
</div>
          <div class="govuk-inset-text">
           <h4 class="govuk-heading-s">Example 4:  I do not know if I have a valid NSV clearance level.</h4>
           If you need a valid NSV clearance level for your new role, you will need to find out if you have it. Check your departmental intranet to find details of your security cluster/team. Once you have found out about your NSV clearance level, you should complete Part A-1 of the staff transfer form.
</div>
        <p class="govuk-body">Follow the instructions contained in your job offer. To avoid delays, you should contact the vacancy holder if you have any questions.</p>
<h2 class="govuk-heading-m">Step 3: Share your salary information with your new department and submit Part A-1</h2>
<p class='govuk-body'>You should send Part A-1 and your two most recent payslips to your vacancy holder unless your new department has instructed otherwise. Payslips are provided so your new salary can be calculated and confirmed.</p>
<h2 class="govuk-heading-m">Step 4: Your new department does baseline personnel security standard (BPSS) checks</h2>
<p class="govuk-body">Your new department will contact you to progress your BPSS checks, including your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identity</li>
  <li>right to work in the UK</li>
  <li>right to work in the Civil Service</li>
  <li>criminal record (unspent convictions only)</li>
</ul>
     <p class="govuk-body">Some departments do this at interview, but they will not repeat the checks at this stage.</p>
<h2 class="govuk-heading-m">Step 5: Your start date is agreed</h2>
<p class="govuk-body">Once your checks are complete, agree a start date with your current and new managers.</p>
<p class="govuk-body">It is strongly advised to agree a start date on the first of the month. Otherwise, this will have an effect on your pay. The most common examples are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>emergency tax applied</li>
  <li>under or overpayment of salary</li>
</ul>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Remember to make arrangements for any outstanding annual leave or flexible working hours credit/debit
  </strong>
</div>
<p class="govuk-body">You should give your current department at least 1 calendar month notice to allow for the transfer process. Refer to your department's policy on notice periods.</p>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Do not resign when transferring from your old department - this will affect your pension and continuity of service.
  </strong>
</div>	            
<p class="govuk-body">You should always move before your new department’s payroll cut-off, even if your start date cannot be the first of the month. There is a payroll cut-off dates tab in the staff transfer form to help you find them.</p>
<h4 class="govuk-heading-s">If you move after your new department’s payroll cut-off date</h4>
<p class="govuk-body">Your new department will aim to add you to payroll as soon as possible.</p>
<p class="govuk-body">If you are not on payroll in time for your next payday you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>arrange an emergency payment with your new Shared Services/HR team.</li>
  <li>wait until your next payday when your pay is backdated</li>
</ul>
  <p class="govuk-body">If you are overpaid, any overpayments will be recovered from you, not your new department. For example, if both your current and new department pay you for the same period.</p>
  <p class="govuk-body">If you notice any issues with your pay, raise this immediately with your new line manager.</p>
<h4 class="govuk-heading-s">Workplace adjustments</h4>
  <p class="govuk-body">Your current and new line managers should discuss and agree the transfer of existing <a class="scroll-to" href="#WPA">workplace adjustments</a>. If your new department needs to order items to meet your needs, this may take time. This should be considered when agreeing your start date.</p>
 <h4 class="govuk-heading-s">Carer's Passport</h4>
<p class="govuk-body">The need to re-negotiate flexibilities contained in a <a href="https://www.gov.uk/government/publications/carers-passport" class="https://www.gov.uk/government/publications/carers-passport">Carer’s Passport</a> should be minimised when you transfer between departments.<p>
<h2 class="govuk-heading-m">Step 6: You get written confirmation of salary and start date</h2>
 <p class='govuk-body'>Following completion of pre-employment checks, you will receive written confirmation of your salary and start date. You will then be asked to complete Part A-2 of the staff transfer form.</p>
      <h2 class="govuk-heading-m">Step 7: Complete Part A-2 of the staff transfer form</h2>
 <p class="govuk-body">Complete Part A-2 and send it to your current manager along with Part A-1.</p>
 <p class="govuk-body">This is to allow your manager and HR team complete steps 8 and 9</p>
 <p class="govuk-body">So the right information goes to your new department, check your details are up to date on your current HR system. For example, your contact details and that any sickness absences are right. Do this <strong>before</strong> you transfer and <strong>again</strong> in your new department and role.</p>
 <h2 class="govuk-heading-m">Step 8: Your manager completes Part B</h2>
 <p class='govuk-body'>When complete they send it to your current Shared Services/HR team. Follow this up with your manager if they have not done this within 2 working days and copied you in.</p>
<h2 class="govuk-heading-m">Step 9: Your current department’s Shared Services/HR team complete Part C</h2>
 <p class='govuk-body'>They then send the complete form to your new department’s Shared Services/HR team. Follow this up with them if they have not done this within 5 working days and copied you in. Processing times can vary between departments.</p>
<h2 class="govuk-heading-m">Step 10: Your new line manager submits the appropriate new joiner form</h2>
<p class='govuk-body'>For example the New Entrant Notification Form, or your new department’s equivalent.</p>
<h2 class="govuk-heading-m">Step 11: Your HR/payroll record is set up ready for your start date</h2>
<p class='govuk-body'>You will be set up with a new employee number and HR record to make sure you are paid. If your pay is wrong when you start your new role raise the issue straight away. Tell your new manager and Shared Services/HR team. If you need to, escalate it to your HR Business Partner. If your pay is wrong due to an incorrect tax code, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees" class="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees">contact HMRC</a>.</p>
<h2 class="govuk-heading-m">Step 12: You start your new role in the Civil Service</h2>
<p class="govuk-body">Congratulations on your new role. Your new line manager will make sure you have the equipment you need for your role.</p>
<p class="govuk-body">When joining your new department, make sure your agreed workplace adjustments are transferred and set up. You should also check that your information is right on your new department’s HR system once you have transferred into your new department and role.</p>
<br>
<h2 class="govuk-heading-l">Find out more</h2>
<p class="govuk-body">Read <a class="https://prototype-training.herokuapp.com/guidance/new-page-three.html" href="https://prototype-training.herokuapp.com/guidance/new-page-three.html">
Staff transfers: further details for employees</a></p>
<p class="govuk-body">Return to <a href="https://prototype-training.herokuapp.com/guidance/new-page-one.html" class="https://prototype-training.herokuapp.com/guidance/new-page-one.html">How to move roles across the Civil Service: guidance for employees</a>.</p>
    </div>

        <div class="sticky-element__print-link">

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
        </div>
      </div>
{% endblock %}
