{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}

<style>

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position:;
}
.gem-c-print-link__button {
    color: rgb(29, 112, 184);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    margin: 0px;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

</style>

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="">
	<div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
	<nav class="gem-c-contents-list" aria-label="" role="navigation" data-module="gem-track-click">
	<h2 class="govuk-heading-m">
	Contents
	</h2>
	</nav>

	<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
	<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
	</div>
	</div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How to move roles across the Civil Service: guidance for employees</h1>
        <p class="govuk-body-l">This guidance for employees explains the staff transfer process and what you need to do to change departments in the Civil Service.</p>
        <h2 class="govuk-heading-1" id="who">Contents</h2>
	    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
	  	<li><a class="scroll-to" href="#intro">Introduction</a></li>
		<li><a class="scroll-to" href="#who">Who does the staff transfer process apply to?</a></li>
		<li><a class="scroll-to" href="#how">How do I transfer?</a></li>
		<li><a class="scroll-to" href="#except">Exceptions</a></li>
		<li><a class="scroll-to" href="#what">What is included in the transfer process?</a></li>
		<li><a class="scroll-to" href="#support">If you need support with your transfer</a></li>		
	 	<li><strong><a class="scroll-to" href="#steps">Steps in the staff transfer process</a></strong></li>
	  	<li><strong><a class="scroll-to" href="#principles">General principles and further information</a></strong></li>
	</ul>
<h2 class="govuk-heading-l" id="intro">Introduction</h2>
<h3 class="govuk-heading-l" id="who">Who does the staff transfer process apply to?</h3>
<p class="govuk-body">It applies to civil servants who are transferring permanently or on a loan of more than 6 months, between:</p>
<ul class="govuk-list govuk-list--bullet">
<li>departments</li>
<li>arm’s length bodies</li>
<li>non-departmental public bodies employing civil servants</li>
    </ul>
<p cass="govuk-body"><a href="https://www.gov.uk/government/organisations" class="https://www.gov.uk/government/organisations">Departments, agencies and public bodies</a> lists Government departments, non-departmental public bodies and other bodies.</p>
<p class="govuk-body">The staff transfer process also applies to civil servants transferring from the Northern Ireland Civil Service (NICS) and the Scottish and Welsh governments.</p>
<p class="govuk-body">To be eligible, your original appointment must be on merit and by <a href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">fair and open competition</a>.</p> 
<h2 class="govuk-heading-l" id="how">How do I transfer?</h2>
<p class="govuk-body">You will get an email confirming your provisional job offer from the relevant recruitment team. You should then follow the <a class="scroll-to" href="#steps">steps in the staff transfer process</a>.</p>
<p class="govuk-body">You will need to complete Parts A-1 and A-2 of the <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">staff transfer form</a>. Your current manager and HR/Shared Services will also complete parts B and C of the form. It is otherwise known as the Civil Service Employee Transfer (CSET) form. The form covers HR, payroll and security clearance transfer.</p>
<h2 class="govuk-heading-l" id="except">Exceptions</h2>
<p class="govuk-body">The staff transfer form is mandatory except:</p>
<ul class="govuk-list govuk-list--bullet">
	<li>for <a href="https://www.gov.uk/government/publications/machinery-of-government-changes-information" class="https://www.gov.uk/government/publications/machinery-of-government-changes-information">machinery of government changes</a>. For example, these involve whole business areas transferring between departments.</li>
  <li><a href="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector" class="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector">Cabinet Office statement of practice (COSOP)</a> moves</li>
  <li>if you are are a public sector worker. For example a teacher, police officer or you are staff employed by a local authority</li>
  <li>if you are transferring to a non-departmental public body who does not employ civil servants</li>
  <li>if you are a civil servant on a loan of less than 6 months</li>
</ul>
<h2 class="govuk-heading-l" id="what">What is included in the transfer process?</h2>
<p class="govuk-body">When you transfer to a new department, the process normally includes transferring your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>HR record</li>
  <li>pension details</li>
  <li>any current and valid security clearance you hold, including existing National Security Vetting (NSV) clearance</li>
  <li>any reasonable adjustments</li>
</ul>
<h2 class="govuk-heading-l" id="support">If you need help with your transfer</h2>        
<p class="govuk-body">You should follow this guidance. If you need further support with the staff transfer process you could:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ask your current line manager</li>
  <li>ask the vacancy holder</li>
  <li>check the job advert</li>
  <li>contact your vetting authority/cluster security unit</li>
  <li>check your department’s intranet for more information</li>
</ul>
	      <h2 class="govuk-heading-l">Next steps</h2>
<p class="govuk-body">Read about the steps you should follow for a successful transfer.</p>	     
    </div>

        <div class="sticky-element__print-link">

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
        </div>
      </div>
{% endblock %}
