{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}

<style>

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position:;
}
.gem-c-print-link__button {
    color: rgb(29, 112, 184);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    margin: 0px;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

</style>

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="">
	<div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
	<nav class="gem-c-contents-list" aria-label="" role="navigation" data-module="gem-track-click">
	<h2 class="govuk-heading-m">
	</h2>
	</nav>

	<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
	<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
	</div>
	</div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Step by step for a successful transfer: guidance for importing managers</h1>
	<p class="govuk-body-l">This page explains the steps to complete a staff transfer. Some steps in the transfer process are specific to the importing department. They also include actions throughout the process for employees and exporting managers.</p>
  <p class='govuk-body'>Follow these steps alongside your department's internal guidance to check for any differences.</p>
<h2 class="govuk-heading-m">Step 1: The employee accepts a provisional job offer in your department</h2>
<p class='govuk-body'>The employee should follow the instructions in the emailed job offer.</p>
<h2 class="govuk-heading-m">Step 2: The employee fills in security clearance information in Part A-1 of the staff transfer form</h2>
<p class="govuk-body">You need the information from Part A-1 of the staff transfer form to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identify if the employee has any current and valid baseline personnel security standards (BPSS)</li>
  <li>identify if the employee has any current and valid national security vetting (NSV)</li>
  <li>transfer any existing security clearance</li>
  <li>start any new BPSS and security clearance needed</li>
</ul>
<p class="govuk-body">The employee’s security clearance will be transferable unless there is a risk flag or an issue with the transfer.</p>
<p class="govuk-body">Your department may not need all sections of the transfer form completed. You should tell the employee if there are any sections they do not need to complete.</p>
<p class="govuk-body">The employee should follow the instructions contained in their job offer. To avoid delays, they may contact you if they have any questions.</p>     
<h2 class="govuk-heading-m">Step 3: The employee shares their salary information and submits Part A-1</h2>
<p class='govuk-body'>The employee sends Part A-1 to you unless your department has instructed otherwise.</p>
<p class='govuk-body'>They will also send their 2 most recent payslips for you to calculate their new salary. Contact the employee if you have not received their payslips within 4 working days.</p>     
<h2 class="govuk-heading-m">Step 4: Your department carries out BPSS checks</h2>
<p class='govuk-body'>It is your department’s responsibility to carry out BPSS checks. These checks may be carried out by recruitment teams on behalf of your department. They include essential checks on the employee’s:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identity</li>
  <li>right to work in the UK</li>
  <li>right to work in the Civil Service</li>
  <li>criminal record (if applicable)</li>
</ul>
<p class="govuk-body">Some departments do this at interview, but they will not repeat the checks at this stage.</p>
<p class="govuk-body">SYou should use the information contained in the employee’s Part A-1 to start any required checks.</p>
<p class="govuk-body">If the employee has current valid NSV:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you will need to start a transfer of this security clearance with your Vetting Authority/Security Cluster</li>
</ul>
<p class="govuk-body">If the employee needs a higher level of NSV than they currently hold:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you will need to start a new security clearance check</li>
</ul>
<p class="govuk-body">You need to respond to any additional requests from your vetting authority. This prevents delays to the transfer of security clearance.</p>
<p class="govuk-body">If the employee has not had a criminal records check in the last 5 years you should arrange a new one.</p>
<h3 class="govuk-heading-m">Following successful transfer or completion of security clearance</h3>
<p class="govuk-body">Your security team will alert you to any risk flags. You should reflect upon the employee’s suitability for the role.</p>        
<h2 class="govuk-heading-m">Step 5: You agree a start date</h2>
<p class="govuk-body">You agree a start date with the employee and their current manager. Do not do this until:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>BPSS checks are complete</li>
  <li>any NSV clearance the employee needs is complete or transferred</li>
</ul>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    It is strongly advised to agree a start date on the first of the month regardless, otherwise this will have an effect on the employee’s pay.
  </strong>
</div>	
<p class="govuk-body">The employee should move to your department before your payroll cut-off. Even if their start date cannot be the first of the month.</p>
<h3 class="govuk-heading-m">If you arrange a start date after your payroll cut-off</h3>     
<p class="govuk-body">You should support the employee with an emergency payment. They will no longer be on their old department’s payroll.</p>
<p class="govuk-body">The employee should not resign when transferring from their old department. This will affect their pension.</p>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You must read the section of this guidance about salary implications to minimise any effects on the employee’s pay.
  </strong>
</div>	
<h3 class="govuk-heading-m">If the employee has any workplace adjustments</h3>
<p class="govuk-body">You should discuss and agree the transfer of any workplace adjustments. This discussion could be with the employee and the exporting manager. Review if hard adjustments exist in the employee’s current department. If you have to order items to meet the employee’s needs, this may take time. This should be considered when agreeing their start date.</p>
<h2 class="govuk-heading-m">Step 6: You confirm the employee’s salary and start date</h2>
<p class='govuk-body'>Following completion of BPSS and relevant security clearance, you should send the employee confirmation of their new salary and start date using the salary template.</p>
<h2 class="govuk-heading-m">Step 7: You start the onboarding process for your new employee</h2>
<p class="govuk-body">This process may vary by department. For example, completing the New Entrant Notification (NEN) form or other departmental equivalent. This allows the employee to join your department and be added to your payroll.</p>
<p class="govuk-body">It is your responsibility to follow your departmental process so HR receive the appropriate form. If you do not complete this step the employee will not be added to payroll and may not receive their IT equipment.</p>     
<h2 class="govuk-heading-m" id="step8">Step 8: The employee continues the staff transfer form and completes Part A-2</h2>
<p class='govuk-body'>You should tell the employee to complete Part A-2 of the staff transfer form. They send Parts A-1 and A-2 to their current manager to progress their transfer.</p>
<h2 class="govuk-heading-m">Step 9: The exporting manager completes Part B of the staff transfer form</h2>
<p class='govuk-body'>They will review the employee’s answers to Parts A1 and A2.</p>
<p class='govuk-body'>The exporting manager completes Part B and sends the updated form to their HR/Shared Services within 2 working days to start the offboarding process. The employee should receive a copy.</p>
<h3 class="govuk-heading-m">Timing</h3>       
<p class='govuk-body'>The form should be sent to exporting HR/Shared Services at least 1 month before the employee’s transfer date. If the form is submitted with less than 1 month’s notice, this can have an effect on the employee’s pay. A start date on the first of the month should still be agreed where possible.</p>        
<h2 class="govuk-heading-m">Step 10: The exporting HR/Shared Services team complete Part C</h2>
<p class='govuk-body'>They then send the completed staff transfer form to your department’s HR/Shared Services team.</p>
<p class='govuk-body'>The employee should follow-up with their current HR/Shared Services if they have not done this within 5 days. Processing times can vary between departments.</p>
<h2 class="govuk-heading-m">Step 11: The employee’s HR/payroll record is set up on your payroll</h2>
<p class='govuk-body'>Your HR/Shared Services receive staff transfer form and the NEN or departmental equivalent. The employee will be set up with a new employee number and HR record to make sure they are paid.</p>
<p class='govuk-body'>If the employee’s pay is wrong when they start their new role, they should raise the issue with you or your Shared Services/HR team. If their pay is wrong due to an incorrect tax code, the employee should <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees" class="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees">contact HMRC</a>.</p>
<h2 class="govuk-heading-m">Step 12: The employee leaves their department to start their new role in the Civil Service/h2>
<p class="govuk-body">Make sure the employee gets:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>their employee number</li>
  <li>any training and equipment they need for their new role</li>
</ul>
<p class="govuk-body">You will need to consider if the employee needs:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a loan agreement in place (if this applies)</li>
  <li>an induction pack</li>
  <li>any reasonable workplace adjustments</li>
  <li>any assistive technology, for example screen reading software</li>
  <li>to complete any mandatory training</li>
</ul>
<p class="govuk-body">This completes the 12 step process. The following sections highlight best practice for ensuring a successful transfer.</p>
<br>
<br>  
<h2 class="govuk-heading-m">Salary implications</h2>
<p class="govuk-body">Agree on a date for the employee to start in your department on the first of the month. If you do not, the employee will have problems with their pay.</p> 
<p class="govuk-body">If this is not possible then best practice is to move before payroll cut-off. Some departments change payroll cut-off dates regularly, so check your departmental intranet.</p>
<br>
<h3 class="govuk-heading-m">Salary implications of mid-month moves</h3>
<p class="govuk-body">Where a first of the month transfer is not possible, employees will have pay issues. HMRC will assume the employee has two employers, so the employee will be taxed more than they should be.</p>
<p class="govuk-body">Depending on when the transfer form is completed, the employee may be under or overpaid.</p>
<h3 class="govuk-heading-m">Overpayments</h3>
  <p class="govuk-body">Overpayments should be avoided, they could result in increased:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>pension payments</li>
  <li>student loan payments</li>
  </ul>
<p class="govuk-body">which the employee cannot recover.</p>
<p class="govuk-body">Overpayments are claimed back from the employee, because departments cannot invoice each other. This is regardless of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>how long the overpayment has been made</li>
  <li>the amount of salary overpaid</li>
</ul>
<p class="govuk-body">As the employee’s new manager you should encourage them to check their pay once they have transferred. The employee should highlight any overpayments with you. Depending on where the pay issue happens, you may need to support the employee. If the employee is overpaid, they must not spend this money. They will need to pay it back in a lump sum after tax.</p>
<h4 class="govuk-heading-s">Overpayment examples</h4>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 1: The employee is overpaid by their old department</h4>
  <p class="govuk-body">If the employee is paid by their old department after their transfer date, they should:</p>
  <ul class="govuk-list govuk-list--bullet">
<li>not spend money overpaid for the time that the employee did not work for them</li>
<li>contact their old department’s HR team</li>
</ul>
   <p class="govuk-body">The employee will need to repay the additional salary to their old department.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2: The employee is overpaid by your department</h4>
  <p class="govuk-body">If the employee’s pay is more than expected you should:</p>
  <ul class="govuk-list govuk-list--bullet">
<li>investigate what has caused the overpayment</li>
<li>correct the employee’s pay through contacting your HR or payroll team</li>
</ul>
</div>
<h3 class="govuk-heading-m">Underpayments</h3>
<p class="govuk-body">Transferring on the first of the month is best practice. If the employee is not added to payroll on time, this may cause the employee’s pay to be incorrect. This can happen if the NEN form (or equivalent) is not completed on time for payroll.</p>
<p class="govuk-body">If the employee notices their pay is less than expected, they should raise this with you immediately.</p>
<h4 class="govuk-heading-s">Underpayment examples</h4>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 1: If an employee moves after your department’s payroll cut-off</h4>
  <p class="govuk-body">This will cause an underpayment. The employee may need an emergency payment.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 2: If an employee moves before your department’s payroll cut-off</h4>
  <p class="govuk-body">If importing managers do not complete tasks on time, this may cause an underpayment. The implications for an employee can be considerable. Emergency payments are unlikely to cover the whole of the employee’s salary.</p>
</div>
<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Example 3: If the staff transfer form and NEN (or equivalent) are not completed on time</h4>
  <p class="govuk-body">Even if you agree a transfer on the first of the month - if you miss payroll this will result in the need for emergency payments. This is not likely to give the employee their full month’s pay.</p>
</div>
<h2 class="govuk-heading-m">Summary of key points for a successful transfer</h2>  
<p class="govuk-body">You should follow the steps in the staff transfer process. For a successful transfer, consider the following points to minimise delays and/or errors.</p>
<h3 class="govuk-heading-m">Before the employee transfers to your department</h3>
<p class="govuk-body">Follow and track security clearance procedures. Security clearance is key to the employee starting work in your department.</p>
<p class="govuk-body">Keep the employee updated throughout the transfer process. Give them a named contact. Their transfer will be smoother if everyone involved is in contact.</p>
<p class="govuk-body">Your department’s terms and conditions may be different from the employee’s old one. Make sure they understand any differences.</p>
<p class="govuk-body">Agree a start date with the employee and their current manager. The start date should be the first of the month. This minimises any possible effects on their pay. Payment errors lead to overpayments by exporting departments and incorrect:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>pay</li>
    <li>tax</li>
    <li>pension payments</li>
</ul>
<p class="govuk-body">Make sure you consider payroll cut-off dates when agreeing a start date. Only agree a start date after:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>completing relevant BPSS checks</li>
    <li>agreeing security clearance transfer</li>
  </ul>
<p class="govuk-body">Confirm the employee’s new salary with them.</p>
<p class="govuk-body">Do you have a loan agreement in place (if applicable)?</p>
<p class="govuk-body">Complete the New Entrant Notification (NEN) form, or equivalent form. This makes sure the employee has a payroll record and is on your payroll from day one. Some departments may call this a NET (New Entrant Template) or Joiner Information.</p>
<p class="govuk-body">Does the employee need any workplace adjustments? Remember, if you need to order new equipment this may take time.</p>
<h3 class="govuk-heading-m">For their start in their new role</h3>
<p class="govuk-body">Make sure the employee is provided with:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>their staff number</li>
    <li>an induction pack (if applicable)</li>
    <li>equipment and training they need for their new role</li>
    <li>any assistive technology they may need</li>
  </ul>
<p class="govuk-body">Make sure the employee is provided with information to help them on their first day in their new role. For example:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>their work location</li>
    <li>who they will report to</li>
    <li>where they will sit</li>
  </ul>
<h2 class="govuk-heading-m">Find out more</h2>
<p class="govuk-body">Read Staff transfers: further details for importing managers.</p>
<p class="govuk-body">Return to <a href="https://prototype-training.herokuapp.com/guidance/new-page-seven.html" class="https://prototype-training.herokuapp.com/guidance/new-page-seven.html"> How to move roles across the Civil Service: guidance for importing managers</a></p>
    </div>

        <div class="sticky-element__print-link">

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
        </div>
      </div>
{% endblock %}
