{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}

<style>

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position:;
}
.gem-c-print-link__button {
    color: rgb(29, 112, 184);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    margin: 0px;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

</style>

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="">
	<div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
	<nav class="gem-c-contents-list" aria-label="" role="navigation" data-module="gem-track-click">
	<h2 class="govuk-heading-m">
	</h2>
	</nav>

	<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
	<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
	</div>
	</div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How to move roles across the Civil Service: guidance for exporting managers</h1>
        <p class="govuk-body-l">This guidance for exporting line managers explains the process for transferring employees across the Civil Service.</p>
<h2 class="govuk-heading-l">Contents</h2>
<ul class="govuk-list">
 <li><strong><a class="scroll-to" href="#intro">Introduction</a></strong></li>
		<li><a class="scroll-to" href="#who">Who does the staff transfer process apply to?</a></li>
		<li><a class="scroll-to" href="#how">How do employees transfer?</a></li>
		<li><a class="scroll-to" href="#except">Exceptions</a></li>
		<li><a href="https://prototype-training.herokuapp.com/guidance/new-page-five-exporting-steps.html" class="https://prototype-training.herokuapp.com/guidance/new-page-five-exporting-steps.html">Steps in the staff transfer process</a></li>
		<li><a href="https://prototype-training.herokuapp.com/guidance/new-page-six-exporting-general-principles.html" class="https://prototype-training.herokuapp.com/guidance/new-page-six-exporting-general-principles.html">Steps in the staff transfer process</a></li>
</ul>
<br>
<h2 class="govuk-heading-l" id="intro">Introduction</h2>
<h3 class="govuk-heading-m" id="who">Who does the staff transfer process apply to?</h3>
<p class="govuk-body">It applies to civil servants who are transferring permanently or on a loan of more than 6 months, between:</p>
<ul class="govuk-list govuk-list--bullet">
<li>departments</li>
<li>arm’s length bodies</li>
<li>non-departmental public bodies employing civil servants</li>
    </ul>
<p class="govuk-body">It also applies to civil servants transferring from the Northern Ireland Civil Service (NICS) and the Scottish and Welsh governments.</p>
<p class="govuk-body">To be eligible, the employee’s original appointment must be on merit and by <a href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/">fair and open competition</a>.</p>
<br>
<h2 class="govuk-heading-m" id="how">How do employees transfer?</h2>
<p class="govuk-body">They will get an email confirming their provisional job offer from the relevant recruitment team. They should then follow the <a href="https://prototype-training.herokuapp.com/guidance/new-page-five-exporting-steps.html" class="https://prototype-training.herokuapp.com/guidance/new-page-five-exporting-steps.html">steps in the staff transfer process</a>.</p>
<p class="govuk-body">They will need to complete Parts A-1 and A-2 of the <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">staff transfer form</a>. You will then <a class="scroll-to" href="#step8">complete Part B</a> and your HR/Shared Services Part C of the form. It is otherwise known as the Civil Service Employee Transfer (CSET) form. The form covers HR, payroll and security clearance transfer.</p>
<p class="govuk-body">The staff transfer process puts the employee at the centre of the process. They are responsible for starting the transfer. The employee provides most of the information needed to progress their transfer, including:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>personal details</li>
  <li>current role information</li>
  <li>new role information</li>
</ul>
<p class="govuk-body">You should complete Part B of the staff transfer form within 2 days of receipt, to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>approve the details the employee has provided</li>
  <li>start their removal from your department’s payroll</li>
</ul>
<p class="govuk-body">The importing manager will complete the New Entrant Notification (NEN) or their department’s equivalent.</p>
<p class="govuk-body">This guidance covers the staff transfer process. For specific guidance about employees leaving your department check your intranet.</p>
<h2 class="govuk-heading-m" id="except">Exceptions</h2>     
<p class="govuk-body">The staff transfer form is mandatory except for:</p>
<ul class="govuk-list govuk-list--bullet">
 <li><a href="https://www.gov.uk/government/publications/machinery-of-government-changes-information" class="https://www.gov.uk/government/publications/machinery-of-government-changes-information">machinery of government changes</a>. For example, these involve whole business areas transferring between departments.</li>
  <li><a href="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector" class="https://www.gov.uk/government/publications/staff-transfers-in-the-public-sector">Cabinet Office statement of practice (COSOP)</a> moves</li>
  <li>public sector workers. For example teachers, the police and staff employed by local authorities</li>
  <li>employees transferring to a non-departmental public body who does not employ civil servants</li>
  <li>loans of less than 6 months</li>
</ul>
<h3 class="govuk-heading-m" id="help">If you need help with the staff transfer process</h3>                                   
<p class="govuk-body">If you are an exporting manager and need further help, contact your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>line manager</li>
  <li>recruitment provider (if applicable)</li>
  <li>vacancy holder (if different from yourself)</li>
  <li>HR team/Shared Services</li>
  <li>HR Business Partner</li>
</ul>
 <p class="govuk-body">Guidance for <a href="https://prototype-training.herokuapp.com/guidance/new-page-one.html" class="https://prototype-training.herokuapp.com/guidance/new-page-one.html">employees transferring across the Civil Service</a> and <a href="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies" class="https://www.gov.uk/government/publications/guidance-for-civil-servants-how-to-move-jobs-between-departments-and-agencies">importing managers</a> provide an overview of the whole process.</p>
	      <h2 class="govuk-heading-m">Steps to follow for a successful transfer</h2>
<p class="govuk-body">Read about <a href="https://prototype-training.herokuapp.com/guidance/new-page-five-exporting-steps.html" class="https://prototype-training.herokuapp.com/guidance/new-page-five-exporting-steps.html">steps you should follow for a successful transfer</a>.</p>
<p class="govuk-body"><a href="https://prototype-training.herokuapp.com/guidance/Exporting-manager-V3.html" class="https://prototype-training.herokuapp.com/guidance/Exporting-manager-V3.html">View a printable version of the whole guide</a>.</p>      
    </div>

        <div class="sticky-element__print-link">

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
        </div>
      </div>
{% endblock %}
