{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">National Security Vetting (NSV)</h1>
        <p class="govuk-body-l">If you hold a National Security Vetting (NSV) clearance level or you need one for your new role, this is part of your transfer process.</p>
        <p class="govuk-body">NSV is sometimes called security clearance. It sits with you, not your role.</p>
        <p class="govuk-body">If you have a valid NSV, it will be transferable if the expiry date is longer than 3 months, unless there is:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a risk flag</li>
  <li>an issue with the transfer</li>
</ul>
      <p class="govuk-body">You will be told if the transfer of your NSV will take more than 7 days. For example:</p>
           <ul class="govuk-list govuk-list--bullet">
  <li>active after care is present</li>
  <li>NSV is not found</li>
</ul>
        <p class="govuk-body">You should <strong>always</strong> complete part A-1 of the staff transfer form. Only complete the NSV section if:</p>
            <ul class="govuk-list govuk-list--bullet">
  <li>your new role needs NSV - regardless of your current clearance</li>
  <li>you have valid NSV clearance - regardless of level, even if your new role does not need NSV clearance</li>
</ul>
<h2 class="govuk-heading-m">Pre-employment checks</h2>
           <p class="govuk-body">Your new role may need you to have pre-employment checks. This could include checks on:</p>
                   <ul class="govuk-list govuk-list--bullet">
  <li><a href="#" class="https://www.gov.uk/government/publications/government-baseline-personnel-security-standard">Baseline Personnel Security Standard (BPSS)</a></li>
  <li>relationships with current prisoners</li>
  <li>safeguarding checks to work with children or vulnerable adults</li>
</ul>
        <p class="govuk-body">This list is not exhaustive.</p>
    </div>
  </div>
{% endblock %}
