{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}

<style>

.js-enabled .sticky-element--stuck-to-window {
    bottom: 0;
    position:;
}
.gem-c-print-link__button {
    color: rgb(29, 112, 184);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(177, 180, 182);
    border-image: initial;
    margin: 0px;
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

</style>

<div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="">
	<div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
	<nav class="gem-c-contents-list" aria-label="" role="navigation" data-module="gem-track-click">
	<h2 class="govuk-heading-m">
	</h2>
	</nav>

	<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
	<button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
	</div>
	</div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How to move roles across the Civil Service: request Disclosure Scotland - email template </h1>
<p class="govuk-body-l">This page for Goverment Recruitment Services provices the email template for a Disclosure Scotland request.</p>
<h1 class="govuk-heading-m">Who does this email apply to?</h1>
<p class="govuk-body">It applies to civil servants who are transferring permanently or on a loan of more than 6 months, and need a Disclosure Scotland check as part of their transfer to another government department.</p>
<p class="govuk-body">Use the wording provided for emails to transferring employees who need a Disclosure Scotland check as part of the staff transfer process.</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h1 class="govuk-heading-m">Requesting Disclosure Scotland - email wording</h1>
<p>Dear [path]application.user.formdata.1:1:1.value[/path],
<br>Re: [path]application.opportunity.id[/path] [path]application.opportunity.title_labels.label_text[/path]</p>
<br>
<p class='govuk-body'>As part of your pre-employment checks you need to download the Disclosure Scotland application form, and complete sections 1 to 5:</p>
<p class='govuk-body'><a href="https://www.mygov.scot/email-disclosure-application-form" class="https://www.mygov.scot/email-disclosure-application-form">https://www.mygov.scot/email-disclosure-application-form</a></p>
<p class='govuk-body'>For ‘application type’  select [‘standard DS’/'enhanced' - delete as appropriate] - this is the level of check undertaken by your recruiting department.</p>
<p class='govuk-body'>When you have completed sections 1 to 5 of the form, email it to <a href="mailto:pre-employmentchecks.grs@cabinetoffice.gov.uk" class="mailto:pre-employmentchecks.grs@cabinetoffice.gov.uk">pre-employmentchecks.grs@cabinetoffice.gov.uk</a> with ‘Disclosure Scotland’ and your full name in the subject field.</p>
<p class='govuk-body'>If you have any questions about this please do not hesitate to contact us at the above email address.</p>
<br>
<p class='govuk-body'>Kind regards</p>
<p class='govuk-body'>Government Recruitment Service</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-m">Staff transfer email templates</h2>
<p class="govuk-body">Return to <a href="https://prototype-training.herokuapp.com/guidance/staff_transfer_emails.html" class="https://prototype-training.herokuapp.com/guidance/staff_transfer_emails.html">list of staff transfer email templates</a>.</p>     
    </div>

        <div class="sticky-element__print-link">

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
        </div>
      </div>
{% endblock %}
