{% extends "layout.html" %}

{% block pageTitle %}
Will you be carrying over any annual leave?
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}
 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="parental-leave" method="post">

{% set yesHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  classes: "govuk-!-width-one-third",
  label: {
    text: "How many days?"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "Will you be carrying over any annual leave?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "The normal expectation across the Civil Service is that employees take their annual leave prior to moving between Departments"
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: yesHtml
      }
    },
    {
      value: "no",
      text: "No"
    }

  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
