{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Check your answers</h1>
          <form class="form" action="/section-2/task-list-end-section2" method="get">

            <h2 class="govuk-heading-m">Workplace adjustment details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Formal workplace adjustment
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Workplace adjustment details</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace adjustment passport
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Workplace adjustment passport</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Occupational health report
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Occupational health report</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Comments
                </dt>
                <dd class="govuk-summary-list__value">
                  I only have one of the above
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Comments</span>
                  </a>
                </dd>
              </div>

            </dl>

            <h2 class="govuk-heading-m">Transfer details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Fixed term
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Type of transfer</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nature of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Promotion
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Nature of transfer</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Redeployment move
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Redeployment move</span>
                  </a>
                </dd>
              </div>

            </dl>

            <h2 class="govuk-heading-m">New job details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Working pattern
                </dt>
                <dd class="govuk-summary-list__value">
                  Full time
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Working pattern</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Grade
                </dt>
                <dd class="govuk-summary-list__value">
                  Grade 6 Equivalent
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Grade</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Department
                </dt>
                <dd class="govuk-summary-list__value">
                  Department for International Trade
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Department</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Bank details for payroll
                </dt>
                <dd class="govuk-summary-list__value">
                  Lloyds Bank<br>Joe Bloggs<br>12345678<br>10-12-14
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Bank details for payroll</span>
                  </a>
                </dd>
              </div>
              
            </dl>

            <h2 class="govuk-heading-m">Student loan details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Student loan
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Student loan</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Student loan plan
                </dt>
                <dd class="govuk-summary-list__value">
                  Plan 2
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Student loan plan</span>
                  </a>
                </dd>
              </div>

      </dl>

      <h2 class="govuk-heading-m">Tax details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job status since 6 April
        </dt>
        <dd class="govuk-summary-list__value">
          Statement A
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden">Job status since 6 April</span>
          </a>
        </dd>
      </div>

      </dl>

      <h2 class="govuk-heading-m">Declaration</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Declaration
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden">Declaration</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Details updated on Civil Service Pension Portal
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden">Details updated on Civil Service Pension Portal</span>
          </a>
        </dd>
      </div>

      </dl>

      <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Now send this section</h2>

      <p>By submitting this section you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <p>A copy of the details you have provided will be sent to you and the vacancy holder</p>
      </div>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
