{% extends "layout.html" %}

{% block pageTitle %}
Current Job
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="current-grade" method="post">

        <h1 class="govuk-heading-l">
          Current job
        </h1>

        {{ govukInput({
          label: {
            text: "Full Time Salary"
          },
          classes: "govuk-input--width-10",
          id: "full-time-salary",
          name: "full-time-salary"
        }) }}


        {{ govukRadios({
          idPrefix: "temp-promotion",
          name: "temp-promotion",
          fieldset: {
            legend: {
              text: "Are you currently on a form of Temporary Promotion?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },

            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
