{% extends "layout.html" %}

{% block pageTitle %}
Current Job
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}
 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="current-grade" method="post">

        <h1 class="govuk-heading-l">
          Current job details
        </h1>

        {{ govukInput({
  id: "full-time-salary",
  name: "full-time-salary",
  label: {
    text: "What is your current full time salary?"
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}

        {{ govukRadios({
          idPrefix: "temp-promotion",
          name: "temp-promotion",
          fieldset: {
            legend: {
              text: "Are you currently on a form of temporary promotion?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },

            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {% set yesHtml %}
        {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {

      },
      hint: {
        text: "End date of loan"
      }
    }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Are you currently on loan?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--label"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "phone",
              text: "No"

            }
          ]
        }) }}



        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
