{% extends "layout.html" %}

{% block pageTitle %}
Current grade
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="annual-leave" method="post">

        {{ govukRadios({
          idPrefix: "grade",
          name: "grade",
          fieldset: {
            legend: {
              text: "Current grade",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "perm",
              text: "Senior Civil Servant - Permanent Secretary"
            },
            {
              value: "pb3",
              text: "Senior Civil Servant - Director General (PB3)"
            },
            {
              value: "pb2",
              text: "Senior Civil Servant - Director (PB2)"
            },
            {
              value: "pb1/1a",
              text: "Senior Civil Servant - Deputy Director (PB1/1A)"
            },
            {
              value: "g6",
              text: "Grade 6 Equivalent"
            },
            {
              value: "g7",
              text: "Grade 7 Equivalent"
            },
            {
              value: "seo",
              text: "Senior Executive Officer (SEO) Equivalent"
            },
            {
              value: "heo",
              text: "Higher Executive Officer (HEO) Equivalent"
            },
            {
              value: "eo",
              text: "Executive Officer (EO) Equivalent"
            },
            {
              value: "ao",
              text: "Administrative Officer (AO) Equivalent"
            },
            {
              value: "aa",
              text: "Administrative Assistant (AA) Equivalent"
            },
            {
              value: "unsure",
              text: "I'm not sure"
            }
          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
