{% extends "layout.html" %}

{% block pageTitle %}
What is your new working pattern? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="new-job-grade" method="post">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              New job working pattern
            </h1>
          </legend>

        {% set parttimeHtml %}
        {{ govukInput({
          id: "parttime",
          name: "parttime",
          label: {
            text: "What is your full time equivalant contracted hours?"
          },
          suffix: {
            text: "hours"
          },
          classes: "govuk-input--width-2",
          spellcheck: false
        }) }}

        {% endset -%}

        {% set compressedhoursHtml %}
{{ govukTextarea({
  id: "compressed-hours",
  name: "compressed hours",
  label: {
    text: "Provide details of your compressed hours"
  }
}) }}
{% endset -%}

        {{ govukCheckboxes({
          idPrefix: "working-pattern",
          name: "working-pattern",
          fieldset: {
            legend: {
              text: "What is your agreed new working pattern?"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "full-time",
              text: "Full-time"
            },
            {
              value: "part-time",
              text: "Part-time",
              conditional: {
                html: parttimeHtml
              }
            },
            {
              value: "job-share",
              text: "Job-share"
            },
            {
              value: "compressed-hours",
              text: "Compressed hours",
              conditional: {
                html: compressedhoursHtml
              }
            },
            {
              value: "annual-hours",
              text: "Annual hours"
            },
            {
              value: "term-time-only",
              text: "Term-time only"
            },
            {
              value: "phased-retiree",
              text: "Phased retiree"
            },
            {
              value: "career-break",
              text: "Career break"
            }
          ]
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What are your new contracted hours per week?"
          },
          classes: "govuk-input--width-5",
          id: "hours",
          name: "hours",
          suffix: {
            text: "hours"
          },
          spellcheck: false
        }) }}


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
