{% extends "layout.html" %}

{% block pageTitle %}
New job - working pattern
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="new-job-grade" method="post">

        {{ govukCheckboxes({
          idPrefix: "working-pattern",
          name: "working-pattern",
          fieldset: {
            legend: {
              text: "What is your new working pattern?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "full-time",
              text: "Full-time"
            },
            {
              value: "part-time",
              text: "Part-time"
            },
            {
              value: "job-share",
              text: "Job-share"
            },
            {
              value: "compressed-hours",
              text: "Compressed-hours"
            },
            {
              value: "annual-hours",
              text: "Annual hours"
            },
            {
              value: "term-time-only",
              text: "Term-time only"
            },
            {
              value: "phased-retiree",
              text: "Phased retiree"
            },
            {
              value: "career-break",
              text: "Career break"
            }
          ]
        }) }}




        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
