{% extends "layout.html" %}

{% block pageTitle %}
What is your new working pattern
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="new-job-grade" method="post">

        {% set parttimeHtml %}
        {{ govukInput({
          id: "parttime",
          name: "parttime",
          label: {
            text: "What is your full time equivalant contracted hours?",
            isPageHeading: true
          },
          suffix: {
            text: "hours"
          },
          classes: "govuk-input--width-2",
          spellcheck: false
        }) }}

        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "working-pattern",
          name: "working-pattern",
          fieldset: {
            legend: {
              text: "What is your new working pattern?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "full-time",
              text: "Full-time"
            },
            {
              value: "part-time",
              text: "Part-time",
              conditional: {
                html: parttimeHtml
              }
            },
            {
              value: "job-share",
              text: "Job-share"
            },
            {
              value: "compressed-hours",
              text: "Compressed-hours"
            },
            {
              value: "annual-hours",
              text: "Annual hours"
            },
            {
              value: "term-time-only",
              text: "Term-time only"
            },
            {
              value: "phased-retiree",
              text: "Phased retiree"
            },
            {
              value: "career-break",
              text: "Career break"
            }
          ]
        }) }}




        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
