{% extends "layout.html" %}

{% block pageTitle %}
What is the agreed salary for your new role
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="student-loan" method="post">

        {{ govukInput({
          id: "cost",
          name: "cost",
          label: {
            text: "What is the agreed salary for your new role?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-!-width-one-quarter",
          spellcheck: false
        }) }}





        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
