{% extends "layout.html" %}

{% block pageTitle %}
Page title
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="new-job-working-pattern" method="post">

        {{ govukDateInput({
          id: "date-of-transfer",
          namePrefix: "date-of-transfer",
          fieldset: {
            legend: {
              text: "What is your agreed start date for your new role?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 12 3 2022"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
