{% extends "layout.html" %}

{% block pageTitle %}
Is this your first job since 6th April 2021?
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="line-manager-details" method="post">



{{ govukRadios({
idPrefix: "where-do-you-live",
name: "where-do-you-live",
fieldset: {
  legend: {
    text: "Is this your first job since 6th April 2021?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }


},

hint: {
  text: "This information is essential to ensure that your tax information is shared correctly with HMRC"
},
items: [
  {
    value: "Statement-A",
    text: "Yes"
  },
  {
    value: "Statement-B",
    text: "No"
  }
]
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
