{% extends "layout.html" %}

{% block pageTitle %}
Workplace adjustment
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="start-date" method="post">

        {% set yesHtml %}
        {{ govukTextarea({
          id: "yes-adjustment",
          name: "yes-adjustment",
          rows: "8",
          label: {
            classes: "govuk-label--l",
            isPageHeading: false
          },
          hint: {
            text: "Provide any additional information concerning your workplace adjustment"
          }
        }) }}
        {% endset -%}



        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Do you require a formal workplace adjustment?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No"

            }
          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
