{% extends "layout.html" %}

{% block pageTitle %}
  Have you submitted a change of circumstance form?
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/service/check-answers" method="post">


        {% set unsureHtml %}

        <p class="govuk-body">
          You can find out by....
        </p>
        {% endset -%}

        {% set noHtml %}

        <p class="govuk-body">
          If you have not submitted a change of circumstances form please visit: https://www.gov.uk/government/publications/change-of-personal-circumstances
        </p>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "more-clearance",
          name: "more-clearance",
          fieldset: {
            legend: {
              text: "Have you submitted a change of circumstances form?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes"
            },

            {
              value: "no",
              text: "No",
              conditional: {
                html: noHtml }
            }


          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
