{% extends "layout.html" %}

{% block pageTitle %}
  Which Government department do you currently work for?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="upload" method="post">
<h1 class="govuk-heading-l">Current department details</h1>

{{ govukInput({
  label: {
    text: "Current department employee number"
  },
   classes: "govuk-input--width-10",
  id: "event-name",
  name: "event-name"
}) }}



        {% set otherHtml %}
        <div class="govuk-input--width-30">
          <label for="autocomplete-default" class="govuk-label">Enter a department</label>
          <div id="department" class="autocomplete-wrapper"></div>
        </div>
        <script src="/public/javascripts/accessible-autocomplete.js"></script>
        <script src="/public/javascripts/department.js"></script>
        {% endset -%}

        {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "current-department",
  name: "current-department",
  fieldset: {
    legend: {
      text: "Which Government department do you currently work for?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "co",
      text: "Cabinet Office (CO)"
    },
    {
      value: "ho",
      text: "Home Office (HO)"
    },
    {
      value: "ipo",
      text: "Intellectual Property Office (IPO)"
    },
    {
      value: "met",
      text: "Ministry of Justice (MOJ)"
    },
    {
      value: "other",
      text: "Other",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

</form>

</div>
</div>

{% endblock %}
