{% extends "layout.html" %}

{% block pageTitle %}
  Has there been any relevant changes to your personal circumstances since you last submitted a vetting application?
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/service/security-details" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "relevant-changes",
          name: "relevant-changes",
          fieldset: {
            legend: {
              text: "Has there been any relevant changes to your personal circumstances since you last submitted a vetting application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, arrest/ caution/ criminal conviction, marriage/ civil partnership, substantial change in financial situation"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
