{% extends "layout.html" %}

{% block pageTitle %}
  Current level of security clearance
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/service/sc-answer" method="post">

        {{ govukRadios({
          idPrefix: "clearance",
          name: "clearance",
          fieldset: {
            legend: {
              text: "What level of security clearance do you currently hold?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "bpss",
              text: "Baseline Personnel Security Standard (BPSS)"
            },
            {
              value: "ctc",
              text: "Counter Terrorism Check (CTC)"
            },
            {
              value: "sc",
              text: "Security Clearance (SC)"
            },
            {
              value: "esc",
              text: "enhanced Security Clearance (eSC)"
            },
            {
              value: "dv",
              text: "Developed Vetting (DV)"
            }
            ,
            {
              value: "edv",
              text: "enhanced Developed Vetting (eDV)"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
