{% extends "layout.html" %}

{% block pageTitle %}
  Where is your place of birth? - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="relevant-changes" method="post">

<h1 class="govuk-heading-l">Where is your place of birth?</h1>
{{ govukInput({
  label: {
    text: "Town or city"
  },
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width-20"
}) }}


      <div class="govuk-form-group">
        <div class="govuk-input--width-20">
  <label class="govuk-label" for="width-10">
    Country
  </label>
  <div id="country" class="autocomplete-wrapper"></div>
</div>
</div>
<script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/country.js"></script>


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
