{% extends "layout.html" %}

{% block pageTitle %}
  Have you undergone BPSS screening? - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="security-clearance" method="post">


        {% set unsureHtml %}

        <p class="govuk-body">
          Refer to your line manager
        </p>
        {% endset -%}



        {{ govukRadios({
          idPrefix: "bpss",
          name: "bpss",
          fieldset: {
            legend: {
              text: "Have you undergone Baseline Personnel Security Standards (BPSS) screening in the past 3 years?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "unsureHtml",
              text: "I'm not sure",
              conditional: {
                html: unsureHtml
              }
            }

          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Helpful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list
    govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/government/publications/government-baseline-personnel-security-standard" class="govuk-link" rel="noreferrer noopener" target="_blank">BPSS Guidance (opens in new tab)</a>
          </ul>

        </nav>
      </aside>
    </div>

  </div>


{% endblock %}
