{% extends "layout.html" %}

{% block pageTitle %}
  What are your personal details - Transfer an employee across the Civil Service - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
    {% include "includes/user-bar.html" %}

  <!--<a class="govuk-back-link" href="javascript:history.back()">Back</a>-->
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/section-1/current-department" method="post">

        <h1 class="govuk-heading-l">
          When did you first join the Civil Service?
        </h1>

          {{ govukDateInput({
     id: "cs-start-date",
     namePrefix: "cs-start-date",
     fieldset: {
       legend: {
         text: "Start date",
         isPageHeading: false,
         classes: "govuk-fieldset__legend"
       }
     },
     hint: {
       text: "For example, 30 3 2020"
     }
   }) }}

        {{ govukButton({
           text: "Continue"
         }) }}

      </form>

    </div>
  </div>

{% endblock %}
