{% extends "layout.html" %}

{% block pageTitle %}
What is your current grade? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="current-job" method="post">

        {% set otherHtml %}

        <div class="govuk-form-group govuk-input--width-30">
  <label class="govuk-label" for="event-name"></label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "grade",
          name: "grade",
          fieldset: {
            legend: {
              text: "What is your current grade?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [

            {
              value: "aa",
              text: "Administrative Assistant (AA) equivalent"
            },
            {
              value: "ao",
              text: "Administrative Officer (AO) equivalent"
            },
            {
              value: "eo",
              text: "Executive Officer (EO) equivalent"
            },
            {
              value: "heo",
              text: "Higher Executive Officer (HEO) equivalent"
            },
            {
              value: "seo",
              text: "Senior Executive Officer (SEO) equivalent"
            },
            {
              value: "g7",
              text: "Grade 7 equivalent"
            },
            {
              value: "g6",
              text: "Grade 6 equivalent"
            },
            {
              value: "pb1/1a",
              text: "Senior Civil Servant - Deputy Director (PB1/1A)"
            },
            {
              value: "pb2",
              text: "Senior Civil Servant - Director (PB2)"
            },
            {
              value: "pb3",
              text: "Senior Civil Servant - Director General (PB3)"
            },
            {
              value: "perm",
              text: "Senior Civil Servant - Permanent Secretary"
            },
            {
              value: "other-grade",
              text: "Other equivalent grade",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
