{% extends "layout.html" %}

{% block pageTitle %}
  Does your new role require a higher level of security clearance? - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="security-details-answer" method="post">

{% set yesHtml %}
        <p class="govuk-body">
          You will need to complete a new NSV application in addition to this form. Your vacancy holder will arrange this as necessary.
        </p>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "more-clearance",
          name: "more-clearance",
          fieldset: {
            legend: {
              text: "Does your new role require a higher level of security clearance?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
  text: "The job advert for your new role should contain the level of security clearance you need. Contact your vacancy holder if you cannot find this."
},

          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No"
            
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
