{% extends "layout.html" %}

{% block pageTitle %}
  Which Government department do you currently work for?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="new-dept" method="post">

<div class="govuk-form-group">
            <label for="autocomplete-default" class="govuk-label govuk-label--l">Which Government department are you moving to?</label>
      <div class="govuk-input--width-30">
        <div id="department" class="autocomplete-wrapper"></div>
        </div>
        </div>

        <script src="/public/javascripts/accessible-autocomplete.js"></script>
        <script src="/public/javascripts/department.js"></script>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

</form>

</div>
</div>

{% endblock %}
