{% extends "layout.html" %}

{% block pageTitle %}
  What are your personal details - Transfer an employee across the Civil Service - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
    {% include "includes/user-bar.html" %}

<!--<a class="govuk-back-link" href="javascript:history.back()">Back</a>-->
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/section-1/current-department" method="post">

        {% if errorName == true or errorDob == true or errorEmail == true or errorNin == true%}
          {{ govukErrorSummary({
                 titleText: "There is a problem",
                 errorList: errorList
               }) }}
        {% endif %}

        <h1 class="govuk-heading-l">
          Personal details
        </h1>

{{ govukSelect({
  id: "title",
  name: "title",
  label: {
    text: "Title"
  },
  items: [
    {
      value: "select",
      text: "Select",
      selected: true
    },
    {
      value: "mr",
      text: "Mr"
    },
    {
      value: "mrs",
      text: "Mrs"
    },
    {
      value: "ms",
      text: "Ms"
    },
    {
      value: "miss",
      text: "Miss"
    },
    {
      value: "mx",
      text: "Mx"
    },
    {
      value: "dr",
      text: "Dr"
    }
  ]
}) }}

        {% if errorName == true %}

          {{ govukInput({
              label: {
                text: "Full name"
              },
              classes: "govuk-input--width-20",
              id: "full-name",
              name: "full-name",
              errorMessage: {
                text: "Enter your full name"
              }
            }) }}
        {% else %}
          {{ govukInput({
              label: {
                text: "First name"
              },
              classes: "govuk-input--width-20",
              id: "first-name",
              name: "first-name"
            }) }}
            {{ govukInput({
              label: {
                text: "Middle name"
              },
              classes: "govuk-input--width-20",
              id: "mid-name",
              name: "mid-name"
            }) }}
            {{ govukInput({
              label: {
                text: "Last name"
              },
              classes: "govuk-input--width-20",
              id: "last-name",
              name: "last-name"
            }) }}
            {{ govukInput({
              label: {
                text: "Preferred name"
              },
              classes: "govuk-input--width-20",
              id: "pref-name",
              name: "pref-name"
            }) }}
        {% endif %}

        {% if errorDob == true %}

          {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Date of birth",
                isPageHeading: false,
                classes: "govuk-fieldset__legend"
              }
            },
            hint: {
              text: "For example, 31 3 1980"
            },
            errorMessage: {
              text: "Date of birth must include a year"
            },
            items: [
   {
     classes: "govuk-input--width-2",
     name: "day"
   },
   {
     classes: "govuk-input--width-2",
     name: "month"
   },
   {
     classes: "govuk-input--width-4 govuk-input--error",
     name: "year"
   }
 ]
          }) }}
          
        {% else %}
          {{ govukDateInput({
     id: "dob",
     namePrefix: "dob",
     fieldset: {
       legend: {
         text: "Date of birth",
         isPageHeading: false,
         classes: "govuk-fieldset__legend"
       }
     },
     hint: {
       text: "For example, 31 3 1980"
     }
   }) }}
      {% endif %}

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Current nationality
  </label>
  <select class="govuk-select" id="sort" name="nationality">
  <option value="please select" selected>Select</option>
  <option value="afghan">Afghan</option>
  <option value="albanian">Albanian</option>
  <option value="algerian">Algerian</option>
  <option value="american">American</option>
  <option value="andorran">Andorran</option>
  <option value="angolan">Angolan</option>
  <option value="antiguans">Antiguans</option>
  <option value="argentinean">Argentinean</option>
  <option value="armenian">Armenian</option>
  <option value="australian">Australian</option>
  <option value="austrian">Austrian</option>
  <option value="azerbaijani">Azerbaijani</option>
  <option value="bahamian">Bahamian</option>
  <option value="bahraini">Bahraini</option>
  <option value="bangladeshi">Bangladeshi</option>
  <option value="barbadian">Barbadian</option>
  <option value="barbudans">Barbudans</option>
  <option value="batswana">Batswana</option>
  <option value="belarusian">Belarusian</option>
  <option value="belgian">Belgian</option>
  <option value="belizean">Belizean</option>
  <option value="beninese">Beninese</option>
  <option value="bhutanese">Bhutanese</option>
  <option value="bolivian">Bolivian</option>
  <option value="bosnian">Bosnian</option>
  <option value="brazilian">Brazilian</option>
  <option value="british">British</option>
  <option value="bruneian">Bruneian</option>
  <option value="bulgarian">Bulgarian</option>
  <option value="burkinabe">Burkinabe</option>
  <option value="burmese">Burmese</option>
  <option value="burundian">Burundian</option>
  <option value="cambodian">Cambodian</option>
  <option value="cameroonian">Cameroonian</option>
  <option value="canadian">Canadian</option>
  <option value="cape verdean">Cape Verdean</option>
  <option value="central african">Central African</option>
  <option value="chadian">Chadian</option>
  <option value="chilean">Chilean</option>
  <option value="chinese">Chinese</option>
  <option value="colombian">Colombian</option>
  <option value="comoran">Comoran</option>
  <option value="congolese">Congolese</option>
  <option value="costa rican">Costa Rican</option>
  <option value="croatian">Croatian</option>
  <option value="cuban">Cuban</option>
  <option value="cypriot">Cypriot</option>
  <option value="czech">Czech</option>
  <option value="danish">Danish</option>
  <option value="djibouti">Djibouti</option>
  <option value="dominican">Dominican</option>
  <option value="dutch">Dutch</option>
  <option value="east timorese">East Timorese</option>
  <option value="ecuadorean">Ecuadorean</option>
  <option value="egyptian">Egyptian</option>
  <option value="emirian">Emirian</option>
  <option value="equatorial guinean">Equatorial Guinean</option>
  <option value="eritrean">Eritrean</option>
  <option value="estonian">Estonian</option>
  <option value="ethiopian">Ethiopian</option>
  <option value="fijian">Fijian</option>
  <option value="filipino">Filipino</option>
  <option value="finnish">Finnish</option>
  <option value="french">French</option>
  <option value="gabonese">Gabonese</option>
  <option value="gambian">Gambian</option>
  <option value="georgian">Georgian</option>
  <option value="german">German</option>
  <option value="ghanaian">Ghanaian</option>
  <option value="greek">Greek</option>
  <option value="grenadian">Grenadian</option>
  <option value="guatemalan">Guatemalan</option>
  <option value="guinea-bissauan">Guinea-Bissauan</option>
  <option value="guinean">Guinean</option>
  <option value="guyanese">Guyanese</option>
  <option value="haitian">Haitian</option>
  <option value="herzegovinian">Herzegovinian</option>
  <option value="honduran">Honduran</option>
  <option value="hungarian">Hungarian</option>
  <option value="icelander">Icelander</option>
  <option value="indian">Indian</option>
  <option value="indonesian">Indonesian</option>
  <option value="iranian">Iranian</option>
  <option value="iraqi">Iraqi</option>
  <option value="irish">Irish</option>
  <option value="israeli">Israeli</option>
  <option value="italian">Italian</option>
  <option value="ivorian">Ivorian</option>
  <option value="jamaican">Jamaican</option>
  <option value="japanese">Japanese</option>
  <option value="jordanian">Jordanian</option>
  <option value="kazakhstani">Kazakhstani</option>
  <option value="kenyan">Kenyan</option>
  <option value="kittian and nevisian">Kittian and Nevisian</option>
  <option value="kuwaiti">Kuwaiti</option>
  <option value="kyrgyz">Kyrgyz</option>
  <option value="laotian">Laotian</option>
  <option value="latvian">Latvian</option>
  <option value="lebanese">Lebanese</option>
  <option value="liberian">Liberian</option>
  <option value="libyan">Libyan</option>
  <option value="liechtensteiner">Liechtensteiner</option>
  <option value="lithuanian">Lithuanian</option>
  <option value="luxembourger">Luxembourger</option>
  <option value="macedonian">Macedonian</option>
  <option value="malagasy">Malagasy</option>
  <option value="malawian">Malawian</option>
  <option value="malaysian">Malaysian</option>
  <option value="maldivan">Maldivan</option>
  <option value="malian">Malian</option>
  <option value="maltese">Maltese</option>
  <option value="marshallese">Marshallese</option>
  <option value="mauritanian">Mauritanian</option>
  <option value="mauritian">Mauritian</option>
  <option value="mexican">Mexican</option>
  <option value="micronesian">Micronesian</option>
  <option value="moldovan">Moldovan</option>
  <option value="monacan">Monacan</option>
  <option value="mongolian">Mongolian</option>
  <option value="moroccan">Moroccan</option>
  <option value="mosotho">Mosotho</option>
  <option value="motswana">Motswana</option>
  <option value="mozambican">Mozambican</option>
  <option value="namibian">Namibian</option>
  <option value="nauruan">Nauruan</option>
  <option value="nepalese">Nepalese</option>
  <option value="new zealander">New Zealander</option>
  <option value="ni-vanuatu">Ni-Vanuatu</option>
  <option value="nicaraguan">Nicaraguan</option>
  <option value="nigerien">Nigerien</option>
  <option value="north korean">North Korean</option>
  <option value="northern irish">Northern Irish</option>
  <option value="norwegian">Norwegian</option>
  <option value="omani">Omani</option>
  <option value="pakistani">Pakistani</option>
  <option value="palauan">Palauan</option>
  <option value="panamanian">Panamanian</option>
  <option value="papua new guinean">Papua New Guinean</option>
  <option value="paraguayan">Paraguayan</option>
  <option value="peruvian">Peruvian</option>
  <option value="polish">Polish</option>
  <option value="portuguese">Portuguese</option>
  <option value="qatari">Qatari</option>
  <option value="romanian">Romanian</option>
  <option value="russian">Russian</option>
  <option value="rwandan">Rwandan</option>
  <option value="saint lucian">Saint Lucian</option>
  <option value="salvadoran">Salvadoran</option>
  <option value="samoan">Samoan</option>
  <option value="san marinese">San Marinese</option>
  <option value="sao tomean">Sao Tomean</option>
  <option value="saudi">Saudi</option>
  <option value="scottish">Scottish</option>
  <option value="senegalese">Senegalese</option>
  <option value="serbian">Serbian</option>
  <option value="seychellois">Seychellois</option>
  <option value="sierra leonean">Sierra Leonean</option>
  <option value="singaporean">Singaporean</option>
  <option value="slovakian">Slovakian</option>
  <option value="slovenian">Slovenian</option>
  <option value="solomon islander">Solomon Islander</option>
  <option value="somali">Somali</option>
  <option value="south african">South African</option>
  <option value="south korean">South Korean</option>
  <option value="spanish">Spanish</option>
  <option value="sri lankan">Sri Lankan</option>
  <option value="sudanese">Sudanese</option>
  <option value="surinamer">Surinamer</option>
  <option value="swazi">Swazi</option>
  <option value="swedish">Swedish</option>
  <option value="swiss">Swiss</option>
  <option value="syrian">Syrian</option>
  <option value="taiwanese">Taiwanese</option>
  <option value="tajik">Tajik</option>
  <option value="tanzanian">Tanzanian</option>
  <option value="thai">Thai</option>
  <option value="togolese">Togolese</option>
  <option value="tongan">Tongan</option>
  <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
  <option value="tunisian">Tunisian</option>
  <option value="turkish">Turkish</option>
  <option value="tuvaluan">Tuvaluan</option>
  <option value="ugandan">Ugandan</option>
  <option value="ukrainian">Ukrainian</option>
  <option value="uruguayan">Uruguayan</option>
  <option value="uzbekistani">Uzbekistani</option>
  <option value="venezuelan">Venezuelan</option>
  <option value="vietnamese">Vietnamese</option>
  <option value="welsh">Welsh</option>
  <option value="yemenite">Yemenite</option>
  <option value="zambian">Zambian</option>
  <option value="zimbabwean">Zimbabwean</option>
</select>
</div>

   {% if errorEmail == true %}

   {{ govukInput({
     label: {
       text: "Email address"
     },
     hint: {
       text: "We’ll use this to .."
     },  classes: "govuk-input--width-20",
     id: "email",
     name: "email",
     type: "email",
     autocomplete: "email",
     errorMessage: {
       text: "Enter an email address in the correct format, like name@example.com"
     },
     spellcheck: false
   }) }}
   {% else %}

   {{ govukInput({
     label: {
       text: "Primary email address"
     },
     hint: {
       text: "For example, your work email address"
     },
       classes: "govuk-input--width-20",
     id: "primary-email",
     name: "primary-email",
     type: "email",
     autocomplete: "email",
     spellcheck: false
   }) }}

   {{ govukInput({
     label: {
       text: "Secondary email address"
     },
     hint: {
       text: "For example, a personal email address"
     },
       classes: "govuk-input--width-20",
     id: "secondary-email",
     name: "secondary-email",
     type: "email",
     autocomplete: "email",
     spellcheck: false
   }) }}
   {% endif %}

       {% if errorNin == true %}

   {{ govukInput({
       label: {
         text: "National Insurance Number"
       },
       hint: {
         text: "For example QQ 12 34 56 C"
       },
       classes: "govuk-input--width-20",
       id: "national-insurance",
       name: "national-insurance",
       errorMessage: {
         text: "Enter your National Insurance Number"
       }
     }) }}

     {% else %}

       {{ govukInput({
           label: {
             text: "National Insurance Number"
           },
           hint: {
             text: "For example QQ 12 34 56 C"
           },
           classes: "govuk-input--width-10",
           id: "national-insurance",
           name: "national-insurance"
         }) }}
     {% endif %}

        {{ govukButton({
           text: "Save and continue"
         }) }}

      </form>

    </div>
  </div>

{% endblock %}
