{% extends "layout.html" %}

{% block pageTitle %}
  Since your last vetting application, are there any relevant changes to your circumstances?
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="workplace-adjustment" method="post">

        {% set textHtml %}
        <br>
        <p class="govuk-body">These may have an effect on how long it takes to transfer, the security clearance you need and your elgibility to transfer.</p>

        <p class="govuk-body">Relevant changes of circumstances include:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>nationality</li>
                      <li>lived outside the UK for more than 6 months</li>
                      <li>arrest</li>
                      <li>caution</li>
                      <li>criminal conviction</li>
                      <li>marriage or civil partnership</li>
                      <li>substantial change in financial situation</li>

                    </ul>
  {% endset -%}

  {% set yesHtml %}

  <p class="govuk-body">
    If you haven't already, please submit a <a href="https://www.gov.uk/government/publications/change-of-personal-circumstances" target="_blank">change of circumstances form </a>
  </p>
  {% endset -%}

        {{ govukRadios({
          idPrefix: "changes",
          name: "changes",
          fieldset: {
            legend: {
              text: "Since your last vetting application, are there any relevant changes to your circumstances?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: textHtml
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml }
            },

            {
              value: "no",
              text: "No"
            }


          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
