{% extends "layout.html" %}

{% block pageTitle %}
  Has there been any relevant changes to your personal circumstances since you last submitted a vetting application?
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/section-2/transfer-details" method="post">

        {% set textHtml %}
        <p class="govuk-body">For example:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>nationality</li>
                <li>lived outside the UK for more than 6 months</li>
                <li>arrest</li>
                <li>caution</li>
                <li>criminal conviction</li>
                <li>marriage or civil partnership</li>
                <li>substantial change in financial situation</li>

              </ul>
  {% endset -%}

  {% set yesHtml %}

  <p class="govuk-body">
    If you haven't already, please submit a <a href="https://www.gov.uk/government/publications/change-of-personal-circumstances" target="_blank">change of circumstances form </a>
  </p>
  {% endset -%}

        {{ govukRadios({
          idPrefix: "changes",
          name: "changes",
          fieldset: {
            legend: {
              text: "Has there been any relevant changes to your personal circumstances since you last submitted a vetting application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: textHtml
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml }
            },

            {
              value: "no",
              text: "No"
            }


          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
