{% extends "layout.html" %}

{% block pageTitle %}
  Current level of security clearance - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="new-department" method="post">


        {% set unsureHtml %}

        <p class="govuk-body">

          Find information about <a href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels" target="_blank">United Kingdom Security Vetting clearance levels</>
        </p>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "clearance",
          name: "clearance",
          fieldset: {
            legend: {
              text: "What level of security clearance do you currently hold?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "ctc",
              text: "Counter Terrorism Check (CTC)"
            },
            {
              value: "sc",
              text: "Security Check (SC)"
            },
            {
              value: "esc",
              text: "enhanced Security Check (eSC)"
            },
            {
              value: "dv",
              text: "Developed Vetting (DV)"
            }
            ,
            {
              value: "edv",
              text: "enhanced Developed Vetting (eDV)"
            },
            {
              value: "none",
              text: "None of the above"

              }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Helpful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list
    govuk-!-font-size-16">
            <li>
              <a href="hhttps://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels" class="govuk-link" rel="noreferrer noopener" target="_blank">National Security Vetting Clearance Levels (opens in new tab)</a>
          </ul>

        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
