{% extends "layout.html" %}

{% block pageTitle %}
  Task list - Transfer an employee across the Civil Service
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Transfer an employee across the Civil Service
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Transfer incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 2 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> About you
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="view-your-answers" class="govuk-body govuk-!-font-size-19 govuk-link--no-visited-state govuk-link"><strong>View your answers</strong></a>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Personal details
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <!--<li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Your Civil Service details
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>-->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Your current job
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Your new department
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Workplace adjustment
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>

          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> About your transfer
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="/section-2/transfer-details" aria-describedby="eligibility-status">
                  Transfer details
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Not started</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="/section-2/start-date" aria-describedby="eligibility-status">
                  Your new job
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Not started</strong>
          </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="/section-2/student-loan" aria-describedby="eligibility-status">
                  Student loan
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Not started</strong>
          </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="/section-2/tax" aria-describedby="eligibility-status">
                  New starter tax declaration
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Not started</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="/section-2/declaration" aria-describedby="eligibility-status">
                  Your transfer declaration
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Not started</strong>
          </li>

          </ul>
        </li>


        <!--<li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Current role
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  When did you first join the Civil Service?
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Which grade were you on when you first joined the Civil Service?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Current job details

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

                  What is your current grade?

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                Will you be carrying over any annual leave?
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
              Are you on a form of parental leave?
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
        </li>


          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Transfer details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Transfer details

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Do you require a formal workplace adjustment?

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                What is your agree start date for your new role?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                What is your new working pattern?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                What is your new grade?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                What is the agreed salary for your new role?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Student loan and pension
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Do you have a student loan which is not fully paid?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Are you a member of a pension scheme?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Is this your first job since 6th April?
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Current Line manager
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Current line managers information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Leave entitlement
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Recruitment and probation
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Disciplinary procedures
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Electronic signature
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> HR / Shared Services
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Civil Service dates
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Salary, allowances and benefits
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Pension Details
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Terms and conditions
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Absence history
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Electronic signature
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>-->

      </ol>
    </div>
  </div>

{% endblock %}
