{% extends "layout.html" %}

{% block pageTitle %}
  Does your new role require a higher level of security clearance?
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}
 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="line-manager-details" method="post">
<h1 class="govuk-heading-l"> Upload your two most recent payslips</h1>

<div id="upload-hint" class="govuk-hint">
  We will use your payslips to verify your salary
 </div>

  {{ govukFileUpload({
    id: "file-upload-1",
    name: "file-upload-1",
    label: {
      text: "Upload a file"
    }
  }) }}

  {{ govukTextarea({
    name: "add-comments",
    id: "add-comments",
    label: {
      text: "Do you need to add comments? (optional)"
    }
  }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
