{% extends "layout.html" %}

{% block pageTitle %}
  Vacancy holder - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
    {% include "includes/user-bar.html" %}

<!--<a class="govuk-back-link" href="javascript:history.back()">Back</a>-->
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/section-1/higher-security-clearance" method="post">

        {{ govukInput({
          label: {
            text: "What is the vacancy holders email address?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "A copy of the details you have provided will be sent to the vacancy holder"
          },

          classes: "govuk-input--width-20",
          id: "email",
          name: "email"
        }) }}

        {{ govukButton({
           text: "Save and continue"
         }) }}

      </form>

    </div>
  </div>

{% endblock %}
