{% extends "layout.html" %}

{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Transfer an employee across the Civil Service
        <span class="govuk-caption-xl">Version 6</span>
      </h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Currently being user tested
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#other">
              Guidance and email notifications (work in progress)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="code">
        <h2 class="govuk-heading-l">
            Scenario
          </h2>

          <p class="govuk-body">A member of staff currently works at Department for Education. They have been offered a new job and will transfer to Cabinet Office.</p>

          <h2 class="govuk-heading-l">Shortcuts</h2>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Section 1 - Transferee
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <ul class="govuk-list govuk-list--number">
        <li>
          <a href="/start">Start</a>
        </li>
        <li>
          <a href="/sign-in">Sign in</a>
        </li>
        <li>
          <a href="/section-1/task-list-start">Task list start</a>
        </li>
        <li>
          <a href="/section-1/personal-details">Personal details</a>
        </li>
        <li>
          <a href="/section-1/current-department">Current department details</a>
        </li>
        <li>
          <a href="/section-1/current-grade">Current grade</a>
        </li>
        <li>
          <a href="/section-1/current-job">Current job details</a>
        </li>
        <!--<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">-->
          <li>
          <a href="/section-1/upload">Upload recent payslips</a>
        </li>
        <li>
        <a href="/section-1/line-manager-details">Current line manager details</a>
      </li>
      <li>
      <a href="/section-1/bpss">BPSS screening</a>
    </li>
<li>
<a href="/section-1/security-clearance">Current level of security clearance</a>
</li>
<li>
<a href="/section-1/new-department">New department</a>
</li>
<li>
<a href="/section-1/vacancy-holder">Vacancy holder</a>
</li>
<li>
<a href="/section-1/higher-security-clearance">Higher level of security clearance</a>
</li>
<li>
<a href="/section-1/birth">Place of birth</a>
</li>
<li>
<a href="/section-1/relevant-changes">Relevant changes to circumstances</a>
</li>
<li>
<a href="/section-1/workplace-adjustment">Workplace adjustment</a>
</li>
<li>
<a href="/section-1/upload-workplace-adjusment">Upload files or add details about workplace adjustment</a>
</li>
<li>
<a href="/section-1/check-your-answers">Check your answers</a>
</li>
<li>
<a href="/section-1/task-list-end">Task list end</a>
</li>
</ul>
    </div>
  </div>
  </div>

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
<h2 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
  Section 2 - Transferee
</span>
</h2>
</div>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

<ul class="govuk-list govuk-list--number">
       <li>
      <a href="/section-2/start-section2">Start</a>
      </li>
      <li>
      <a href="/section-2/sign-in-section2">Sign in</a>
      </li>
      <li>
      <a href="/section-2/task-list-start">Task list start</a>
      </li>
      <li>
      <a href="/section-2/transfer-details">Transfer details</a>
      </li>
      <li>
      <a href="/section-2/start-date">Agreed start date for new role</a>
      </li>
      <li>
      <a href="/section-2/new-job-agreed-salary">Agreed salary for new role</a>
      </li>
      <li>
      <a href="/section-2/new-job-working-pattern">New job working pattern</a>
      </li>
      <li>
      <a href="/section-2/new-job-grade">New job grade</a>
      </li>
      <li>
        <a href="/section-2/bank-details">Bank details for payroll</a>
      </li>
      <li>
        <a href="/section-2/student-loan">Student loan</a>
      </li>
      <li>
      <a href="/section-2/tax">Job status since 6th April</a>
      </li>
      <li>
      <a href="/section-2/declaration">Declaration</a>
      </li>
      <li>
      <a href="/section-2/check-your-answers">Check your answers</a>
      </li>
      <li>
      <a href="/section-2/task-list-end">Task list end</a>
      </li>
</ul>
</div>
</div>
</div>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
<h2 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Section 3 - Current Line Manager
</span>
</h2>
</div>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

<ul class="govuk-list govuk-list--number">
  <li>
    <a href="/section-3/start-section3">Start</a>
    </li>
<li>
<a href="/section-3/sign-in-line-manager">Sign in</a>
    </li>
    <li>
    <a href="/section-3//task-list-start">Task list start</a>
    </li>
    <li>
      <a href="/section-3/review-employee-answers">Review employee answers</a>
    </li>
    <li>
    <a href="/section-3/competition">Recruitment through fair and open competition</a>
    </li>
    <li>
    <a href="/section-3/end-loan">Loan end date</a>
    </li>
    <li>
    <a href="/section-3/probation">Probation</a>
    </li>
    <li>
    <a href="/section-3/disciplinary">Disciplinary</a>
    </li>
    <li>
    <a href="/section-3/line-manager-declaration">Declaration</a>
    </li>
    <li>
      <a href="/section-3/check-your-answers">Check your answers</a>
    </li>
    <li>
      <a href="/section-3/task-list-end">Task list end</a>
    </li>
</ul>
</div>
</div>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
<h2 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Section 4 - Current HR/Shared Services department
</span>
</h2>
</div>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

<ul class="govuk-list govuk-list--number">
    <li>
      <a href="/section-4/start-section4">Start</a>
    </li>
    <li>
      <a href="/section-4/sign-in">Sign in</a>
    </li>
    <li>
      <a href="/section-4/task-list-start">Task list start</a>
    </li>
    <li>
      <a href="/section-4/review-employee-answers">Review employee answers</a>
    </li>
    <li>
      <a href="/section-4/review-lm-answers">Review line manager answers</a>
    </li>
    <li>
      <a href="/section-4/civil-service-dates">Civil Service start date</a>
    </li>
    <li>
      <a href="/section-4/loan-end-dates">Loan end date</a>
    </li>
    <li>
      <a href="/section-4/contract-type">Contract type</a>
    </li>
    <li>
      <a href="/section-4/parental-leave">Parental leave</a>
    </li>
    <li>
      <a href="/section-4/absence-history">Absence history</a>
    </li>
    <li>
      <a href="/section-4/section-break-1">Section break 1 (blue screen)</a>
    </li>
    <li>
      <a href="/section-4/pay-zone">Current pay zone</a>
    </li>
    <li>
      <a href="/section-4/allowances">Allowances</a>
    </li>
    <li>
      <a href="/section-4/benefits">Advances of salary and deductions</a>
    </li>
    <li>
      <a href="/section-4/pay-award">Pay award</a>
    </li>
    <li>
      <a href="/section-4/terms-conditions">Terms and conditions of employment</a>
    </li>
    <li>
      <a href="/section-4/section-break-2">Section break 2 (blue screen)</a>
    </li>
    <li>
      <a href="/section-4/pensions-member">Pension scheme member</a>
    </li>
    <li>
      <a href="/section-4/which-pension-optout">Pension scheme opt-out</a>
    </li>
    <li>
      <a href="/section-4/partial-retirement">Partial retirement</a>
    </li>
    <li>
      <a href="/section-4/partial-retirement-alpha">Partial retirement (Alpha journey)</a>
    </li>
    <li>
      <a href="/section-4/partial-retirement-partnership">Partial retirement (Partnership journey)</a>
    </li>
    <li>
      <a href="/section-4/added-years">Added Years</a>
    </li>
    <li>
      <a href="/section-4/added-pension">Added Pension</a>
    </li>
    <li>
      <a href="/section-4/epa">Effective Pension Age (EPA)</a>
    </li>
    <li>
      <a href="/section-4/section-break-3">Section break 3 (blue screen)</a>
    </li>
    <li>
      <a href="/section-4/avc">Additional Voluntary Contributions (AVCs)</a>
    </li>
    <li>
      <a href="/section-4/completed-by">Completed by</a>
    </li>
    <li>
      <a href="/section-4/check-your-answers">Check your answers</a>
    </li>
    <li>
      <a href="/section-4/task-list-end">Task list end</a>
    </li>
</ul>
</div>
</div>
</div>

<li>
<a href="/accessibility-statement">Accessibility statement</a>
</li>
</div>

<div class="govuk-tabs__panel" id="other">
<h2 class="govuk-heading-m">Email notifications</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/notification/complete-section-1.html">Notification to complete section 1</a>
  </li>
  <li>
    <a class="govuk-link" href="/notification/complete-section-2.html">Notification to complete section 2</a>
  </li>
  <li>
    <a class="govuk-link" href="/notification/complete-section-3.html">Notification to complete section 3</a>
  </li>
  <li>
    <a class="govuk-link" href="/notification/complete-section-4.html">Notification to complete section 4</a>
  </li>
</ul>


<h2 class="govuk-heading-m">Vacancy holder </H2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/notification/vacancy-holder-review/review-employee-answers">View employee answers for pre-employment checks</a>
  </li>
  </ul>

<h2 class="govuk-heading-m">Guidance (for existing/spreadsheet service)</h2>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/guidance/employee-guidance">Employee guidance</a>
  </li>
  <li>
    <a class="govuk-link"  href="/guidance/employee-steps-guidance">Employee steps guidance</a>
  </li>
  <li>
    <a class="govuk-link" href="/guidance/general-principles-guidance">General principles guidance</a>
  </li>
  <li>
    <a class="govuk-link"  href="/guidance/NSV-guidance">NSV guidance</a>
</ul>
</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
<table class="govuk-table version-history">
<caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 1</a>
</th>
<td class="govuk-table__cell">31/01/22 - 02/02/22</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 1
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">
        <li>
          First version of the prototype
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Tested with 5 users
  </strong>
</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 2</a>
</th>
<td class="govuk-table__cell">15/02/22 - 17/02/22</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 2
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">

        <li>
          Confluence table
          <a href="https://cshrdigitalandanalysis.atlassian.net/l/c/Y6a2gLMY">Table of changes</a>,
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Tested with 4 users
  </strong>
</td>
</tr>

<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 3</a>
</th>
<td class="govuk-table__cell">31/02/22 - 08/04/22</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 3
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">
        <li>
          Confluence table
          <a href="https://cshrdigitalandanalysis.atlassian.net/l/c/yhF0pzKp">Table of changes</a>,
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Tested with 7 users
  </strong>
</td>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 4</a>
</th>
<td class="govuk-table__cell">13/04/22 - 06/05/22</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 4
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">
        <li>
          Confluence table
          <a href="https://cshrdigitalandanalysis.atlassian.net/l/c/yhF0pzKp">Table of changes</a>,
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Tested with 14 users
  </strong>
</td>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 5</a>
</th>
<td class="govuk-table__cell">To do</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 5
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">
        <li>
          To do
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    To do
  </strong>
</td>

</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
