{% extends "layout.html" %}

{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Transfer an employee across the Civil Service
        <span class="govuk-caption-xl">Version 4</span>
      </h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Currently being user tested
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#other">
              Other user journeys (work in progress)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="code">
          <h2 class="govuk-heading-l">
            Scenario
          </h2>

          <p class="govuk-body">To Be Confirmed</p>

          <h3 class="govuk-heading-m">Task</h3>
          <p class="govuk-body">
            Can you show and tell me how you would fill out the form?</p>

          <h2 class="govuk-heading-l">Shortcuts</h2>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Section 1
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <ul class="govuk-list govuk-list--number">
        <li>
          <a href="/start">Start</a>
        </li>
        <li>
          <a href="/section-1/task-list-start">Task list</a>
        </li>
        <li>
          <a href="/section-1/personal-details">Personal details</a>
        </li>
        <li>
          <a href="/section-1/current-department">Which Government department do you currently work for?</a>
        </li>
        <li>
          <a href="/section-1/upload">Upload</a>
        </li>
        <li>
          <a href="/section-1/new-department">Which Government department are you moving to?</a>
          <br><span>If not Home Office or DFE</span>
        </li>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li>
          <a href="/section-1/security-clearance">What level of security clearance do you currently hold?</a>
          <br><span>If baseline selected progress straight to answers</span>
        </li>
        <li>
        <a href="/section-1/higher-security-clearance">Does your new role require a higher level of security clearance?</a>
      </li>
      <li>
      <a href="/section-1/birth">Where is your place of birth?</a>
    </li>
<li>
<a href="/section-1/relevant-changes">Has there been any relevant changes to your personal circumstances since you last submitted a vetting application?</a>
</li>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<li>
<a href="/section-1/check-your-answers">Check your answers</a>
</li>
<li>
<a href="/section-1/task-list-end">Task list</a>
</li>
</ul>
    </div>
  </div>
  </div>




  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
<h2 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
  Section 2
</span>
</h2>
</div>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

<ul class="govuk-list govuk-list--number">
<li>
  <a href="/sign-in">Log in</a>
      </li>
      <li>
        <a href="/section-2/task-list-start">Task list</a>
      </li>
      <li>
      <a href="/section-2/civil-service-dates">Civil service start dates</a>
      </li>
      <li>
      <a href="/section-2/grade-when-appointed">Grade when appointed</a>
      </li>
      <li>
      <a href="/section-2/current-job">Current job</a>
      </li>
      <li>
      <a href="/section-2/current-grade">Current grade</a>
      </li>
      <li>
      <a href="/section-2/annual-leave">Annual leave</a>
      </li>
      <li>
        <a href="/section-2/parental-leave">Parental leave</a>
      </li>
      <ul class="govuk-list">
      <li>
        <a href="/section-2/parental-leave-details">Parental leave details</a>
      </li>
      </ul>
      <li>
      <a href="/section-2/transfer-details">Transfer details</a>
      </li>
      <li>
      <a href="/section-2/workplace-adjustment">Workplace adjustment</a>
      </li>
      <li>
      <a href="/section-2/start-date">Start date</a>
      </li>
      <li>
      <a href="/section-2/new-job-working-pattern">New job working pattern</a>
      </li>
      <li>
      <a href="/section-2/new-job-grade">New job grade</a>
      </li>
      <li>
      <a href="/section-2/new-job-agreed-salary">New job salary</a>
      </li>
      <li>
      <a href="/section-2/bank-details">Bank details (To do)</a>
      </li>
      <li>
      <a href="/section-2/student-loan">Student loan</a>
      </li>
      <ul class="govuk-list">
      <li>
      <a href="/section-2/student-loan-plan">Student loan details</a>
      </li>
      </ul>
      <li>
      <a href="/section-2/pensions-member">Pension</a>
      </li>
      <ul class="govuk-list">
      <li>
      <a href="/section-2/which-pension">Which pension</a>
      </li>
      <li>
      <a href="/section-2/partial-retirement">Retirement</a>
      </li>
      </ul>
      <li>
      <a href="/section-2/tax">Tax</a>
      </li>
      <li>
      <a href="/section-2/line-manager-details">Line manager</a>
</li>
</ul>
</div>
</div>
</div>



<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
<h2 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Section 3
</span>
</h2>
</div>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

<ul class="govuk-list govuk-list--number">
<li>
<a href="/section-3/sign-in-line-manager">Log in</a>
    </li>
    <li>
      <a href="/section-3/check-employee-answers">Check employee answers</a>
    </li>
    <li>
    <a href="/section-3/competition">Was this individual recruited through fair and open competition?</a>
    </li>
    <li>
    <a href="/section-3/probation">Has the individual passed their probation?</a>
    </li>
    <li>
    <a href="/section-3/probation-end">What is their end date?</a>
    </li>
    <li>
    <a href="/section-3/disciplinary">Does the employee have any live disciplinary warning for misconduct?</a>
    </li>
    <li>
    <a href="/section-3/end-loan">End date of proposed loan</a>
    </li>
    <li>
      <a href="/section-3/line-manager-declaration">I have agreed to the date of transfer submitted by employee</a>
    </li>
    <ul class="govuk-list">

    </ul>

</ul>
</div>
</div>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
<h2 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Section 4
</span>
</h2>
</div>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

<ul class="govuk-list govuk-list--number">
    <li>
      <a href="/section-4/sign-in">Log in</a>
    </li>
    <li>
      <a href="/section-4/task-list-start">Task list</a>
    </li>
    <ul class="govuk-list">
    </ul>
</ul>
</div>
</div>
</div>


<li>
<a href="/accessibility-statement">Accessibility statement</a>
</li>

</div>
<div class="govuk-tabs__panel" id="other">

</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
<table class="govuk-table version-history">
<caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 1</a>
</th>
<td class="govuk-table__cell">31/01/22 - 4/02/22</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 1
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">

        <li>
          Added the following pages
          <a href="">GOV.UK start page</a>,
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Tested with 5 users
  </strong>
</td>
</tr>

<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 2</a>
</th>
<td class="govuk-table__cell">31/01/22 - 4/02/22</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 2
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">

        <li>
          Confluence table
          <a href="https://cshrdigitalandanalysis.atlassian.net/l/c/Y6a2gLMY">Table of changes</a>,
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Tested with 5 users
  </strong>
</td>
</tr>


<th scope="row" class="govuk-table__header">
  <a href="https://transfer-an-employee-v1.herokuapp.com/">Version 3</a>
</th>
<td class="govuk-table__cell">31/01/22 - 4/02/22</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 3
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">

        <li>
          Confluence table
          <a href="https://cshrdigitalandanalysis.atlassian.net/l/c/yhF0pzKp">Table of changes</a>,
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Tested with 5 users
  </strong>
</td>
</tr>


</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
