{% extends "layout.html" %}

{% block pageTitle %}
  Transfer an employee across the Civil Service
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Transfer an employee across the Civil Service
        <span class="govuk-caption-xl">Version 1</span>
      </h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Currently being user tested
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#other">
              Other user journeys (work in progress)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="code">
          <h2 class="govuk-heading-l">
            Scenario
          </h2>

          <p class="govuk-body">You current work at MOJ. You have applied for and been offered a job at HMRC. To progress your application, you have been asked to complete an online form.</p>

          <h3 class="govuk-heading-m">Task</h3>
          <p class="govuk-body">
            Can you show and tell me how you would..?</p>

          <h3 class="govuk-heading-m">Shortcuts</h3>
          <ul class="govuk-list govuk-list--number">
            <li>
              <a href="/start">Start</a>
            </li>
            <li>
              <a href="/service/personal-details">Personal details</a>
            </li>
            <li>
              <a href="/service/home-address">What is your home address?</a>
            </li>
            <ul>
              <li>
                <a href="/service/confirm-home-address">Confirm your home address</a>
              </li>
               <li>
                <a href="/service/manual-home-address">Enter your home address manually</a>
              </li>
              </ul>
            <li>
              <a href="/service/upload">Upload</a>
            </li>
            <li>
              <a href="/service/current-department">Which Government department do you currently work for?</a>
            </li>
            <li>
              <a href="/service/new-department">Which Government department are you moving to?</a>
              <br><span>If not Home Office or DFE</span>
            </li>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <li>
              <a href="/service/security-clearance">What level of security clearance do you currently hold?</a>
              <br><span>If baseline selected progress straight to answers</span>
            </li>
            <li>
            <a href="/service/security-details">Does your new role require a higher level of security clearance?</a>
          </li>
          <li>
          <a href="/service/birth">Where is your place of birth?</a>
        </li>
        <li>
        <a href="/service/nationality">Has your nationality changed since you last applied for security clearance?</a>
      </li>
      <li>
      <a href="/service/lived-outside-uk">Have you lived outside the UK for more than 6 months in the last year?</a>
    </li>
    <li>
    <a href="/service/relevant-changes">Has there been any relevant changes to your personal circumstances since you last submitted a vetting application?</a>
  </li>
  <li>
  <a href="/service/change-of-circumstance-form">have you submitted a change of circumstances form?</a>
</li>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<li>
<a href="/service/check-answers">Check your answers</a>
</li>
<li>
  <a href="/task-list">Task list</a>
</li>

</div>
<div class="govuk-tabs__panel" id="other">

</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
<table class="govuk-table version-history">
<caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
<th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">
  <a href="">Version 1</a>
</th>
<td class="govuk-table__cell">N/A</td>
<td class="govuk-table__cell">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Changes included in version 1
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list--bulletlist">

        <li>
          Added the following pages
          <a href="">GOV.UK start page</a>,
        </li>
      </ul>
    </div>
  </details>
</td>
<td class="govuk-table__cell">
  <strong class="govuk-tag govuk-tag--green">
    Proof of Concept
  </strong>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
