{% extends "layout.html" %}

{% block pageTitle %}
Advances of salary and deductions - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="pay-award" method="post">
        <h1 class="govuk-heading-l">
          Advances of salary and deductions
        </h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              Does the employee have any advances of salary?
            </legend>
      <div id="changed-name-hint" class="govuk-hint">
           For example, season tickets, holiday advance, religious festival advance, cycle to work scheme.
         </div>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="consolidated" name="consolidated" type="radio" value="email" data-aria-controls="conditional-consolidated">
        <label class="govuk-label govuk-radios__label" for="consolidated">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-consolidated">
        <div class="govuk-form-group">

          <h1 class="govuk-heading-m">Advance of salary</h1>

          <label class="govuk-label" for="consolidated">
            Enter amount
          </label>
          <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-!-width-one-quarter" id="amount" name="amount" type="text" spellcheck="false">
        </div>

        <br>

          <label class="govuk-label" for="consolidated">
            Enter details
          </label>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
  </h1>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="3" aria-describedby="more-detail-hint"></textarea>
</div>

<hr>

<h1 class="govuk-heading-m">Advance of salary

  <span><a class="govuk-body govuk-link govuk-link--no-visited-state" href="#" style="float: right;">Remove</a></span>
    </h1>

<label class="govuk-label" for="consolidated">
            Enter amount
          </label>
          <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-!-width-one-quarter" id="amount" name="amount" type="text" spellcheck="false">
        </div>

        <br>

          <label class="govuk-label" for="consolidated">
            Enter details
          </label>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
  </h1>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="3" aria-describedby="more-detail-hint"></textarea>
</div>

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        href: 'benefits',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

    </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no-1" name="consolidated" type="radio" value="phone" data-aria-controls="conditional-no-1">
        <label class="govuk-label govuk-radios__label" for="no-1">
          No
        </label>
      </div>
    </div>

    <br>

    <div id="question-1" class="govuk-body">
      Does the employee have any further deductions?
      <p class="govuk-hint">For example, court orders.</p>
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="non-consolidated" name="non-consolidated" type="radio" value="email" data-aria-controls="conditional-non-consolidated">
        <label class="govuk-label govuk-radios__label" for="non-consolidated">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-non-consolidated">
        <div class="govuk-form-group">

          <h1 class="govuk-heading-m">Deduction</h1>

          <label class="govuk-label" for="consolidated">
            Enter amount
          </label>
          <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-!-width-one-quarter" id="amount" name="amount" type="text" spellcheck="false">
        </div>

        <br>

          <label class="govuk-label" for="consolidated">
            Enter details 
          </label>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
  </h1>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="7" aria-describedby="more-detail-hint"></textarea>
</div>

<hr>

<h1 class="govuk-heading-m">Deduction

  <span><a class="govuk-body govuk-link govuk-link--no-visited-state" href="#" style="float: right;">Remove</a></span>

    </h1>

<label class="govuk-label" for="consolidated">
            Enter amount
          </label>
          <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-!-width-one-quarter" id="amount" name="amount" type="text" spellcheck="false">
        </div>

        <br>

          <label class="govuk-label" for="consolidated">
            Enter details
          </label>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
  </h1>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="7" aria-describedby="more-detail-hint"></textarea>
</div>

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another',
        href: 'benefits',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
      }) }}
    </div>

        </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="non-consolidated-2" name="non-consolidated" type="radio" value="phone" data-aria-controls="conditional-non-consolidated-2">
        <label class="govuk-label govuk-radios__label" for="no-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
