{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Check your answers</h1>
          <form class="form" action="task-list-end" method="get">

          <!--<h2 class="govuk-heading-m">Employee answers</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reviewed and accepted
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Employee answers reviewed and accepted</span>
                  </a>
                </dd>
              </div>
            </dl>-->

            <h2 class="govuk-heading-m">Start, leave and absence dates</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Civil Service start date
                </dt>
                <dd class="govuk-summary-list__value">
                  11 July 2018
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Civil Service start date</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contract type
                </dt>
                <dd class="govuk-summary-list__value">
                  Permenant
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Contract type</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parental leave
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Parental leave</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Absence history
                </dt>
                <dd class="govuk-summary-list__value">
                  Absence 1<br>
                  01 January 2021 to 15 February 2021<br>
                  Absence type<br>
                  Other related information
                  <hr>
                  Absence 2<br>
                  30 July 2021 to 10 August 2021<br>
                  Absence type<br>
                  Other related information
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Absence history</span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Pay and contract details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pay zone
                </dt>
                <dd class="govuk-summary-list__value">
                  London<br>
                  £65,000 (substantive)
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Pay and contract details</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Allowances
                </dt>
                <dd class="govuk-summary-list__value">
                  Consolidated London weighting<br>
                  £3,500
                  <hr>
                  Enhancement<br>
                  £1,500
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Allowances</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Advances of salary or deductions
                </dt>
                <dd class="govuk-summary-list__value">
                  	Advance of salary 1<br>
                    £500<br>
                    Cycle to Work scheme
                    <hr>
                    Advance of salary 2<br>
                    £600<br>
                    Holiday advance
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Advances of salary or deductions</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pay award pending
                </dt>
                <dd class="govuk-summary-list__value">
                  	No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Pay award</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Terms and conditions of employment
                </dt>
                <dd class="govuk-summary-list__value">
                  	21 days Annual leave<br>
                    <hr>
                    Mobile grade<br>
                    <hr>
                    Modernised terms and conditions<br>
                    Details on pre-modernised terms
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Terms and conditions of employment</span>
                  </a>
                </dd>
              </div>

              </dl>

              <h2 class="govuk-heading-m">Employee pension details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pensions member
                </dt>
                <dd class="govuk-summary-list__value">
                  	Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Employee pension details</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pension scheme
                </dt>
                <dd class="govuk-summary-list__value">
                  	Alpha
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Pension scheme</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pension scheme start date
                </dt>
                <dd class="govuk-summary-list__value">
                  	01 January 2020
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Pension scheme start date</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Partial retirement
                </dt>
                <dd class="govuk-summary-list__value">
                  	No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Partial retirement</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Added Years
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Added Years</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Added Pension
                </dt>
                <dd class="govuk-summary-list__value">
                  	No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Added Pension</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Effective Pension Age
                </dt>
                <dd class="govuk-summary-list__value">
                  	Effective Pension Age (EPA)
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Effective Pension Age</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional Voluntary Contributions
                </dt>
                <dd class="govuk-summary-list__value">
                  	No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Additional Voluntary Contributions</span>
                  </a>
                </dd>
              </div>

            </dl>

            <h2 class="govuk-heading-m">Completed by</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date
                </dt>
                <dd class="govuk-summary-list__value">
                10 June 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Completed by</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                Sarah Phillips
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                katie.jones@moj.gov.uk
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Email address</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Exporting department
                </dt>
                <dd class="govuk-summary-list__value">
                MOJ
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Exporting department</span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Declaration</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Agreed to date of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Agreed to date of transfer</span>
                  </a>
                </dd>
              </div>
             </dl>

      <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Now submit this section</h2>

      <p>By submitting this section you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <p>A copy of the details you have provided will be sent to you and the employee</p>
      </div>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>

      </form>

    </div>
  </div>
{% endblock %}
