{% extends "layout.html" %}

{% block pageTitle %}
What is the employee's Civil Service start date? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What is the employee's Civil Service start date?
      </h1>
      <p class="govuk-body">This means the first day the employee worked in the Civil Service, even if this was in another role. We need this to confirm the employee's continuity of service. It has to go in their employment contract. </p>
      <form class="form" action="loan-end-dates" method="post">
        {{ govukDateInput({
          id: "date-of-transfer",
          namePrefix: "start-date",


          hint: {
            text: "For example, 27 03 2007"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
    
    <!--<div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Helpful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list
    govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels" class="govuk-link" rel="noreferrer noopener" target="_blank">National Security Vetting Clearance Levels (opens in new tab)</a>
          </ul>

        </nav>
      </aside>
    </div>-->

  </div>

{% endblock %}
