{% extends "layout.html" %}

{% block pageTitle %}
What is the employee's Civil Service start date? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What is the employee's Civil Service start date?
      </h1>
      <p class="govuk-body">This means the first day you worked in the Civil Service, even if this was in another role. We need this to confirm your continuity of service. It has to go in your employment contract. </p>
      <form class="form" action="loan-end-dates" method="post">
        {{ govukDateInput({
          id: "date-of-transfer",
          namePrefix: "start-date",


          hint: {
            text: "For example, 27 03 2007"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
