{% extends "layout.html" %}

{% block pageTitle %}
What is the employee’s current contract type? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar2.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="contract-type-answer" method="post">

{% set ftaHtml %}
{{ govukDateInput({
  id: "fta-end",
  namePrefix: "fta-end",
  fieldset: {
    legend: {
      text: "What is the end date?"
    }
  },
  hint: {
    text: "For example, 27 3 2023"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "contract-type",
  name: "contract-type",
  fieldset: {
    legend: {
      text: "What is the employee’s current contract type?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "permanent",
      text: "Permanent"
    },
    {
      value: "fta",
      text: "Fixed term appointment",
      conditional: {
        html: ftaHtml
      }
    }
  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
