{% extends "layout.html" %}

{% block pageTitle %}
Current pay zone
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="allowances" method="post">

{{ govukRadios({
  idPrefix: "pay-zone",
  name: "pay-zone",
  fieldset: {
    legend: {
      text: "What is the employee's current pay zone",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "national",
      text: "National"
    },
    {
      value: "london",
      text: "London"
    }

  ]
}) }}

{{ govukInput({
  id: "ft-salary",
  name: "ft-salary",
  label: {
    text: "Full time salary (substantive)",
    isPageHeading: true
  },
  hint: {
    text: "This excludes London weighting, allowances etc."
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-!-width-one-quarter",
  spellcheck: false
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
