{% extends "layout.html" %}

{% block pageTitle %}
What was the employee’s pension scheme start date? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="partial-retirement-alpha" method="post">

        {{ govukDateInput({
          id: "date-of-transfer",
          namePrefix: "start-date",
          fieldset: {
            legend: {
              text: "What was the employee’s pension scheme start date?",
                 isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }

          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
