{% extends "layout.html" %}

{% block pageTitle %}
  Review employee answers - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Review line manager answers</h1>
          <form class="form" action="task-list-mid" method="get">

      <h2 class="govuk-heading-m">Employee transfer</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Recruited through Fair and Open competition
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Employee recruited through Fair and Open competition</span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Probation details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End date of proposed loan
                </dt>
                <dd class="govuk-summary-list__value">
                  29 Jan 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">End date of proposed loan</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Probation passed
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Probation passed</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Probation end date
                </dt>
                <dd class="govuk-summary-list__value">
                  	29 Jan 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Probation end date</span>
                  </a>
                </dd>
              </div>
              </dl>

              <!--<h2 class="govuk-heading-m">Leave details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parental leave
                </dt>
                <dd class="govuk-summary-list__value">
                  	Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Annual leave</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parental leave details
                </dt>
                <dd class="govuk-summary-list__value">
                  	Maternity<br>
                    29 Jan 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Annual leave</span>
                  </a>
                </dd>
              </div>

            </dl>-->

            <h2 class="govuk-heading-m">Disciplinary details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Disciplinary warning for misconduct
                </dt>
                <dd class="govuk-summary-list__value">
                No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Disciplinary warning for misconduct</span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Line manager declaration</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Agreed to annual leave arrangements
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Agreed to annual leave arrangements</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Agreed to date of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    
                    <span class="govuk-visually-hidden">Agreed to date of transfer</span>
                  </a>
                </dd>
              </div>
             </dl>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        I have read and approve the line manager's answers
      </h1>
    </legend>
    <!--<div id="contact-hint" class="govuk-hint">
      Selecting 'Yes' means you have read and approve the employee's answers.
    </div>-->
    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes-approve" name="contact" type="radio" value="yes-approve">
        <label class="govuk-label govuk-radios__label" for="yes-approve">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
          </label>
        </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no-reject" name="contact" type="radio" value="text" data-aria-controls="conditional-no-reject">
        <label class="govuk-label govuk-radios__label" for="no-reject">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no-reject">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Enter comments to explain your decision for not approving the line manager's answers.
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8" aria-describedby="more-detail-hint"></textarea>
        </div>

      </div>
    </div>

  </fieldset>
</div>

<form action="task-list-mid" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>


  </div>
{% endblock %}
