{% extends "layout.html" %}

{% block pageTitle %}
Provide the employee’s tapered enrolment end date - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        {{ govukDateInput({
          id: "tapered-end",
          namePrefix: "tapered-end",
          fieldset: {
            legend: {
              text: "Provide the employee’s tapered enrolment end date if applicable",
                 isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }

          },
          hint: {
            text: "For example, 27 3 2023"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
