{% extends "layout.html" %}

{% block pageTitle %}
  Task list - Transfer an employee across the Civil Service - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Transfer an employee across the Civil Service
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Transfer incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 5 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number ">1. </span> Name this section
            </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="civil-service-dates" aria-describedby="eligibility-status">
                  Civil Service dates
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">Not started</strong>
            </li>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="absence-history" aria-describedby="eligibility-status">
                  Absence history
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">Not started</strong>
            </li>
            </li>
        </ul>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Name this section
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Salary, allowances and benefits
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Terms and conditions
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
          </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Name this section
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Pension details
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Added Years
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
          </li>
           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Added Pension
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
          </li>
           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Effective Pension Age (EPA)
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
          </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Name this section
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Additional voluntary contributions (AVCs)
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
           </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Name this section
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  Completed by
                </span>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
           </li>
          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
