{% extends "layout.html" %}

{% block pageTitle %}
  Task list - Transfer an employee across the Civil Service - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar2.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Transfer an employee across the Civil Service
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Transfer incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 5 of 5 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number ">1. </span> Start, leave and absence dates
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 22%;"><strong>View your answers</strong></a></span>
            </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="civil-service-dates" aria-describedby="eligibility-status">
                  Civil Service dates
                </a>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="absence-history" aria-describedby="eligibility-status">
                  Absence history
                </a>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            </li>
        </ul>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Pay and contract details
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 42.5%;"><strong>View your answers</strong></a></span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="pay-zone" aria-describedby="eligibility-status">
                  Salary, allowances and benefits
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="terms-conditions" aria-describedby="eligibility-status">
                  Terms and conditions
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Employee pension details
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 37%;"><strong>View your answers</strong></a></span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="pensions-member" aria-describedby="eligibility-status">
                  Pension details
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="added-years" aria-describedby="eligibility-status">
                  Added Years
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="added-pension" aria-describedby="eligibility-status">
                  Added Pension
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="epa" aria-describedby="eligibility-status">
                  Effective Pension Age (EPA)
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="avc" aria-describedby="eligibility-status">
                  Additional voluntary contributions (AVCs)
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Completed by
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 91.5%;"><strong>View your answers</strong></a></span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">
                  <a href="completed-by" aria-describedby="eligibility-status">
                  Your details
                  </a>
                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
          </ul>
        </li>

          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
