{% extends "layout.html" %}

{% block pageTitle %}
  Task list - Transfer an employee across the Civil Service - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar2.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Transfer an employee across the Civil Service
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Transfer incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 5 of 5 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number ">1. </span> Review transfer details
            <span><a class="govuk-body govuk-link" href="view-your-answers-approval" style="position: relative; left: 47%;"><strong>View your answers</strong></a></span>
            </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

                  Review employee answers

              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

                  Review line manager answers

              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            </li>
        </ul>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number ">2. </span> Start, leave and absence dates
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 22%;"><strong>View your answers</strong></a></span>
            </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

                  Civil Service dates

              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

                  Absence history

              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            </li>
        </ul>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Pay and contract details
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 42.5%;"><strong>View your answers</strong></a></span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Salary, allowances and benefits

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Terms and conditions

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Employee pension details
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 37%;"><strong>View your answers</strong></a></span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Pension details

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Added Years

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Added Pension

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Effective Pension Age (EPA)

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Additional voluntary contributions (AVCs)

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Completed by
            <span><a class="govuk-body govuk-link" href="view-your-answers" style="position: relative; left: 91.5%;"><strong>View your answers</strong></a></span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span class="app-task-list__task-name">

                  Your details

                </span>
              </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
           </li>
          </ul>
        </li>

          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
