{% extends "layout.html" %}

{% block pageTitle %}
Which pension scheme are you a member of? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="which-pension-answer" method="post">

        {{ govukRadios({
          idPrefix: "which-pension",
          name: "which-pension",
          fieldset: {
            legend: {
              text: "Which pension scheme is the employee a member of?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {

              value: "alpha",
              text: "Alpha"
            },
            {
              value: "partnership",
              text: "Partnership"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
