{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar.html" %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Check your answers</h1>
          <form class="form" action="confirmation" method="get">

          <!--<h2 class="govuk-heading-m">Employee answers</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reviewed and accepted
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Employee answers reviewed and accepted</span>
                  </a>
                </dd>
              </div>
            </dl>-->

            <h2 class="govuk-heading-m">Employee transfer</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Recruited through Fair and Open competition
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Employee recruited through Fair and Open competition</span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Probation details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End date of proposed loan
                </dt>
                <dd class="govuk-summary-list__value">
                  29 January 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">End date of proposed loan</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Probation passed
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Probation passed</span>
                  </a>
                </dd>
              </div>
              </dl>

              <!--<h2 class="govuk-heading-m">Leave details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parental leave
                </dt>
                <dd class="govuk-summary-list__value">
                  	Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Annual leave</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parental leave details
                </dt>
                <dd class="govuk-summary-list__value">
                  	Maternity<br>
                    29 January 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Annual leave</span>
                  </a>
                </dd>
              </div>

            </dl>-->

            <h2 class="govuk-heading-m">Disciplinary details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Disciplinary warning for misconduct
                </dt>
                <dd class="govuk-summary-list__value">
                No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Disciplinary warning for misconduct</span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Line manager declaration</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Agreed to annual leave arrangements
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Agreed to annual leave arrangements</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Agreed to date of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden">Agreed to date of transfer</span>
                  </a>
                </dd>
              </div>
             </dl>

      <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Now submit this section</h2>

      <p>By submitting this section you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <p>A copy of the details you have provided will be sent to you and the employee</p>
      </div>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>

      </form>

    </div>
  </div>
{% endblock %}
