{% extends "layout.html" %}

{% block pageTitle %}
Was this individual recruited through fair and open competition? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="probation" method="post">

        {% set noHtml %}

  {{ govukTextarea({
    name: "more-detail",
    id: "more-detail",

    hint: {
      text: "Please explain why. For example, managed move, surge support, etc."
    }
  }) }}
        {% endset -%}

{{ govukRadios({
  idPrefix: "competition",
  name: "competition",
  fieldset: {
    legend: {
      text: "Was the employee recruited to their current role through fair and open competition?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "If you are not sure, contact the employees HR department or the their original recruitment manager"
    },
  items: [
    {
      value: "yes",
      text: "Yes"

    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: noHtml
      }
    }
  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Helpful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list
    govuk-!-font-size-16">
            <li>
              <a href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/" class="govuk-link" rel="noreferrer noopener" target="_blank">Civil Service Commision - Recruitment Priciples (opens in new tab)</a>
          </ul>

        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
