{% extends "layout.html" %}

{% block pageTitle %}
Was this individual recruited through fair and open competition? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="end-loan" method="post">

        {% set unsureHtml %}

        <p class="govuk-body">
          Contact the employees HR department or the their original recruitment manager
        </p>
        {% endset -%}

        {% set noHtml %}

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  {{ govukTextarea({
    name: "more-detail",
    id: "more-detail",

    hint: {
      text: "Please explain why. e.g - managed move, surge support, etc."
    }
  }) }}
        {% endset -%}

{{ govukRadios({
  idPrefix: "competition",
  name: "competition",
  fieldset: {
    legend: {
      text: "For the employees current role - were they recruited to this role through fair and open competition?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: noHtml
      }
    },
    {
      value: "unsureHtml",
      text: "I'm not sure",
      conditional: {
        html: unsureHtml
      }
    }

  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
