{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation - GOV.UK
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% set serviceName %}
{% endset%}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Section 3 submitted"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We’ve sent a copy of Section 3 to your HR team/Shared Services.
  They will review Sections 1, 2 and 3.

      </p>

      <p class="govuk-body">They will then complete Section 4 which includes information about the employee’s:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>start date in the Civil Service</li>
  <li>loan end date (for employees already on loan to another department)</li>
  <li>contract type</li>
<li>parental leave details (if any)
<li>absence history
<li>pay zone allowances and advances of salary and deductions, pay award (if any)
<li>pension details
</ul>
<p class="govuk-body">
  We will email you to confirm when Section 4 has been completed.
  </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>

{% endblock %}
