{% extends "layout.html" %}

{% block pageTitle %}
Does the employee have any live disciplinary warning for misconduct?
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="line-manager-declaration" method="post">

{{ govukRadios({
  idPrefix: "disciplinary",
  name: "disciplinary",
  fieldset: {
    legend: {
      text: "Does the employee have any live disciplinary warning for misconduct?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }

  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
