{% extends "layout.html" %}

{% block pageTitle %}
What is their end date?
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/section-3/line-manager-checklist" method="post">

        {{ govukDateInput({
          id: "probation-end-date",
          namePrefix: "probation-end-date",
          fieldset: {
            legend: {
              text: "I have agreed to the date of transfer submitted by employee",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 12 3 2022"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
