{% extends "layout.html" %}

{% block pageTitle %}
What is their end date? - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar2.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="probation" method="post">

        {{ govukDateInput({
          id: "loan-end-date",
          namePrefix: "loan-end-date",
          fieldset: {
            legend: {
              text: "The employee has stated that they are transferring on loan. What is the end date?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 03 2022"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
