{% extends "layout.html" %}

{% block pageTitle %}
I have agreed to the date of transfer submitted by employee - GOV.UK
{% endblock %}

{% block beforeContent %}{% include "includes/phase-banner.html" %}{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="task-list-end" method="post">

<h1 class="govuk-heading-l">Declaration</h1>

<p class="govuk-body-l govuk-!-font-weight-bold">Annual leave arrangements</p>

<ul class="govuk-list govuk-list--bullet">
<li>Not all departments allow remaining annual leave to be transferred or paid.</li>
<li>Any transfer or payment of leave must be agreed between current and new line managers following departmental policies.</li>
<li>I confirm any annual leave arrangements have been agreed.</li>
</ul>

<br>

<p class="govuk-body-l govuk-!-font-weight-bold">Transfer date &nbsp;
  {%- from "govuk/components/tag/macro.njk" import govukTag -%}

  {{ govukTag({
    text:"29/01/2023"
  }) }}
</p>

<ul class="govuk-list govuk-list--bullet">
<li>I agree to the date of transfer submitted by the employee.</li>
</ul>

<br>

<button class="govuk-button" data-module="govuk-button">
Confirm
</button>
</div>

</form>

    </div>
  </div>

{% endblock %}
