{% extends "layout.html" %}

{% block pageTitle %}
  Review employee answers - GOV.UK
{% endblock %}

{% block beforeContent %}  {% include "includes/phase-banner.html" %}  {% include "includes/user-bar2.html" %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Review employee answers</h1>
          <form class="form" action="review-lm-answers" method="get">

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">
            Mrs
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details">
              Change
              <span class="govuk-visually-hidden">title</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details">
              Change
              <span class="govuk-visually-hidden"> first name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Middle name
          </dt>
          <dd class="govuk-summary-list__value">
            Jane
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details">
              Change
              <span class="govuk-visually-hidden"> middle name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            Phillips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details">
              Change
              <span class="govuk-visually-hidden"> last name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred name
          </dt>
          <dd class="govuk-summary-list__value">
            Sal
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details">
              Change
              <span class="govuk-visually-hidden"> preferred name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details">
              Change
              <span class="govuk-visually-hidden"> current nationality</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary email address
          </dt>
          <dd class="govuk-summary-list__value">
            sarah.phillips@work.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">primary email address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary email address
          </dt>
          <dd class="govuk-summary-list__value">
            sarah.phillips@personal.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">secondary email address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 C
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">national insurance number</span>
            </a>
          </dd>
        </div>


      </dl>

      <h2 class="govuk-heading-m">Civil Service details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Civil Service <br> start date
          </dt>
          <dd class="govuk-summary-list__value">
            28 July 2022
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden">Civil Service start date</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Current job details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current Department
          </dt>
          <dd class="govuk-summary-list__value">
            Home Office &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden"> current department</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            CAB1234567 &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden">employee number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current grade
          </dt>
          <dd class="govuk-summary-list__value">
            Senior Civil Servant - Permanent Secretary &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden">Current grade</span>
            </a>
          </dd>
        </div>

  <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Salary
          </dt>
          <dd class="govuk-summary-list__value">
            £45,000 &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
          </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Temporary promotion
          </dt>
          <dd class="govuk-summary-list__value">
            No &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden"> temporary promotion</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            On loan
          </dt>
          <dd class="govuk-summary-list__value">
            Yes &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden">on loan</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home Department
          </dt>
          <dd class="govuk-summary-list__value">
            Companies House &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden">Home Department</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Line manager name
          </dt>
          <dd class="govuk-summary-list__value">
            Joe Bloggs &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden"> Line manager name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Line manager email address
          </dt>
          <dd class="govuk-summary-list__value">
            joebloggs@homeoffice.gov.uk &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden"> Line manager email address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current level of security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            Baseline &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden"> Current level of security clearance</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">New job details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New department
          </dt>
          <dd class="govuk-summary-list__value">
            Department for Education &nbsp;

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
change
              <span class="govuk-visually-hidden"> New department</span>
            </a>
          </dd>
        </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start date
                </dt>
                <dd class="govuk-summary-list__value">
                  12 Mar 2022 &nbsp;

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
change
                    <span class="govuk-visually-hidden">Start date</span>
                  </a>
                </dd>
              </div>
      </dl>

            <h2 class="govuk-heading-m">Transfer details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Fixed term &nbsp;

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
change
                    <span class="govuk-visually-hidden">Type of transfer</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nature of transfer
                </dt>
                <dd class="govuk-summary-list__value">
                  Promotion &nbsp;

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
change
                    <span class="govuk-visually-hidden">Nature of transfer</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Redeployment move
                </dt>
                <dd class="govuk-summary-list__value">
                  No &nbsp;

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
change
                    <span class="govuk-visually-hidden">Redeployment move</span>
                  </a>
                </dd>
              </div>
            </dl>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        I have read and approve the employee's answers
      </h1>
    </legend>
    <!--<div id="contact-hint" class="govuk-hint">
      Selecting 'Yes' means you have read and approve the employee's answers.
    </div>-->
    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes-approve" name="contact" type="radio" value="yes-approve">
        <label class="govuk-label govuk-radios__label" for="yes-approve">
          Approved - no changes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
          </label>
        </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no-reject" name="contact" type="radio" value="text" data-aria-controls="conditional-no-reject">
        <label class="govuk-label govuk-radios__label" for="no-reject">
          Approved - with changes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
          </label>
        </div>

      </div>
    </div>

  </fieldset>
</div>

<form action="task-list-mid" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>


  </div>
{% endblock %}
